Repository pytorch/rl, pull requests merged in 2022-09, with the labels that each got.

#385 [Feature] static_seed flag for envs, vectorized envs and collectors
  test/mocking_classes.py
  test/test_collector.py
  test/test_env.py
  test/test_trainer.py
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#389 [Feature] Multi-images R3M
  test/test_transforms.py
  torchrl/data/tensor_specs.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#391 [Feature] Flatten multi-images in R3M
  test/test_transforms.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#387 [Feature] In-house functional modules for TorchRL using TensorDict
  test/test_functorch.py
  test/test_modules.py
  torchrl/data/tensordict/tensordict.py
  torchrl/modules/functional_modules.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/sequence.py
Labels: enhancement, CLA Signed

#397 [Quality] Code cleanup for fbsync
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux_optdeps/scripts/install.sh
  .circleci/unittest/linux_stable/scripts/install.sh
  packaging/build_wheels.sh
  test/test_cost.py
  test/test_exploration.py
  test/test_functorch.py
  test/test_helpers.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/data/tensor_specs.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/vec_env.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/replay_buffer.py
  torchrl/trainers/trainers.py
Labels: CLA Signed, quality

#374 [Doc] Add charts to examples
  examples/EXAMPLES.md
  examples/media/ant_chart.png
  examples/media/cheetah_chart.png
  examples/media/halfcheetah_chart.png
  examples/media/walker2d_chart.png
Labels: documentation, CLA Signed

#365 [Feature] Vectorized GAE
  test/test_cost.py
  torchrl/objectives/returns/advantages.py
  torchrl/objectives/returns/functional.py
  torchrl/objectives/returns/utils.py
Labels: enhancement, CLA Signed

#411 [BugFix] Temporarily fix gym to 0.25.1 to fix CI
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
Labels: CLA Signed

#410 [Naming] Recurse kwarg to match pytorch
  test/test_tensordict.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/functional_modules.py
Labels: CLA Signed, naming

#402 [Feature] Add all implemented loggers to the init of loggers
  test/test_trainer.py
  torchrl/trainers/loggers/__init__.py
Labels: bug, CLA Signed

#403 [BugFix] Fix gym 0.26 compatibility
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_optdeps/scripts/setup_env.sh
  .circleci/unittest/linux_stable/scripts/setup_env.sh
  test/smoke_test_deps.py
  test/test_env.py
  test/test_libs.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
Labels: bug, CLA Signed

#414 [BugFix] Remove submodules
  .gitmodules
Labels: CLA Signed, quality

#412 [Feature] lock tensordict when calling `share_memory_()`
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed

#409 [BugFix] Updated TensorDict.expand to work as Tensor.expand
  test/test_functorch.py
  test/test_tensordict.py
  test/test_tensordictmodules.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/common.py
  torchrl/modules/tensordict_module/common.py
  torchrl/objectives/costs/redq.py
  tutorials/demo.ipynb
Labels: bug, CLA Signed, bc breaking, quality

#415 [BugFix] Looser check for test_recorder assertion
  test/test_trainer.py
Labels: bug, CLA Signed, Tests, CI

#418 [Feature] Allow spec to be passed directly to exploration wrappers
  test/test_exploration.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/exploration.py
Labels: enhancement, CLA Signed

#421 [BugFix] Collector revert to default exploration mode if empty string is passed
  torchrl/collectors/collectors.py
Labels: CLA Signed

#422 [Naming] Rename _TargetNetUpdate to TargetNetUpdater, making it public
  torchrl/objectives/costs/utils.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/trainers.py
Labels: naming

#381 [Doc] Re-run tutorials
  torchrl/envs/libs/gym.py
  tutorials/coding_ddpg.ipynb
  tutorials/demo.ipynb
  tutorials/envs.ipynb
  tutorials/multi_task.ipynb
  tutorials/tensordict.ipynb
  tutorials/tensordictmodule.ipynb
Labels: documentation, CLA Signed

#423 Revert "[Doc] Re-run tutorials" (colab links broken)
  torchrl/envs/libs/gym.py
  tutorials/coding_ddpg.ipynb
  tutorials/demo.ipynb
  tutorials/envs.ipynb
  tutorials/multi_task.ipynb
  tutorials/tensordict.ipynb
  tutorials/tensordictmodule.ipynb
Labels: CLA Signed

#425 [Feature] Switch back to latest gym
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
Labels: CLA Signed

#413 [Feature] TensorDict without device
  test/test_cost.py
  test/test_exploration.py
  test/test_tensordict.py
  test/test_transforms.py
  torchrl/collectors/utils.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/tensordict/metatensor.py
  torchrl/data/tensordict/tensordict.py
  torchrl/modules/functional_modules.py
  torchrl/objectives/costs/ddpg.py
  torchrl/objectives/costs/dqn.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed, bc breaking

#427 Updated the README.md file
  README.md
Labels: CLA Signed

#404 [Feature] Adding support for initialising TensorDicts from nested dicts
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
  torchrl/data/utils.py
Labels: enhancement, CLA Signed

#430 [Features] Make image_size a cfg param
  test/test_trainer.py
  torchrl/trainers/helpers/envs.py
Labels: CLA Signed

#424 Make TensorDict.expand accept Sequence arguments
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
Labels: CLA Signed

#382 [Doc] Readme revamp for efficiency/modularity display
  README.md
Labels: documentation, CLA Signed

#428 [Feature] New `biased_softplus` semantic to allow for minimum scale setting
  test/test_distributions.py
  torchrl/modules/utils/mappings.py
Labels: CLA Signed

#434 [Tutorial] Re-run tutos
  torchrl/envs/libs/gym.py
  tutorials/coding_ddpg.ipynb
  tutorials/demo.ipynb
  tutorials/envs.ipynb
  tutorials/multi_task.ipynb
  tutorials/tensordict.ipynb
  tutorials/tensordictmodule.ipynb
Labels: documentation, CLA Signed

#429 [BugFix] mixed device_safe vs device
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/tensordict/tensordict.py
Labels: bug, CLA Signed

#441 [BugFix] Fixed Additive noise
  torchrl/modules/tensordict_module/exploration.py
Labels: CLA Signed

#439 [Tests] Test loggers video saving
  test/test_loggers.py
  torchrl/trainers/loggers/csv.py
  torchrl/trainers/loggers/tensorboard.py
  torchrl/trainers/loggers/wandb.py
Labels: CLA Signed, Tests

#440 [Refactor] Rename TensorDictSequence to TensorDictSequential
  README.md
  test/test_exploration.py
  test/test_functorch.py
  test/test_tensordictmodules.py
  torchrl/modules/models/exploration.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/trainers/helpers/models.py
  tutorials/demo.ipynb
  tutorials/multi_task.ipynb
  tutorials/tensordictmodule.ipynb
Labels: CLA Signed, naming

#438 [Refactor] Refactoring `set*()` methods for `TensorDictBase` class
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
Labels: CLA Signed, quality

#444 [Cleanup] Removing gym-retro interface
  README.md
  torchrl/envs/libs/gym.py
  torchrl/trainers/helpers/envs.py
Labels: CLA Signed

#447 [BugFix]: Fix additive noise
  test/test_exploration.py
  torchrl/modules/tensordict_module/exploration.py
Labels: CLA Signed

#449 [BugFix] CatTensors: Prepended `next_` to the out_key
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#450 [BugFix] Fix AdditiveGaussian exploration tests
  test/test_exploration.py
Labels: CLA Signed

#454 [BugFix] Wrong call to `device_safe` in replay buffer code
  torchrl/data/replay_buffers/replay_buffers.py
Labels: bug, CLA Signed

#375 [Doc] Add a knowledge base
  README.md
  knowledge_base/GYM.md
  knowledge_base/HABITAT.md
  knowledge_base/MUJOCO_INSTALLATION.md
  knowledge_base/PRO-TIPS.md
  knowledge_base/RESOURCES.md
Labels: documentation, CLA Signed

#458 [Feature] Allow for actions and rewards to be in the reset tensordict
  torchrl/envs/common.py
Labels: CLA Signed

#459 [Doc] Readme for knowledge base
  knowledge_base/README.md
  knowledge_base/RESOURCES.md
Labels: CLA Signed

#399 [Feature] Added `batch_lock` attribute in EnvBase
  test/mocking_classes.py
  test/test_env.py
  test/test_transforms.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
Labels: enhancement, CLA Signed

#461 [BugFix] deepcopy specs before transforming
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#463 [BugFix]: Fixed dm_control action type casting
  torchrl/trainers/helpers/envs.py
Labels: CLA Signed

#465 [Versioning] Version 0.0.2a0
  .github/workflows/wheels.yml
  version.txt
Labels: CLA Signed, versioning

#446 [CI, Doc] Update functorch source installation command
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux_optdeps/scripts/install.sh
  README.md
Labels: CLA Signed

#467 [BugFix] TransformedEnv attributes inheritance
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#469 [Feature] Cleanup mocking envs init and new
  test/mocking_classes.py
  test/test_collector.py
  test/test_helpers.py
Labels: CLA Signed

#471 Struct hydra collector
  examples/configs/collector/async_sync.yaml
  examples/configs/collector/sync_single.yaml
  examples/configs/collector/sync_sync.yaml
  examples/configs/config.yaml
  test/test_configs.py
Labels: CLA Signed

#432 [Logging]: implement MLFlow logging integration
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  test/test_loggers.py
  torchrl/trainers/loggers/mlflow.py
Labels: enhancement, CLA Signed

#473 [BugFix] MLFlow import fix
  torchrl/trainers/loggers/mlflow.py
Labels: bug, CLA Signed

#464 [Features]: Changed `_inplace_update ` cls parameter passing in `__new__`
  torchrl/envs/common.py
Labels: enhancement, CLA Signed

#476 [Feature] make ReplayBufferTrainer compatible with storing trajectories
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#474 [Tutorial] DQN tutorial
  tutorials/README.md
  tutorials/coding_dqn.ipynb
Labels: CLA Signed

#478 [Feature] reader hooks for GymLike
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
Labels: CLA Signed

#483 [BugFix] TensorSpec.zero(None) failure fix
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#485 [Feature] Replaced `device_safe()` with `device`
  test/test_tensordict.py
  torchrl/collectors/utils.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/tensordict/metatensor.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/common.py
  torchrl/envs/model_based/common.py
  torchrl/modules/functional_modules.py
  torchrl/objectives/costs/ddpg.py
  torchrl/objectives/costs/dqn.py
  torchrl/trainers/trainers.py
Labels: CLA Signed, bc breaking, quality

#456 [Feature]: `TensorDictPrimer` transform
  test/test_transforms.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/common.py
  torchrl/envs/libs/gym.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#480 [Feature]: `erase()` method for `torchrl.timeit`
  torchrl/__init__.py
Labels: CLA Signed

#482 [Feature] Added support for single collector in sync_async_collector
  torchrl/trainers/helpers/collectors.py
Labels: CLA Signed

#486 [BugFix] removing unwanted device_safe()
  test/test_modules.py
  torchrl/data/tensordict/tensordict.py
  torchrl/modules/planners/cem.py
Labels: CLA Signed

#481 [Refactoring] Refactored get_stats_random_rollout
  torchrl/trainers/helpers/envs.py
Labels: enhancement, CLA Signed

#487 [Feature] VIP Integration
  test/test_transforms.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
Labels: enhancement, CLA Signed

#489 [Refactoring] Minor tweaks to recorder and logger
  torchrl/record/recorder.py
  torchrl/trainers/helpers/logger.py
  torchrl/trainers/loggers/wandb.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#490 [Feature]: Deactivate typechecks in envs
  torchrl/envs/common.py
  torchrl/envs/model_based/common.py
Labels: enhancement, CLA Signed

#400 [BugFix] Vectorized td_lambda with gamma tensor does not match the serial version
  test/test_cost.py
  torchrl/objectives/returns/functional.py
  torchrl/objectives/returns/utils.py
Labels: CLA Signed

#491 [BugFix] Fix TensorDictPrimer init
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#493 Structured configs for replay buffer
  examples/configs/config.yaml
  examples/configs/replay_buffer/circular.yaml
  examples/configs/replay_buffer/prioritized.yaml
  test/test_configs.py
Labels: CLA Signed

#472 Structured hydra env
  examples/configs/config.yaml
  examples/configs/env/cartpole.yaml
  examples/configs/env/cheetah.yaml
  examples/configs/env/halfcheetah.yaml
  examples/configs/transforms/pixels.yaml
  examples/configs/transforms/state.yaml
  test/test_configs.py
Labels: CLA Signed

#477 [BugFix] Defaulting `passing_devices` to `None`
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed

#494 Revert "[BugFix] Defaulting `passing_devices` to `None`"
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: CLA Signed

#488 [BugFix] Multi-agent fixes
  torchrl/envs/common.py
  torchrl/modules/distributions/continuous.py
  tutorials/coding_ddpg.ipynb
  tutorials/nocturne.ipynb
Labels: bug, CLA Signed

#495 [BugFix] Defaulting `passing_devices` to `None`
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: CLA Signed

#497 [Feature] Lazy initialization of CatTensors
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#498 [Cleanup] Removing cuda 10.2 references
  .github/workflows/wheels.yml
  README.md
Labels: CLA Signed

#499 [BugFix] Migration to pytorch org
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  setup.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensor_specs.py
  torchrl/envs/gym_like.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/vip.py
  torchrl/modules/distributions/utils.py
  torchrl/modules/functional_modules.py
  torchrl/modules/tensordict_module/deprec.py
  tutorials/coding_ddpg.ipynb
  tutorials/coding_dqn.ipynb
  tutorials/demo.ipynb
  tutorials/envs.ipynb
  tutorials/multi_task.ipynb
  tutorials/tensordict.ipynb
  tutorials/tensordictmodule.ipynb
Labels: CLA Signed

#500 [Refactoring] Import at root to enable vmap monkey-patching
  test/_utils_internal.py
  test/mocking_classes.py
  test/test_collector.py
  test/test_functorch.py
  test/test_tensordict.py
  test/test_transforms.py
  torchrl/__init__.py
  torchrl/_utils.py
  torchrl/collectors/collectors.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/metatensor.py
  torchrl/data/tensordict/tensordict.py
  torchrl/data/tensordict/utils.py
  torchrl/envs/common.py
  torchrl/envs/vec_env.py
  torchrl/modules/__init__.py
  torchrl/modules/functional_modules.py
  torchrl/modules/models/exploration.py
  torchrl/modules/models/models.py
  torchrl/trainers/__init__.py
  torchrl/trainers/loggers/tensorboard.py
  torchrl/trainers/loggers/wandb.py
  torchrl/trainers/trainers.py
Labels: CLA Signed
