Repository pytorch/rl, pull requests merged in 2022-10, with the labels that each got.

#502 [BugFix] python version for linting checks
  .circleci/config.yml
Labels: CLA Signed

#330 [Feature] Replay Buffers refactor
  test/test_rb.py
  torchrl/data/replay_buffers/__init__.py
  torchrl/data/replay_buffers/rb_prototype.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/writers.py
Labels: enhancement, CLA Signed

#512 [Feature] Rename `step_tensordict` in `step_mdp`
  README.md
  docs/source/reference/envs.rst
  test/test_env.py
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/objectives/costs/deprecated.py
  torchrl/objectives/costs/dqn.py
  torchrl/objectives/costs/redq.py
  torchrl/objectives/costs/reinforce.py
  torchrl/objectives/costs/utils.py
  torchrl/objectives/returns/advantages.py
  tutorials/coding_ddpg.ipynb
  tutorials/coding_dqn.ipynb
  tutorials/demo.ipynb
  tutorials/envs.ipynb
Labels: CLA Signed, bc breaking, naming

#516 [Lint] re-instantiate F821
  setup.cfg
  torchrl/trainers/helpers/envs.py
Labels: CLA Signed, CI

#513 [BugFix] run_type_checks for TransformedEnvs
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#511 [BugFix] making first_dim and last_dim negative in FlattenObservation when a parent is set
  torchrl/envs/transforms/transforms.py
  torchrl/trainers/helpers/envs.py
Labels: bug, CLA Signed

#504 [Feature] Add info dict key-spec pairs to observation_spec
  test/test_env.py
  torchrl/envs/gym_like.py
Labels: enhancement, CLA Signed

#515 [BugFix] Changing the dm_control import to fail if not installed
  torchrl/envs/libs/dm_control.py
Labels: bug, CLA Signed

#523 [CI] Add coverage with codecov
  .circleci/config.yml
  README.md
Labels: CLA Signed, Tests, CI

#526 [Quality] Use relative imports for local c++ deps
  torchrl/csrc/segment_tree.h
Labels: CLA Signed, quality

#519 [Feature] Nightly release
  .github/workflows/nightly_build.yml
  README.md
  setup.py
Labels: CLA Signed, versioning

#522 [Feature] Add make_tensordict() function
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed

#532 [Doc] Misc readme fixes
  README.md
  examples/EXAMPLES.md
Labels: CLA Signed

#530 [BugFix] Replacing inference_mode decorator with no_grad to fix state_dict loading error
  torchrl/trainers/helpers/envs.py
Labels: CLA Signed

#531 [BugFix] Transformed ParallelEnv meta data are broken when passing to device
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
Labels: CLA Signed

#543 [BugFix] Fix colab link of coding_dqn.ipynb
  tutorials/coding_dqn.ipynb
Labels: CLA Signed

#535 [BugFix] Fix optional imports
  .circleci/unittest/linux_optdeps/scripts/environment.yml
  test/test_helpers.py
  test/test_loggers.py
Labels: CLA Signed

#541 minor test fix to pass ci
  examples/configs/replay_buffer/circular.yaml
  examples/configs/replay_buffer/prioritized.yaml
  test/test_configs.py
Labels: CLA Signed

#521 [BugFix] Restore missing keys in data collector output
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed

#545 [Lint] reorganize imports
  test/mocking_classes.py
  test/smoke_test.py
  test/smoke_test_deps.py
  test/test_collector.py
  test/test_cost.py
  test/test_distributions.py
  test/test_env.py
  test/test_exploration.py
  test/test_functorch.py
  test/test_helpers.py
  test/test_loggers.py
  test/test_modules.py
  test/test_postprocs.py
  test/test_rb.py
  test/test_shared.py
  test/test_tensor_spec.py
  test/test_tensordict.py
  test/test_tensordictmodules.py
  test/test_trainer.py
  test/test_transforms.py
Labels: CLA Signed, quality

#550 [Feature] checkpointing RewardNormalization
  test/test_trainer.py
  torchrl/trainers/trainers.py
Labels: CLA Signed

#553 [Feature] checkpointing ReplayBuffer
  test/test_trainer.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensordict/memmap.py
  torchrl/trainers/trainers.py
Labels: CLA Signed

#555 [Feature] checkpointing SubSampler
  test/test_trainer.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#524 [Feature] Implemented `device` argument for `modules.models`
  test/test_exploration.py
  test/test_modules.py
  torchrl/modules/models/exploration.py
  torchrl/modules/models/models.py
  torchrl/modules/models/utils.py
Labels: CLA Signed

#559 [BugFix] Fix ellipsis indexing of 2d TensorDicts
  torchrl/data/tensordict/utils.py
Labels: CLA Signed

#560 [BugFix] Additive gaussian exploration spec fix
  torchrl/modules/tensordict_module/exploration.py
Labels: bug, CLA Signed

#561 [BugFix] Disabling video step for wandb
  torchrl/trainers/loggers/wandb.py
Labels: bug, CLA Signed

#558 [BugFix] Various device fix
  test/test_exploration.py
  test/test_helpers.py
  test/test_tensordictmodules.py
  torchrl/collectors/collectors.py
  torchrl/data/tensor_specs.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/trainers/loggers/wandb.py
Labels: bug, CLA Signed

#546 [Feature] Allow collectors to accept regular modules as policies
  test/test_collector.py
  torchrl/collectors/collectors.py
  torchrl/modules/models/models.py
Labels: enhancement, CLA Signed

#563 Qmix networks
  examples/qmix/networks.py
Labels: CLA Signed

#568 Merge main
  .circleci/config.yml
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux_optdeps/scripts/environment.yml
  .circleci/unittest/linux_optdeps/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/run_test.sh
  .github/workflows/nightly_build.yml
  README.md
  test/mocking_classes.py
  test/smoke_test.py
  test/smoke_test_deps.py
  test/test_collector.py
  test/test_cost.py
  test/test_distributions.py
  test/test_env.py
  test/test_exploration.py
  test/test_functorch.py
  test/test_loggers.py
  test/test_modules.py
  test/test_postprocs.py
  test/test_rb.py
  test/test_shared.py
  test/test_tensor_spec.py
  test/test_tensordict.py
  test/test_tensordictmodules.py
  test/test_trainer.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/data/tensor_specs.py
  torchrl/data/tensordict/utils.py
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
  torchrl/modules/models/exploration.py
  torchrl/modules/models/utils.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/trainers/loggers/wandb.py
  tutorials/coding_dqn.ipynb
Labels: CLA Signed

#567 [BugFix] TensorDict comparison
  test/test_tensordict.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/tensordict.py
Labels: bug, enhancement, CLA Signed

#556 [Feature] Structured hydra config: Exploration
  examples/configs/config.yaml
  examples/configs/exploration/additive_gaussian.yaml
  examples/configs/exploration/e_greedy.yaml
  examples/configs/exploration/linear.yaml
  examples/configs/exploration/noisy_linear.yaml
  examples/configs/exploration/ou_process.yaml
  examples/configs/model/ppo/continuous.yaml
  examples/configs/model/ppo/discrete.yaml
  examples/configs/model/redq/continuous.yaml
  examples/configs/model/redq/discrete.yaml
  examples/configs/model/sac/continuous.yaml
  examples/configs/model/sac/discrete.yaml
  examples/configs/network/dqn/pixels.yaml
  examples/configs/network/dqn/state.yaml
  examples/configs/network/ppo/independent_pixels.yaml
  examples/configs/network/ppo/independent_state.yaml
  examples/configs/network/ppo/shared_pixels.yaml
  examples/configs/network/ppo/shared_state.yaml
  examples/configs/network/redq/independent_pixels.yaml
  examples/configs/network/redq/independent_state.yaml
  examples/configs/network/sac/independent_pixels.yaml
  examples/configs/network/sac/independent_state.yaml
  test/test_configs.py
Labels: CLA Signed

#571 [BugFix] Fix SyncDataCollector reset
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed

#572 [Doc] Banners on README.md
  README.md
Labels: CLA Signed

#573 [Feature] Log printing in alphabetical order when creating a replay buffer
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed

#574 [BugFix] Add eps to reward normalization
  torchrl/trainers/trainers.py
Labels: bug, CLA Signed

#578 [BugFix] Fix argument for PPOLoss.get_entropy_bonus()
  torchrl/objectives/costs/ppo.py
Labels: CLA Signed

#579 [Feature] Structured hydra config: Logger
  examples/configs/config.yaml
  examples/configs/logger/csv.yaml
  examples/configs/logger/mlflow.yaml
  examples/configs/logger/tensorboard.yaml
  examples/configs/logger/wandb.yaml
  test/test_configs.py
Labels: CLA Signed

#580 [Feature] Restructure torchrl/objectives
  README.md
  test/smoke_test.py
  test/test_cost.py
  torchrl/objectives/__init__.py
  torchrl/objectives/common.py
  torchrl/objectives/costs/__init__.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dqn.py
  torchrl/objectives/functional.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/__init__.py
  torchrl/objectives/value/advantages.py
  torchrl/objectives/value/functional.py
  torchrl/objectives/value/pg.py
  torchrl/objectives/value/returns.py
  torchrl/objectives/value/utils.py
  torchrl/objectives/value/vtrace.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
  tutorials/coding_ddpg.ipynb
  tutorials/coding_dqn.ipynb
  tutorials/demo.ipynb
Labels: enhancement, CLA Signed, bc breaking

#581 [Docs] Documentation revamp
  .github/workflows/docs.yml
  docs/source/conf.py
  docs/source/index.rst
  docs/source/reference/data.rst
  docs/source/reference/envs.rst
  docs/source/reference/index.rst
  docs/source/reference/modules.rst
  docs/source/reference/objectives.rst
  docs/source/reference/trainers.rst
  torchrl/objectives/utils.py
Labels: documentation, CLA Signed

#582 [Doc] Publishing on pytorch.org
  .github/workflows/docs.yml
  README.md
  docs/requirements.txt
  docs/source/_static/css/custom_torchrl.css
  docs/source/_static/img/pytorch-logo-dark.png
  docs/source/_static/img/pytorch-logo-dark.svg
  docs/source/_static/img/pytorch-logo-flame.png
  docs/source/_static/img/pytorch-logo-flame.svg
  docs/source/conf.py
  docs/source/index.rst
  docs/source/reference/objectives.rst
  torchrl/objectives/__init__.py
Labels: CLA Signed

#585 [Doc] Publishing on pytorch.org
  .github/workflows/docs.yml
  README.md
  docs/requirements.txt
  docs/source/_static/css/custom_torchrl.css
  docs/source/_static/img/pytorch-logo-dark.png
  docs/source/_static/img/pytorch-logo-dark.svg
  docs/source/_static/img/pytorch-logo-flame.png
  docs/source/_static/img/pytorch-logo-flame.svg
  docs/source/conf.py
  docs/source/index.rst
  docs/source/reference/objectives.rst
  torchrl/objectives/__init__.py
Labels: CLA Signed

#586 Revert "[Doc] Publishing on pytorch.org"
  .github/workflows/docs.yml
  README.md
  docs/requirements.txt
  docs/source/_static/css/custom_torchrl.css
  docs/source/_static/img/pytorch-logo-dark.png
  docs/source/_static/img/pytorch-logo-dark.svg
  docs/source/_static/img/pytorch-logo-flame.png
  docs/source/_static/img/pytorch-logo-flame.svg
  docs/source/conf.py
  docs/source/index.rst
  docs/source/reference/objectives.rst
  torchrl/objectives/__init__.py
Labels: CLA Signed

#587 [Doc] Publishing on pytorch.org
  .github/workflows/docs.yml
  README.md
  docs/requirements.txt
  docs/source/_static/css/custom_torchrl.css
  docs/source/_static/img/pytorch-logo-dark.png
  docs/source/_static/img/pytorch-logo-dark.svg
  docs/source/_static/img/pytorch-logo-flame.png
  docs/source/_static/img/pytorch-logo-flame.svg
  docs/source/conf.py
  docs/source/index.rst
  docs/source/reference/objectives.rst
  torchrl/objectives/__init__.py
Labels: CLA Signed

#590 [BugFix] Wrong stack import in tests
  test/test_tensordict.py
Labels: bug, CLA Signed

#589 [Feature] Exclude `"_"` out_keys in tensordictmodel
  test/test_tensordictmodules.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/tensordict_module/common.py
  tutorials/tensordict.ipynb
  tutorials/tensordictmodule.ipynb
Labels: enhancement, CLA Signed

#341 [Feature]: Dreamer support
  docs/source/reference/envs.rst
  docs/source/reference/index.rst
  docs/source/reference/modules.rst
  docs/source/reference/trainers.rst
  examples/dreamer/config.yaml
  examples/dreamer/dreamer.py
  examples/dreamer/dreamer_utils.py
  test/mocking_classes.py
  test/test_cost.py
  test/test_helpers.py
  test/test_modules.py
  torchrl/envs/__init__.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/model_based/common.py
  torchrl/envs/model_based/dreamer.py
  torchrl/modules/models/__init__.py
  torchrl/modules/models/model_based.py
  torchrl/objectives/__init__.py
  torchrl/objectives/dreamer.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/loggers/wandb.py
Labels: enhancement, CLA Signed, new algo

#595 [Doc] Missing doc for prototype RB
  docs/source/reference/data.rst
  torchrl/data/replay_buffers/__init__.py
Labels: CLA Signed

#594 [Feature] Update list of supported libraries
  torchrl/envs/utils.py
Labels: CLA Signed

#598 [BugFix] Fix timeit count registration
  test/test_helpers.py
  torchrl/_utils.py
Labels: CLA Signed

#600 [Feature] Collection envs config
  examples/configs/collection_env/parallel.yaml
  examples/configs/collection_env/parallel_batch.yaml
  examples/configs/collection_env/single.yaml
  examples/configs/collector/async_sync.yaml
  examples/configs/collector/sync_single.yaml
  examples/configs/collector/sync_sync.yaml
  examples/configs/config.yaml
  examples/configs/ddpg.yaml
  examples/configs/env/cartpole.yaml
  examples/configs/env/cheetah.yaml
  examples/configs/env/halfcheetah.yaml
  examples/configs/logger/csv.yaml
  examples/configs/logger/mlflow.yaml
  examples/configs/logger/tensorboard.yaml
  examples/configs/logger/wandb.yaml
  examples/configs/loss/ddpg_loss.yaml
  examples/configs/loss/dqn_loss.yaml
  examples/configs/loss/ppo_loss.yaml
  examples/configs/loss/redq_loss.yaml
  examples/configs/loss/sac_loss.yaml
  examples/ddpg/ddpg_struct.py
  test/test_configs.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/tensordict_module/helpers.py
  torchrl/trainers/loggers/wandb.py
Labels: CLA Signed

#603 [Naming] Renaming `ProbabilisticTensorDictModule` keys
  README.md
  test/test_cost.py
  test/test_exploration.py
  test/test_modules.py
  test/test_tensordictmodules.py
  torchrl/modules/models/exploration.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/trainers/helpers/models.py
  tutorials/coding_ddpg.ipynb
  tutorials/demo.ipynb
  tutorials/tensordictmodule.ipynb
Labels: CLA Signed, bc breaking, naming

#593 [Feature] Categorical encoding for action space
  docs/source/reference/data.rst
  test/mocking_classes.py
  test/test_actors.py
  test/test_cost.py
  test/test_env.py
  test/test_helpers.py
  test/test_modules.py
  test/test_tensor_spec.py
  test/test_trainer.py
  test/test_utils.py
  torchrl/_utils.py
  torchrl/data/tensor_specs.py
  torchrl/envs/libs/gym.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/objectives/dqn.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/models.py
Labels: enhancement, CLA Signed

#614 [BugFix] ReplayBuffer's storage now signal back when changes happen
  test/test_rb.py
  torchrl/data/replay_buffers/rb_prototype.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
Labels: bug, CLA Signed

#621 Typos in tensordict tutorial
  tutorials/tensordict.ipynb
Labels: CLA Signed

#622 [Doc] Integrate knowledge base in docs
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/knowledge_base.py
  docs/source/reference/knowledge_base.rst
Labels: CLA Signed

#624 [Doc] Updating docs requirements
  docs/requirements.txt
  docs/source/conf.py
Labels: documentation, CLA Signed

#577 Checkpointing -- TorchSnapshot
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux_optdeps/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/run_test.sh
  setup.py
  test/test_trainer.py
  torchrl/__init__.py
  torchrl/_utils.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensordict/tensordict.py
  torchrl/trainers/trainers.py
Labels: CLA Signed

#514 [Feature] Habitat integration
  .circleci/config.yml
  .circleci/unittest/linux_libs/scripts_habitat/environment.yml
  .circleci/unittest/linux_libs/scripts_habitat/install.sh
  .circleci/unittest/linux_libs/scripts_habitat/post_process.sh
  .circleci/unittest/linux_libs/scripts_habitat/run-clang-format.py
  .circleci/unittest/linux_libs/scripts_habitat/run_test.sh
  .circleci/unittest/linux_libs/scripts_habitat/setup_env.sh
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/batch_scripts.sh
  knowledge_base/HABITAT.md
  test/_utils_internal.py
  test/test_libs.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/habitat.py
Labels: enhancement, CLA Signed

#549 [Feature] Checkpointing
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux_optdeps/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/run_test.sh
  setup.py
  test/test_trainer.py
  torchrl/__init__.py
  torchrl/_utils.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/tensordict.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#608 Add support for null `dim` argument in `TensorDict.squeeze`
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed

#627 [Version] Updating to torch 1.13
  .circleci/config.yml
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/run_test.sh
  .circleci/unittest/linux_stable/scripts/install.sh
  .clang-format
  .github/workflows/wheels.yml
  README.md
  test/test_trainer.py
  torchrl/trainers/trainers.py
  tutorials/src/envs.py
  tutorials/train_demo.ipynb
Labels: CLA Signed

#626 [Feature] Sub-memmap tensors
  test/test_memmap.py
  test/test_rb.py
  test/test_shared.py
  torchrl/data/tensordict/memmap.py
Labels: CLA Signed
