Repository pytorch/rl, pull requests merged in 2022-05, with the labels that each got.

#104 Disable silent assert for TensorDict subclasses
  test/test_tensordict.py
  torchrl/agents/helpers/losses.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed, Tests

#105 Rename A2C advantage in TDEstimate
  test/test_cost.py
  torchrl/agents/helpers/losses.py
  torchrl/modules/td_module/common.py
  torchrl/objectives/costs/ppo.py
  torchrl/objectives/costs/reinforce.py
  torchrl/objectives/returns/__init__.py
  torchrl/objectives/returns/a2c.py
  torchrl/objectives/returns/advantages.py
  torchrl/objectives/returns/functional.py
  torchrl/objectives/returns/gae.py
Labels: CLA Signed, naming

#103 Issue 85: Add tests for catframe
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, Tests

#112 Fixing trainer helper function
  torchrl/trainers/helpers/trainers.py
Labels: bug, CLA Signed

#110 Add .gitignore for Python
  .gitignore
Labels: CLA Signed

#113 Record exploration rollouts
  torchrl/envs/transforms/transforms.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#107 Sync latest RLMeta SegmentTree implementation to TorchRL
  .clang-format
  torchrl/csrc/numpy_utils.h
  torchrl/csrc/pybind.cpp
  torchrl/csrc/segment_tree.h
  torchrl/csrc/torch_utils.h
  torchrl/data/replay_buffers/replay_buffers.py
Labels: enhancement, CLA Signed

#115 Probabilistic sequence of tdmodules
  test/test_tdmodules.py
  torchrl/modules/td_module/common.py
Labels: enhancement, CLA Signed

#119 Fix GAE error + naming issue
  torchrl/objectives/costs/ppo.py
  torchrl/objectives/costs/reinforce.py
  torchrl/objectives/returns/advantages.py
  torchrl/objectives/returns/functional.py
Labels: bug, CLA Signed, naming

#118 Extend transforms in `TransformedEnv` to keep track of specs
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
  torchrl/trainers/helpers/envs.py
Labels: enhancement, CLA Signed

#121 Fix bugs in keys retrieval in vectorized envs
  test/test_env.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/vec_env.py
Labels: bug, CLA Signed

#120 TD Lambda advantage function
  test/test_cost.py
  torchrl/objectives/returns/advantages.py
  torchrl/objectives/returns/functional.py
Labels: enhancement, CLA Signed, performance

#122 Fix dm_control import bug
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_stable/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/setup_env.sh
  test/smoke_test.py
  test/smoke_test_deps.py
  test/test_trainer.py
  torchrl/envs/libs/dm_control.py
Labels: bug, CLA Signed

#132 Separate TD(lambda) return from advantage function
  examples/ppo/configs/cheetah.txt
  examples/ppo/configs/cheetah_pixels.txt
  examples/ppo/configs/cheetah_smoketest.txt
  examples/ppo/configs/humanoid.txt
  test/test_cost.py
  torchrl/objectives/returns/advantages.py
  torchrl/objectives/returns/functional.py
  torchrl/trainers/helpers/losses.py
Labels: enhancement, CLA Signed

#137 Fixing update_policy_weights_() error when multiple devices + exploration are used
  torchrl/modules/td_module/common.py
Labels: bug, CLA Signed

#138 Fixing TanhDelta device casting issues
  test/test_distributions.py
  test/test_trainer.py
  torchrl/modules/distributions/continuous.py
Labels: bug, CLA Signed

#143 SubTensorDict set method
  test/test_shared.py
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
Labels: bug, CLA Signed

#135 requires_grad attribute for meta tensors #96
  test/test_tensordict.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/metatensor.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed

#145 ParallelEnv refactoring: dummy_env creation and deletion
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/vec_env.py
Labels: enhancement, CLA Signed

#146 Skip ParallelEnv if only one env is created in helpers
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  torchrl/trainers/helpers/envs.py
Labels: enhancement, CLA Signed

#148 Make TDSequence index-able by adding `__getitem__` dunder method.
  test/test_tdmodules.py
  torchrl/modules/td_module/common.py
Labels: enhancement, CLA Signed

#149 `tensordict.__setitem__(string)`, `tensordict.__getitem__(string)`, and `tensordict.__delitem__(string)` for subclasses
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed

#150 [WIP] Refactor the probabilistic TDModule class
  test/test_cost.py
  test/test_exploration.py
  test/test_helpers.py
  test/test_modules.py
  test/test_tdmodules.py
  torchrl/collectors/collectors.py
  torchrl/data/tensor_specs.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/models/exploration.py
  torchrl/modules/td_module/__init__.py
  torchrl/modules/td_module/actors.py
  torchrl/modules/td_module/common.py
  torchrl/modules/td_module/deprec.py
  torchrl/modules/td_module/exploration.py
  torchrl/modules/td_module/probabilistic.py
  torchrl/modules/td_module/sequence.py
  torchrl/objectives/costs/impala.py
  torchrl/objectives/costs/ppo.py
  torchrl/objectives/costs/redq.py
  torchrl/objectives/costs/reinforce.py
  torchrl/objectives/costs/sac.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/models.py
Labels: CLA Signed, bc breaking, major

#151 Test predictability of rollout method
  test/mocking_classes.py
  test/test_env.py
  torchrl/envs/common.py
Labels: CLA Signed, Tests

#153 gSDE refactoring and implementation for pixels / DDPG
  examples/ddpg/configs/humanoid.txt
  examples/ddpg/ddpg.py
  test/test_exploration.py
  test/test_helpers.py
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
  torchrl/modules/distributions/utils.py
  torchrl/modules/models/exploration.py
  torchrl/modules/models/models.py
  torchrl/modules/td_module/common.py
  torchrl/modules/td_module/exploration.py
  torchrl/modules/td_module/probabilistic.py
  torchrl/modules/td_module/sequence.py
  torchrl/objectives/costs/ddpg.py
  torchrl/objectives/costs/redq.py
  torchrl/objectives/costs/sac.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/helpers/trainers.py
Labels: CLA Signed, bc breaking

#159 Make `NormalParamWrapper` pass other inputs
  torchrl/modules/distributions/continuous.py
Labels: enhancement

#160 Make display on progress bar optional in trainer
  test/test_trainer.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#163 Refactoring environment device setting/casting
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  test/mocking_classes.py
  test/test_collector.py
  test/test_env.py
  test/test_tdmodules.py
  test/test_tensordict.py
  torchrl/collectors/collectors.py
  torchrl/data/tensor_specs.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/common.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/gym.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/td_module/common.py
  torchrl/modules/td_module/sequence.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/envs.py
Labels: bug, CLA Signed, major

#166 DMControl: bugfix in env device
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  torchrl/envs/common.py
  torchrl/envs/libs/dm_control.py
  torchrl/trainers/trainers.py
Labels: bug, CLA Signed

#168 Efficiency improvement in VecNorm, TensorDict and env tensor casting
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_optdeps/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
  test/smoke_test_deps.py
  test/test_tensordict.py
  test/test_trainer.py
  torchrl/__init__.py
  torchrl/data/tensor_specs.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/trainers/helpers/envs.py
Labels: enhancement, CLA Signed

#171 Fault-tolerant parallel env execution
  .circleci/config.yml
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_optdeps/scripts/run_test.sh
  .circleci/unittest/linux_optdeps/scripts/setup_env.sh
  .circleci/unittest/linux_stable/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/setup_env.sh
  examples/ddpg/configs/humanoid_pixels.txt
  examples/ddpg/ddpg.py
  examples/redq/configs/humanoid_pixels.txt
  examples/redq/redq.py
  test/test_transforms.py
  torchrl/__init__.py
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/vec_env.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/helpers/trainers.py
Labels: bug, enhancement, CLA Signed

#172 Rename TDModule in TensorDictModule
  README.md
  test/smoke_test.py
  test/test_cost.py
  test/test_env.py
  test/test_exploration.py
  test/test_modules.py
  test/test_tensordictmodules.py
  torchrl/collectors/collectors.py
  torchrl/modules/__init__.py
  torchrl/modules/models/exploration.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/deprec.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/objectives/costs/common.py
  torchrl/objectives/costs/ddpg.py
  torchrl/objectives/costs/ppo.py
  torchrl/objectives/costs/redq.py
  torchrl/objectives/costs/reinforce.py
  torchrl/objectives/costs/sac.py
  torchrl/objectives/costs/utils.py
  torchrl/objectives/returns/advantages.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
Labels: CLA Signed, bc breaking, naming

#175 REDQ pixels bugfix and new convnet config
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  test/mocking_classes.py
  torchrl/envs/utils.py
  torchrl/modules/models/models.py
  torchrl/modules/models/utils.py
  torchrl/objectives/costs/redq.py
  torchrl/trainers/trainers.py
Labels: bug, enhancement, CLA Signed
