Repository pytorch/rl, pull requests merged in 2022-06, with the labels that each got.

#177 CenterCrop transform
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  test/test_trainer.py
  torchrl/envs/transforms/transforms.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/recorder.py
Labels: enhancement, CLA Signed

#178 Disable Grayscale in arguments
  test/test_trainer.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/envs.py
Labels: CLA Signed

#181 Update instructions for installing pre-commit
  CONTRIBUTING.md
  README.md
Labels: CLA Signed

#179 Add ellipsis indexing for TensorDict
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
  torchrl/data/tensordict/utils.py
Labels: enhancement, CLA Signed

#184 FlattenObservation transform
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/envs.py
Labels: enhancement, CLA Signed, Tests

#185 Make _LossModule robust to shared parameters
  test/test_cost.py
  test/test_env.py
  torchrl/collectors/collectors.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/objectives/costs/common.py
  torchrl/objectives/costs/ddpg.py
  torchrl/objectives/costs/deprecated.py
  torchrl/objectives/costs/redq.py
  torchrl/objectives/costs/reinforce.py
  torchrl/objectives/costs/sac.py
  torchrl/objectives/costs/utils.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/losses.py
Labels: bug, enhancement, CLA Signed

#186 Additional output from env.step
  torchrl/envs/common.py
Labels: enhancement, CLA Signed

#187 Fix dm_control optional dep
  torchrl/envs/libs/dm_control.py
Labels: bug, CLA Signed

#193 TensorSpec: as_tensor instead of tensor calls
  torchrl/data/tensor_specs.py
Labels: enhancement, CLA Signed, performance

#196 Integrating hydra with PPO
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_optdeps/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
  examples/ppo/configs/humanoid.yaml
  examples/ppo/ppo.py
  setup.py
  test/test_helpers.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/helpers/recorder.py
  torchrl/trainers/helpers/replay_buffer.py
  torchrl/trainers/helpers/trainers.py
Labels: enhancement, CLA Signed, bc breaking

#204 Gym seeding logic and robustness
  torchrl/envs/libs/gym.py
Labels: bug, CLA Signed

#205 BugFix: access to TransformedEnv.is_done is wrong during step execution
  build_tools/setup_helpers/extension.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#198 Integrating hydra with SAC
  examples/sac/sac.py
  torchrl/trainers/helpers/losses.py
Labels: enhancement, CLA Signed

#206 Rename TransformedEnv.env to base_env
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, naming

#217 BugFix: Noop call to parent and TransformedEnv reset function
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/modules/tensordict_module/common.py
Labels: bug, CLA Signed

#215 BugFix: async collector: early clone of collected TD
  torchrl/collectors/collectors.py
Labels: CLA Signed

#213 Trainer: saving trainer at the end of training
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#212 recorder_log_keys arg: enable logging of arbitrary keys from test rollouts
  torchrl/__init__.py
  torchrl/trainers/helpers/recorder.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#210 Fix MemmapTensor metadata and indexing
  test/test_tensordict.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/metatensor.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/libs/gym.py
Labels: bug, enhancement, CLA Signed

#214 BugFix: pass through spec check when there are none
  torchrl/modules/tensordict_module/common.py
Labels: bug, CLA Signed

#211 Minor ReplayBuffer usage improvement
  test/test_helpers.py
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/trainers/helpers/replay_buffer.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
Labels: CLA Signed

#219 Feature: Create MemmapTensors with shape, device and dtype
  torchrl/data/tensordict/memmap.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#222 Change the default trainer scheduler to None
  torchrl/trainers/helpers/trainers.py
Labels: enhancement, CLA Signed

#201 Integrating hydra with DQN
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/ppo/configs/humanoid.yaml
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  torchrl/data/tensor_specs.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/trainers.py
Labels: enhancement, CLA Signed

#202 Hydra integration
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_optdeps/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  setup.py
  test/test_helpers.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/helpers/recorder.py
  torchrl/trainers/helpers/replay_buffer.py
  torchrl/trainers/helpers/trainers.py
Labels: enhancement, CLA Signed, bc breaking

#225 Re-introducing recorder_log_keys
  torchrl/trainers/helpers/recorder.py
  torchrl/trainers/helpers/trainers.py
Labels: bug, CLA Signed

#226 BugFix: skip split_trajectories condition
  torchrl/collectors/utils.py
Labels: bug, CLA Signed

#227 Memory-efficient stats gathering
  torchrl/trainers/helpers/envs.py
Labels: bug, CLA Signed

#223 Feature: introducing Storage for replay buffers
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/utils.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed

#224 Feature: MemmapTensor storage for ReplayBuffer
  test/test_memmap.py
  test/test_rb.py
  test/test_tensordict.py
  torchrl/data/replay_buffers/__init__.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/tensordict.py
  torchrl/data/tensordict/utils.py
  torchrl/trainers/helpers/replay_buffer.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#230 Refactor CompositeSpec tests
  test/mocking_classes.py
  test/test_tensor_spec.py
  torchrl/data/tensor_specs.py
Labels: CLA Signed, Tests

#233 functorch install fix
  .circleci/unittest/linux_stable/scripts/install.sh
Labels: CLA Signed

#232 Update docstrings
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/tensordict/memmap.py
Labels: documentation, CLA Signed

#231 Implement unittests for MemmapTensor.
  test/test_memmap.py
Labels: CLA Signed, Tests

#239 Drop cmake build system, use PyTorch C++ extensions
  CMakeLists.txt
  setup.py
  torchrl/csrc/CMakeLists.txt
Labels: CLA Signed, setup

#234 [Feature] custom info_dict reader methods
  torchrl/envs/__init__.py
  torchrl/envs/gym_like.py
Labels: enhancement, CLA Signed

#235 CI: cuda 11.3 update
  .circleci/config.yml
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_optdeps/scripts/install.sh
  .circleci/unittest/linux_stable/scripts/install.sh
  .circleci/unittest/linux_stable/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/setup_env.sh
  build_tools/setup_helpers/extension.py
  setup.py
Labels: CLA Signed, Tests
