Repository pytorch/rl, pull requests merged in 2022-04, with the labels that each got.

#55 CircleCI badge
  README.md
Labels: CLA Signed

#53 TorchOpt compatibility fixes
  test/mocking_classes.py
  test/test_env.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/data/tensordict/memmap.py
  torchrl/envs/common.py
  torchrl/envs/libs/gym.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
  torchrl/modules/distributions/discrete.py
  torchrl/modules/td_module/common.py
  torchrl/objectives/returns/functional.py
  torchrl/objectives/returns/gae.py
Labels: CLA Signed

#60 Rename tensor_dict to tensordict
  docs/source/reference/envs.rst
  test/mocking_classes.py
  test/test_env.py
  test/test_exploration.py
  test/test_postprocs.py
  test/test_shared.py
  test/test_tensordict.py
  torchrl/collectors/collectors.py
  torchrl/collectors/utils.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/modules/models/recipes/impala.py
  torchrl/modules/td_module/common.py
  torchrl/modules/td_module/exploration.py
  torchrl/objectives/costs/ddpg.py
  torchrl/objectives/costs/dqn.py
  torchrl/objectives/costs/ppo.py
  torchrl/objectives/costs/redq.py
  torchrl/objectives/costs/utils.py
  torchrl/objectives/returns/gae.py
  torchrl/record/recorder.py
Labels: CLA Signed, bc breaking, naming

#54 Replay buffers storing trajectories
  test/test_rb.py
  test/test_tensordict.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/tensordict/tensordict.py
  torchrl/data/tensordict/utils.py
Labels: bug, enhancement, CLA Signed

#62 Add methods _TensorDict.values() and _TensorDict.values_meta
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed, quality

#63 Simplify items/values API for TDs
  torchrl/data/replay_buffers/utils.py
  torchrl/data/tensor_specs.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/tensordict.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/models/exploration.py
  torchrl/modules/models/models.py
  torchrl/modules/models/recipes/impala.py
  torchrl/modules/td_module/common.py
Labels: CLA Signed

#72 Add numpy to deps
  setup.py
Labels: CLA Signed

#74 SafeTanhTransform eps as a function of input dtype
  test/test_distributions.py
  torchrl/modules/distributions/continuous.py
Labels: CLA Signed

#75 Optional dependency on torchvision
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed, quality

#70 Unify losses that have target parameters
  docs/source/reference/objectives.rst
  test/test_cost.py
  torchrl/agents/helpers/losses.py
  torchrl/objectives/costs/ddpg.py
  torchrl/objectives/costs/dqn.py
  torchrl/objectives/costs/redq.py
  torchrl/objectives/costs/sac.py
Labels: CLA Signed

#78 Fix minor typos and installation in README.md
  README.md
Labels: documentation, CLA Signed

#77 Test optional dependencies
  .circleci/config.yml
  .circleci/unittest/linux_optdeps/scripts/environment.yml
  .circleci/unittest/linux_optdeps/scripts/install.sh
  .circleci/unittest/linux_optdeps/scripts/post_process.sh
  .circleci/unittest/linux_optdeps/scripts/run-clang-format.py
  .circleci/unittest/linux_optdeps/scripts/run_test.sh
  .circleci/unittest/linux_optdeps/scripts/setup_env.sh
  test/test_env.py
  test/test_helpers.py
  test/test_transforms.py
  torchrl/envs/common.py
  torchrl/envs/libs/gym.py
Labels: CLA Signed

#80 Remove unnecessary definition from CMakeLists.txt
  torchrl/csrc/CMakeLists.txt
Labels: CLA Signed

#79 Writing tests for transforms
  test/mocking_classes.py
  test/test_collector.py
  test/test_env.py
  test/test_helpers.py
  test/test_postprocs.py
  test/test_transforms.py
  torchrl/agents/helpers/envs.py
  torchrl/agents/helpers/models.py
  torchrl/collectors/collectors.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/gym.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/modules/models/recipes/impala.py
  torchrl/record/recorder.py
Labels: enhancement, CLA Signed, bc breaking, major, naming

#83 Fix training recipes
  examples/ddpg/ddpg.py
  examples/dqn/configs/pong.txt
  examples/dqn/dqn.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  torchrl/agents/env_creator.py
  torchrl/agents/helpers/replay_buffer.py
  torchrl/collectors/collectors.py
  torchrl/data/tensordict/metatensor.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/common.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
  torchrl/modules/td_module/actors.py
Labels: bug, CLA Signed

#84 Add test method test_items_values_keys()
  test/test_tensordict.py
Labels: CLA Signed, quality

#81 removed empty py files
  torchrl/envs/libs/dmlab.py
  torchrl/record/__init__.py
  torchrl/record/rendering.py
Labels: CLA Signed, quality

#88 Unittest on OSX
  .circleci/config.yml
Labels: CLA Signed, Tests

#89 Extra dependencies in setup.py
  README.md
  setup.py
Labels: CLA Signed

#91 Add tensorboard dependency to setup.py
  setup.py
Labels: CLA Signed

#98 Fix PPO open env
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
Labels: bug, CLA Signed

#99 Added permute functionality to tensordict class
  test/test_tensordict.py
  torchrl/data/tensordict/metatensor.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed
