Repository pytorch/rl, pull requests merged in 2022-08, with the labels that each got.

#336 [BugFix] functorch installation in CircleCI
  .circleci/config.yml
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux_stable/scripts/install.sh
Labels: bug, CLA Signed, CI

#337 [Refactor] VecNorm inference API
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#331 TransformedEnv sets added Transforms into eval mode
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
  torchrl/version.py
Labels: enhancement, CLA Signed

#339 [CircleCI] Fix dm_control rendering
  .circleci/config.yml
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_stable/scripts/setup_env.sh
  test/test_libs.py
Labels: bug, CLA Signed, CI

#311 [BugFix]: joining processes when they're done
  test/test_transforms.py
Labels: bug, CLA Signed

#344 [Test] pass the OS error in case the file isn't closed
  test/smoke_test_deps.py
Labels: CLA Signed

#343 [Feature] Make default rollout tensordict contiguous
  torchrl/envs/common.py
Labels: CLA Signed

#340 [BugFix] Clone memmap tensors on regular tensors and other replay buffer improvements
  test/test_collector.py
  test/test_env.py
  test/test_exploration.py
  test/test_helpers.py
  test/test_memmap.py
  test/test_modules.py
  test/test_postprocs.py
  test/test_rb.py
  test/test_shared.py
  test/test_tensordict.py
  torchrl/__init__.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensor_specs.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/tensordict.py
  torchrl/objectives/costs/deprecated.py
  torchrl/objectives/costs/redq.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/replay_buffer.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
Labels: bug, CLA Signed

#346 [CI] Using latest gym
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
  test/test_libs.py
Labels: CLA Signed, CI

#345 [Doc] Coding your first DDPG tutorial
  tutorials/README.md
  tutorials/coding_ddpg.ipynb
Labels: documentation, CLA Signed

#354 [Doc] Minor: typos in DDPG
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/trainers/trainers.py
  tutorials/coding_ddpg.ipynb
Labels: documentation, CLA Signed

#358 [Feature] Implement __eq__ for TensorSpec
  test/test_tensor_spec.py
  torchrl/data/tensor_specs.py
Labels: enhancement, CLA Signed

#352 [Doc] Multi-tasking tutorial
  test/mocking_classes.py
  test/test_env.py
  test/test_tensordictmodules.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/common.py
  torchrl/envs/vec_env.py
  torchrl/modules/tensordict_module/sequence.py
  tutorials/README.md
  tutorials/multi_task.ipynb
Labels: documentation, enhancement, CLA Signed

#332 [Feature]: Added support for TensorDictSequence module subsampling
  test/test_tensordictmodules.py
  torchrl/modules/tensordict_module/sequence.py
Labels: enhancement, CLA Signed

#356 [BugFix] Add lock to vec norm transform
  test/test_collector.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
Labels: bug, CLA Signed

#297 [WIP]: Improve PPO training performance
  examples/ppo/config.yaml
  examples/ppo/ppo.py
  torchrl/objectives/costs/ppo.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
Labels: CLA Signed, performance

#361 [BugFix] Functorch-Tensordict bug fixes
  torchrl/data/tensordict/tensordict.py
Labels: bug, CLA Signed

#362 Revert "[BugFix] Functorch-Tensordict bug fixes"
  torchrl/data/tensordict/tensordict.py
Labels: CLA Signed

#363 [BugFix] Functorch-Tensordict bug fixes
  torchrl/data/tensordict/tensordict.py
Labels: CLA Signed

#360 [Feature] Support tensor-based decay in TD-lambda
  test/test_cost.py
  torchrl/objectives/returns/functional.py
Labels: enhancement, CLA Signed

#372 [Feature] CSVLogger
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  test/test_loggers.py
  torchrl/trainers/helpers/__init__.py
  torchrl/trainers/helpers/logger.py
  torchrl/trainers/loggers/common.py
  torchrl/trainers/loggers/csv.py
  torchrl/trainers/loggers/tensorboard.py
  torchrl/trainers/loggers/wandb.py
Labels: bug, CLA Signed

#378 [BugFix] Fewer env instantiations for better mujoco rendering
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_optdeps/scripts/install.sh
  .circleci/unittest/linux_optdeps/scripts/setup_env.sh
  .circleci/unittest/linux_stable/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/setup_env.sh
  setup.py
  test/mocking_classes.py
  test/test_libs.py
  torchrl/collectors/collectors.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/models.py
Labels: enhancement, CLA Signed

#379 [Feature] change imports of environment libraries (gym and dm_control) at lower levels
  README.md
  docs/source/reference/envs.rst
  test/smoke_test_deps.py
  test/test_collector.py
  test/test_env.py
  test/test_libs.py
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/libs/__init__.py
  torchrl/envs/transforms/transforms.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/helpers/trainers.py
  tutorials/coding_ddpg.ipynb
  tutorials/demo.ipynb
  tutorials/envs.ipynb
  tutorials/multi_task.ipynb
Labels: enhancement, CLA Signed

#370 [BugFix] Representation of indexed nested tensordict
  torchrl/data/tensordict/tensordict.py
Labels: bug, CLA Signed

#369 [BugFix] In-place `__setitem__` for SubTensorDict
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
Labels: bug, enhancement, CLA Signed

#376 [Feature] Add `ProbabilisticTensorDictModule` dist key mapping support
  test/test_tensordictmodules.py
  torchrl/modules/tensordict_module/probabilistic.py
Labels: enhancement, CLA Signed

#321 [Feature]: R3M integration
  test/mocking_classes.py
  test/test_libs.py
  test/test_transforms.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed
