Repository pytorch/rl, pull requests merged in 2022-11, with the labels that each got.

#631 [BugFix] `copy_` changes the index if the dest and source memmap tensors share the same file location
  test/test_memmap.py
  torchrl/data/tensordict/memmap.py
Labels: bug, CLA Signed

#630 [Feature] Unfold transforms for folded `TransformedEnv`
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#634 [BugFix] make TensorDictReplayBuffer.extend call super().extend with stacked_td
  torchrl/data/replay_buffers/rb_prototype.py
Labels: bug, CLA Signed

#637 correct the use of `step_mdp` method in data collector
  torchrl/collectors/collectors.py
Labels: CLA Signed

#618 [Feature] Added `implement_for` decorator
  docs/source/reference/index.rst
  docs/source/reference/utils.rst
  test/_utils_internal.py
  test/test_utils.py
  torchrl/_utils.py
Labels: enhancement, CLA Signed

#632 [Feature] Make DQN compatible with nn.Module
  docs/source/reference/modules.rst
  test/test_cost.py
  test/test_tensordictmodules.py
  torchrl/modules/tensordict_module/common.py
  torchrl/objectives/dqn.py
Labels: enhancement, CLA Signed

#615 [Example] Distributed Replay Buffer Prototype Example Implementation
  docs/source/reference/data.rst
  examples/distributed/distributed_replay_buffer.py
  test/test_rb.py
  test/test_rb_distributed.py
  torchrl/data/replay_buffers/rb_prototype.py
  torchrl/data/replay_buffers/utils.py
Labels: documentation, enhancement, CLA Signed

#644 [BugFix] Fix broken unit tests caused by removal of torch.testng.assert_allclose
  test/test_rb.py
Labels: CLA Signed

#599 [Feature] Qmix - Gru Net
  test/test_modules.py
  torchrl/modules/models/models.py
Labels: enhancement, CLA Signed

#642 [Feature] Remove wild imports in the library
  build_tools/setup_helpers/__init__.py
  build_tools/setup_helpers/extension.py
  torchrl/collectors/__init__.py
  torchrl/collectors/collectors.py
  torchrl/data/__init__.py
  torchrl/data/postprocs/__init__.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/replay_buffers/__init__.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensor_specs.py
  torchrl/data/tensordict/__init__.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/__init__.py
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/gym_like.py
  torchrl/envs/model_based/__init__.py
  torchrl/envs/model_based/common.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  torchrl/envs/vec_env.py
  torchrl/modules/__init__.py
  torchrl/modules/distributions/__init__.py
  torchrl/modules/models/__init__.py
  torchrl/modules/models/exploration.py
  torchrl/modules/models/model_based.py
  torchrl/modules/models/models.py
  torchrl/modules/models/utils.py
  torchrl/modules/planners/__init__.py
  torchrl/modules/planners/cem.py
  torchrl/modules/planners/common.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/modules/tensordict_module/world_models.py
  torchrl/modules/utils/__init__.py
  torchrl/modules/utils/mappings.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/utils.py
  torchrl/record/__init__.py
  torchrl/record/recorder.py
  torchrl/trainers/__init__.py
  torchrl/trainers/helpers/__init__.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/helpers/replay_buffer.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
  tutorials/envs.ipynb
  tutorials/multi_task.ipynb
  tutorials/tensordict.ipynb
Labels: enhancement, CLA Signed

#641 [BugFix] Prevent transform parent from being reassigned
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#625 [Feature] Too many `deepcopy` in `transforms.py`
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, quality

#654 [Feature] Nested composite spec
  test/test_tensor_spec.py
  torchrl/data/tensor_specs.py
Labels: CLA Signed

#656 [Naming] Rename keys_in to in_keys in transforms.py and related modules
  examples/dreamer/dreamer_utils.py
  test/test_env.py
  test/test_transforms.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/envs.py
Labels: enhancement, CLA Signed

#660 [Feature] Move `transform.forward` to `transform.step`
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/utils.py
Labels: CLA Signed

#658 [Feature] VIPRewardTransform
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
Labels: enhancement, CLA Signed

#655 [BugFix] make_trainer possible bug for on-policy cases
  torchrl/trainers/helpers/trainers.py
Labels: CLA Signed

#668 [Naming] Fixing key names
  test/test_transforms.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  tutorials/coding_ddpg.ipynb
  tutorials/coding_dqn.ipynb
  tutorials/demo.ipynb
  tutorials/envs.ipynb
  tutorials/multi_task.ipynb
Labels: CLA Signed, naming

#665 Relying on the standalone tensordict -- phase 1 updates
  .github/workflows/docs.yml
  .github/workflows/nightly_build.yml
  .github/workflows/wheels.yml
  benchmarks/storage/benchmark_sample_latency_over_rpc.py
  docs/source/reference/data.rst
  examples/distributed/distributed_replay_buffer.py
  examples/torchrl_features/memmap_speed_distributed.py
  test/smoke_test.py
  test/test_collector.py
  test/test_cost.py
  test/test_env.py
  test/test_rb.py
  test/test_shared.py
  test/test_trainer.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/data/__init__.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/tensordict/__init__.py
  torchrl/data/utils.py
  torchrl/envs/common.py
  torchrl/envs/model_based/common.py
  torchrl/modules/models/exploration.py
  torchrl/modules/planners/cem.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/trainers/trainers.py
Labels: CLA Signed

#666 [Test] Check dtypes of envs
  test/_utils_internal.py
  test/test_env.py
  test/test_libs.py
  test/test_tensor_spec.py
  torchrl/data/tensor_specs.py
Labels: CLA Signed, Tests

#661 [Refactor] Transform next remove
  examples/dreamer/dreamer_utils.py
  test/_utils_internal.py
  test/mocking_classes.py
  test/test_collector.py
  test/test_cost.py
  test/test_env.py
  test/test_helpers.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/gym.py
  torchrl/envs/model_based/dreamer.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/models.py
Labels: enhancement, CLA Signed, major

#663 [Doc] More doc on trainers
  README.md
  docs/source/reference/trainers.rst
  torchrl/trainers/trainers.py
Labels: documentation, CLA Signed

#671 [BugFix] PPO example GAE import
  examples/ppo/ppo.py
Labels: CLA Signed

#679 [BugFix] Use GitHub for flake8 pre-commit hook
  .pre-commit-config.yaml
Labels: bug, CLA Signed, CI

#675 [BugFix] Update to strict select
  test/test_rb.py
  torchrl/collectors/collectors.py
  torchrl/envs/vec_env.py
  torchrl/modules/models/model_based.py
Labels: bug, CLA Signed

#669 [Feature] Auto-compute stats for ObservationNorm
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#678 [Doc] _make_collector helper function
  torchrl/trainers/helpers/collectors.py
Labels: CLA Signed

#677 [Doc] BatchSubSampler class docstrings example
  torchrl/trainers/trainers.py
Labels: CLA Signed

#676 [BugFix] PPO objective crashes if advantage_module is None
  torchrl/objectives/ppo.py
Labels: CLA Signed

#673 Refactor "next_" into ("next", )
  .pre-commit-config.yaml
  examples/dreamer/dreamer.py
  examples/dreamer/dreamer_utils.py
  test/_utils_internal.py
  test/test_collector.py
  test/test_cost.py
  test/test_env.py
  test/test_helpers.py
  test/test_libs.py
  test/test_modules.py
  test/test_postprocs.py
  test/test_rb.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/collectors/utils.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/gym_like.py
  torchrl/envs/model_based/common.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/modules/models/model_based.py
  torchrl/modules/planners/cem.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/redq.py
  torchrl/objectives/value/advantages.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/models.py
Labels: enhancement, CLA Signed

#649 [Refactor] Refactor 'next_' into nested tensordicts
  examples/dreamer/dreamer.py
  examples/dreamer/dreamer_utils.py
  test/_utils_internal.py
  test/mocking_classes.py
  test/test_collector.py
  test/test_cost.py
  test/test_env.py
  test/test_helpers.py
  test/test_libs.py
  test/test_modules.py
  test/test_postprocs.py
  test/test_tensor_spec.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/collectors/utils.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/gym.py
  torchrl/envs/model_based/common.py
  torchrl/envs/model_based/dreamer.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/utils.py
  torchrl/envs/transforms/vip.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/modules/models/model_based.py
  torchrl/modules/planners/cem.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/redq.py
  torchrl/objectives/value/advantages.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/models.py
Labels: enhancement, CLA Signed, bc breaking, naming, quality

#683 [Doc] More doc about environments
  docs/source/reference/envs.rst
Labels: CLA Signed

#685 [Doc] Fix missing tensordict install for doc
  setup.py
Labels: documentation, CLA Signed

#645 [CI] Added CircleCI pipeline to test compatibility across supported gym versions
  .circleci/config.yml
  .circleci/unittest/linux_libs/scripts_gym/batch_scripts.sh
  .circleci/unittest/linux_libs/scripts_gym/environment.yml
  .circleci/unittest/linux_libs/scripts_gym/install.sh
  .circleci/unittest/linux_libs/scripts_gym/post_process.sh
  .circleci/unittest/linux_libs/scripts_gym/run-clang-format.py
  .circleci/unittest/linux_libs/scripts_gym/run_test.sh
  .circleci/unittest/linux_libs/scripts_gym/setup_env.sh
  .gitignore
Labels: CLA Signed

#686 [BugFix] ConvNet forward method with tensors of more than 4 dimensions
  test/test_modules.py
  torchrl/modules/models/models.py
Labels: bug, CLA Signed

#682 [Feature] add `standard_normal` for RewardScaling
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#688 [Feature] Default collate_fn
  test/test_rb.py
  test/test_trainer.py
  torchrl/data/replay_buffers/rb_prototype.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed

#691 [Refactoring] Replace direct gym version checks with decorated functions (#)
  test/_utils_internal.py
  test/smoke_test_deps.py
  test/test_collector.py
  test/test_env.py
  test/test_libs.py
  test/test_transforms.py
  torchrl/envs/libs/gym.py
Labels: enhancement, CLA Signed

#696 Version 0.0.3
  .github/workflows/wheels.yml
  version.txt
Labels: versioning

#693 [Docs] Host TensorDict docs inside TorchRL docs
  .github/workflows/docs.yml
  docs/source/index.rst
Labels: CLA Signed

#698 [BugFix] Fix docs build
  .github/workflows/docs.yml
Labels: CLA Signed

#697 [BugFix] Proper error messages for orphan transform creation
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#695 [Feature] Append, init and insert transforms in ReplayBuffer
  examples/dreamer/dreamer_utils.py
  test/test_rb.py
  test/test_transforms.py
  torchrl/data/replay_buffers/rb_prototype.py
  torchrl/envs/transforms/transforms.py
  torchrl/trainers/helpers/envs.py
Labels: enhancement, CLA Signed

#680 [Feature] A2C objective class and train example
  examples/a2c/a2c.py
  examples/a2c/config.yaml
  test/test_cost.py
  test/test_helpers.py
  torchrl/objectives/__init__.py
  torchrl/objectives/a2c.py
  torchrl/trainers/helpers/__init__.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/models.py
Labels: CLA Signed, new algo

#702 [Doc, Test] Add A2C script test and doc
  .circleci/unittest/linux_examples/scripts/run_test.sh
  README.md
  docs/source/reference/objectives.rst
  docs/source/reference/trainers.rst
Labels: documentation, CLA Signed, Tests, CI

#703 [BugFix] Initialising the classes LazyTensorStorage with a nested TensorDict raises error
  test/test_rb.py
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed

#706 [BugFix] Fix init_random_frames in A2C example test
  .circleci/unittest/linux_examples/scripts/run_test.sh
Labels: bug, CLA Signed, Tests, CI

#707 [Doc] Document undefined symbol error with torch version < 1.13
  README.md
  knowledge_base/VERSIONING_ISSUES.md
Labels: CLA Signed

#681 [Doc] Tuto integration
  .github/workflows/docs.yml
  docs/requirements.txt
  docs/source/_static/css/custom.css
  docs/source/_static/css/custom_torchrl.css
  docs/source/_static/css/pytorch_theme.css
  docs/source/_static/css/theme.css
  docs/source/_static/img/pytorch-logo-dark.png
  docs/source/_static/img/pytorch-logo-dark.svg
  docs/source/_static/img/pytorch-logo-flame.png
  docs/source/_static/img/pytorch-logo-flame.svg
  docs/source/_static/js/modernizr.min.js
  docs/source/_static/js/theme.js
  docs/source/_static/js/torchrl_theme.js
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/content_generation.py
  docs/source/index.rst
  docs/source/reference/index.rst
  docs/source/reference/modules.rst
  torchrl/collectors/collectors.py
  torchrl/data/replay_buffers/storages.py
  torchrl/envs/libs/dm_control.py
  tutorials/sphinx-tutorials/README.rst
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/multi_task.py
  tutorials/sphinx-tutorials/tensordict_module.py
  tutorials/sphinx-tutorials/tensordict_tutorial.py
  tutorials/sphinx-tutorials/torch_envs.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: documentation, CLA Signed

#710 [Quality] Deprecate .ipynb tutos
  docs/source/_static/js/theme.js
  tutorials/README.md
  tutorials/coding_ddpg.ipynb
  tutorials/coding_dqn.ipynb
  tutorials/demo.ipynb
  tutorials/envs.ipynb
  tutorials/multi_task.ipynb
  tutorials/tensordict.ipynb
  tutorials/tensordictmodule.ipynb
  tutorials/train_demo.ipynb
Labels: CLA Signed

#711 [Test] Fix wrong skip message when functorch is installed
  test/test_cost.py
Labels: CLA Signed, Tests

#713 [Doc] Fix Tutos TODOs
  docs/source/conf.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/tensordict_tutorial.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: documentation, CLA Signed

#709 [BugFix] RoundRobinWriter, possible duplicated code in the extend method
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/writers.py
Labels: bug, CLA Signed

#716 [Feature] Add OptimizerHook
  docs/source/reference/trainers.rst
  test/test_trainer.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed
