Repository pytorch/rl, pull requests merged in 2022-12, with the labels that each got.

#721 [BugFix] Fix TorchRL demo tutorial
  test/test_collector.py
  torchrl/collectors/collectors.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/multi_task.py
  tutorials/sphinx-tutorials/tensordict_module.py
  tutorials/sphinx-tutorials/tensordict_tutorial.py
  tutorials/sphinx-tutorials/torch_envs.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: bug, documentation, CLA Signed

#724 [Docs] Update tutorial links in readme
  README.md
Labels: CLA Signed

#718 [Feature] Extend PPO loss helper to allow for more customisation
  torchrl/trainers/helpers/losses.py
Labels: CLA Signed

#717 [BugFix] Model maker functions for A2C and PPO fail for discrete action space envs
  test/test_helpers.py
  torchrl/trainers/helpers/models.py
Labels: CLA Signed

#726 [Minor] docstrings and setup fixes
  setup.py
  torchrl/collectors/collectors.py
  torchrl/data/utils.py
  torchrl/modules/models/models.py
  torchrl/trainers/__init__.py
  torchrl/trainers/trainers.py
Labels: CLA Signed

#729 [BugFix] Avoid wrongfully erasing observation keys from tensordict in CatTensors
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#732 [Doc] More doc for data collectors
  docs/source/reference/collectors.rst
Labels: documentation, CLA Signed

#731 [Feature] Port test_fake_tensordict to torchrl
  docs/source/reference/envs.rst
  test/_utils_internal.py
  test/test_libs.py
  torchrl/envs/utils.py
Labels: CLA Signed

#715 [Feature] Use ObservationNorm.init_stats for stats computation in example scripts
  examples/a2c/a2c.py
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/dreamer/dreamer.py
  examples/dreamer/dreamer_utils.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  test/test_helpers.py
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/models.py
Labels: enhancement, CLA Signed

#722 [Feature] Brax envs
  .circleci/config.yml
  .circleci/unittest/linux_libs/scripts_brax/environment.yml
  .circleci/unittest/linux_libs/scripts_brax/install.sh
  .circleci/unittest/linux_libs/scripts_brax/post_process.sh
  .circleci/unittest/linux_libs/scripts_brax/run-clang-format.py
  .circleci/unittest/linux_libs/scripts_brax/run_test.sh
  .circleci/unittest/linux_libs/scripts_brax/setup_env.sh
  test/test_libs.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/jax_utils.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/utils.py
Labels: enhancement, CLA Signed

#728 [Refactor] Adopt prototype ProbabilisticTensorDictModule and ProbabilisticTensorDictSequential
  README.md
  docs/source/reference/modules.rst
  test/test_cost.py
  test/test_exploration.py
  test/test_helpers.py
  test/test_modules.py
  test/test_tensordictmodules.py
  torchrl/modules/__init__.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/objectives/a2c.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/models.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/tensordict_module.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: CLA Signed

#740 [Doc] Link to doc in README
  README.md
Labels: CLA Signed

#741 [Feature] Make GAE return a 'value_target' entry
  torchrl/data/tensor_specs.py
  torchrl/objectives/value/advantages.py
Labels: enhancement, CLA Signed

#742 [Feature] SamplerWithoutReplacement
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: enhancement, CLA Signed

#745 [Doc, CI] Update doc workflow to run on PR and only publishes doc on main.
  .github/workflows/docs.yml
  CONTRIBUTING.md
Labels: documentation, CLA Signed, CI

#744 [Feature] Better advantage API for higher order derivatives
  examples/a2c/a2c.py
  examples/a2c/config.yaml
  examples/ppo/config.yaml
  examples/ppo/ppo.py
  test/test_cost.py
  test/test_helpers.py
  torchrl/objectives/a2c.py
  torchrl/objectives/ppo.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/value/advantages.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#746 [Refactor] Cosmetic improvements to advantage modules
  test/test_cost.py
  torchrl/objectives/value/advantages.py
Labels: enhancement, CLA Signed

#747 [BugFix] Fix NoopReset in parallel settings
  test/test_transforms.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#748 [Refactor] Remove env.is_done attribute
  test/mocking_classes.py
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/model_based/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
Labels: CLA Signed

#738 [Refactor] Drop prototype imports
  test/test_tensordictmodules.py
  torchrl/modules/tensordict_module/probabilistic.py
  tutorials/sphinx-tutorials/tensordict_module.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: CLA Signed

#755 [BugFix] Fixes for `speed` branch merge on tensordict
  test/test_shared.py
Labels: CLA Signed

#758 [BugFix, Refactor] Fix unsqueeze -- 757 branch out
  docs/source/reference/envs.rst
  test/mocking_classes.py
  test/test_collector.py
  test/test_cost.py
  test/test_env.py
  test/test_libs.py
  test/test_postprocs.py
  test/test_shared.py
  test/test_tensor_spec.py
  test/test_tensordictmodules.py
  test/test_trainer.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/collectors/utils.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/model_based/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
  torchrl/modules/models/recipes/impala.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/ppo.py
  torchrl/objectives/sac.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/trainers.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/tensordict_module.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: CLA Signed

#750 [BugFix] Fix size-match unsqueeze deprecation
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux_examples/scripts/install.sh
  .circleci/unittest/linux_libs/scripts_brax/install.sh
  .circleci/unittest/linux_libs/scripts_gym/install.sh
  .circleci/unittest/linux_libs/scripts_habitat/install.sh
  .circleci/unittest/linux_libs/scripts_jumanji/install.sh
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/install.sh
  .circleci/unittest/linux_optdeps/scripts/install.sh
  .circleci/unittest/linux_stable/scripts/install.sh
  docs/source/reference/envs.rst
  test/test_collector.py
  test/test_cost.py
  test/test_env.py
  test/test_libs.py
  test/test_postprocs.py
  test/test_tensor_spec.py
  test/test_trainer.py
  torchrl/collectors/collectors.py
  torchrl/collectors/utils.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
  torchrl/modules/models/recipes/impala.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/ppo.py
  torchrl/objectives/sac.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/trainers.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
Labels: bug, CLA Signed

#749 [Feature] FrameSkipTransform
  test/test_transforms.py
  torchrl/envs/common.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/functional.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#763 [BugFix] Better memory management for collectors
  torchrl/collectors/collectors.py
  torchrl/collectors/utils.py
Labels: enhancement, CLA Signed, Refactoring

#767 Minor cleaning in BaseEnv classes
  torchrl/envs/common.py
Labels: CLA Signed

#768 Revert "Minor cleaning in BaseEnv classes"
  torchrl/envs/common.py
Labels: CLA Signed

#769 Cleaning in envs `common.py`
  torchrl/envs/common.py
Labels: CLA Signed

#770 Making `_set_seed` abstract
  test/mocking_classes.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
Labels: CLA Signed

#772 [Feature] Remove the Nd*TensorSpec classes
  docs/source/reference/data.rst
  examples/dreamer/dreamer_utils.py
  test/mocking_classes.py
  test/test_collector.py
  test/test_cost.py
  test/test_exploration.py
  test/test_helpers.py
  test/test_modules.py
  test/test_tensor_spec.py
  test/test_tensordictmodules.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/data/__init__.py
  torchrl/data/tensor_specs.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/jax_utils.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/model_based/common.py
  torchrl/envs/model_based/dreamer.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  torchrl/modules/planners/cem.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/trainers/helpers/models.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: CLA Signed

#754 [BugFix] Reinstantiate custom value key for multioutput value networks
  torchrl/objectives/value/advantages.py
Labels: CLA Signed

#756 [Feature] Add Step Counter transform
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#774 [BugFix] Batched environments with non empty batch size
  test/mocking_classes.py
  test/test_env.py
  torchrl/envs/vec_env.py
Labels: CLA Signed

#778 Allow undounded boxes creation from gym spaces
  torchrl/envs/libs/gym.py
Labels: CLA Signed
