Repository pytorch/rl, pull requests merged in 2022-07, with the labels that each got.

#241 Remove CMake references in CI and README
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_optdeps/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
  README.md
Labels: CLA Signed

#229 Remove `current_tensordict` references
  test/mocking_classes.py
  test/test_collector.py
  test/test_env.py
  test/test_helpers.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/models.py
  tutorials/envs.ipynb
Labels: enhancement, CLA Signed, major

#242 Bugfix: Double2Float default behaviour
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#244 Create `wheels.yml` for github actions
  .circleci/config.yml
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux_optdeps/scripts/install.sh
  .circleci/unittest/linux_stable/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/install.sh
  .github/workflows/wheels.yml
  test/test_tensordict.py
  test/test_transforms.py
  torchrl/__init__.py
  torchrl/collectors/collectors.py
  torchrl/data/replay_buffers/utils.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/metatensor.py
  torchrl/data/tensordict/tensordict.py
  torchrl/data/utils.py
  torchrl/envs/common.py
  torchrl/modules/models/exploration.py
  torchrl/modules/models/models.py
Labels: CLA Signed, CI

#247 MacOs versioning and release bugfix
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux_optdeps/scripts/environment.yml
  .circleci/unittest/linux_optdeps/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/run_test.sh
  .github/workflows/wheels.yml
  setup.py
  test/test_shared.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/trainers/trainers.py
Labels: bug, CLA Signed

#248 Setup metadata
  .github/workflows/wheels.yml
  setup.py
  version.txt
Labels: documentation, CLA Signed, setup

#251 Fix a bug when segment_tree size is exactly 2^N
  torchrl/csrc/segment_tree.h
Labels: bug, CLA Signed

#252 Added test for RewardRescale transform
  .gitignore
  test/test_transforms.py
Labels: CLA Signed, Tests

#253 Empty TensorDict population in loops
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
Labels: bug, enhancement, CLA Signed

#260 [BugFix]: recursion error when calling `permute(...).to_tensordict()`
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
Labels: CLA Signed

#240 Differentiable PPOLoss for IRL
  test/smoke_test.py
  test/test_cost.py
  torchrl/objectives/costs/__init__.py
  torchrl/objectives/costs/common.py
  torchrl/objectives/costs/ddpg.py
  torchrl/objectives/costs/deprecated.py
  torchrl/objectives/costs/dqn.py
  torchrl/objectives/costs/ppo.py
  torchrl/objectives/costs/redq.py
  torchrl/objectives/costs/reinforce.py
  torchrl/objectives/costs/sac.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#261 [BugFix]: avoid deleting true in_keys in TensorDictSequence
  test/test_tensordictmodules.py
  torchrl/modules/tensordict_module/sequence.py
Labels: bug, CLA Signed

#263 [Feature] Add issue and pull request template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CLA Signed

#256 [Feature] Nested tensordicts
  test/test_tensordict.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/metatensor.py
  torchrl/data/tensordict/tensordict.py
  torchrl/data/utils.py
Labels: enhancement, CLA Signed

#262 [Feature]: Index nested tensordicts using tuples
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed

#264 [Feature]: flatten nested tensordicts
  test/test_tensordict.py
  torchrl/data/tensordict/metatensor.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed

#265 [Test]: test nested CompositeSpec
  test/test_tensor_spec.py
Labels: CLA Signed, Tests

#269 [Test]: test squeezed TensorDict
  test/test_tensordict.py
  torchrl/data/tensordict/metatensor.py
Labels: CLA Signed

#255 [Doc] Added TensorDict tutorial
  tutorials/tensordict.ipynb
Labels: documentation, CLA Signed

#268 [Test]: TensorDict: test tensordict created on cuda and sub-tensordict indexed along 2nd dimension
  test/test_tensordict.py
  torchrl/data/tensordict/memmap.py
Labels: CLA Signed, Tests

#245 Refactor the `torch.stack` with destination
  test/test_tensordict.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed

#272 [Feature]: faster meta-tensor API for TensorDict
  test/test_tensordict.py
  torchrl/__init__.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/metatensor.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed

#275 Small tweaks to make the replay buffer code more consistent
  torchrl/data/replay_buffers/replay_buffers.py
Labels: CLA Signed

#276 [BugFix]: Minor bugs in docstrings
  torchrl/envs/transforms/transforms.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/deprec.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/sequence.py
Labels: bug, documentation, CLA Signed

#284 [Doc]: TorchRL demo
  README.md
  tutorials/README.md
  tutorials/demo.ipynb
Labels: documentation, CLA Signed

#286 [BugFix]: update wrong links in issue and pull request template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CLA Signed

#283 [BugFix]: quickfix: force gym 0.24 installation until issue with rendering is resolved
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
  setup.py
Labels: CLA Signed

#288 [Doc]: remove pip install from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, CLA Signed

#289 [Feature]: faster safetanh transform via C++ bindings
  test/test_distributions.py
  torchrl/csrc/pybind.cpp
  torchrl/csrc/utils.h
  torchrl/modules/distributions/continuous.py
Labels: enhancement, CLA Signed

#291 [BugFix]: fix GLFW3 error when installing dm_control
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_stable/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/install.sh
  .circleci/unittest/linux_stable/scripts/setup_env.sh
Labels: CLA Signed

#290 [BugFix]: Fix examples
  examples/EXAMPLES.md
  examples/ddpg/config.yaml
  examples/ddpg/configs/cheetah.txt
  examples/ddpg/configs/halfcheetah.txt
  examples/ddpg/configs/humanoid.txt
  examples/ddpg/configs/humanoid_pixels.txt
  examples/ddpg/ddpg.py
  examples/dqn/config.yaml
  examples/dqn/configs/pong.txt
  examples/dqn/configs/pong_smoketest.txt
  examples/dqn/dqn.py
  examples/ppo/config.yaml
  examples/ppo/configs/cheetah.txt
  examples/ppo/configs/cheetah_pixels.txt
  examples/ppo/configs/cheetah_smoketest.txt
  examples/ppo/configs/humanoid.txt
  examples/ppo/ppo.py
  examples/redq/config.yaml
  examples/redq/configs/cheetah.txt
  examples/redq/configs/humanoid.txt
  examples/redq/configs/humanoid_pixels.txt
  examples/redq/redq.py
  examples/sac/config.yaml
  examples/sac/configs/cheetah.txt
  examples/sac/configs/humanoid.txt
  examples/sac/sac.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/trainers.py
Labels: CLA Signed

#292 [Doc] Simplify PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CLA Signed

#294 [BugFix]: Replay buffer bugfixes
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensordict/metatensor.py
  torchrl/data/tensordict/tensordict.py
Labels: bug, CLA Signed

#296 [Doc] MacOs M1 troubleshooting
  CONTRIBUTING.md
  README.md
Labels: CLA Signed

#293 [Feature]: Improving training efficiency
  test/test_env.py
  torchrl/data/tensordict/tensordict.py
  torchrl/envs/utils.py
  torchrl/modules/distributions/continuous.py
  torchrl/objectives/costs/ddpg.py
  torchrl/trainers/trainers.py
Labels: CLA Signed

#274 [Feature] Wandb logger
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  setup.py
  torchrl/trainers/loggers/__init__.py
  torchrl/trainers/loggers/common.py
  torchrl/trainers/loggers/tensorboard.py
  torchrl/trainers/loggers/wandb.py
Labels: CLA Signed

#303 [QuickFix]: update issue and pr template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CLA Signed

#305 [BugFix]: L2-priority for PRB
  torchrl/objectives/costs/ddpg.py
  torchrl/objectives/costs/dqn.py
  torchrl/objectives/costs/redq.py
  torchrl/objectives/costs/sac.py
Labels: bug, CLA Signed

#304 [Feature] Transforms: `Compose.insert` and `TransformedEnv.insert_transform`
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#307 [BugFix] Fix a build warning, setuptools/distutils import order
  setup.py
Labels: CLA Signed

#308 ufmt issue if imports in order requested by distutils
  setup.py
Labels: CLA Signed

#310 [WIP, BugFix]: Conda to pip for circleci
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_optdeps/scripts/install.sh
  .circleci/unittest/linux_stable/scripts/install.sh
  .circleci/unittest/linux_stable/scripts/setup_env.sh
  test/test_transforms.py
Labels: CLA Signed

#299 [BugFix] Support list-based boolean masks for TensorDict
  test/test_tensordict.py
  torchrl/data/tensordict/memmap.py
  torchrl/data/tensordict/tensordict.py
  torchrl/data/tensordict/utils.py
Labels: bug, CLA Signed

#295 [Feature] Truly invertible tensordict permutation of dimensions
  test/test_tensordict.py
  torchrl/data/tensordict/tensordict.py
Labels: enhancement, CLA Signed

#267 [Doc] Tensordictmodule tutorial
  tutorials/README.md
  tutorials/media/transformer.png
  tutorials/src/transformer.py
  tutorials/tensordictmodule.ipynb
Labels: documentation, CLA Signed

#316 [Feature] Rename _TensorDict into TensorDictBase
  test/mocking_classes.py
  test/test_distributions.py
  test/test_rb.py
  test/test_tensor_spec.py
  test/test_tensordict.py
  torchrl/collectors/collectors.py
  torchrl/collectors/utils.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensor_specs.py
  torchrl/data/tensordict/tensordict.py
  torchrl/data/utils.py
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/gym_like.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/modules/models/recipes/impala.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/deprec.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/objectives/costs/common.py
  torchrl/objectives/costs/ddpg.py
  torchrl/objectives/costs/deprecated.py
  torchrl/objectives/costs/dqn.py
  torchrl/objectives/costs/impala.py
  torchrl/objectives/costs/ppo.py
  torchrl/objectives/costs/redq.py
  torchrl/objectives/costs/reinforce.py
  torchrl/objectives/costs/sac.py
  torchrl/objectives/costs/utils.py
  torchrl/objectives/returns/advantages.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/trainers.py
Labels: CLA Signed

#317 [Release]: v0.0.1b versioning
  .github/workflows/wheels.yml
  version.txt
Labels: CLA Signed

#323 [BugFix]: Safe state normalization when std=0
  torchrl/trainers/helpers/envs.py
Labels: bug, CLA Signed

#322 [BugFix]: gradient propagation in advantage estimates
  test/test_cost.py
  torchrl/objectives/costs/utils.py
  torchrl/objectives/returns/advantages.py
Labels: bug, CLA Signed

#326 [BugFix]: make training example gracefully exit
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
Labels: CLA Signed

#325 [Setup]: Exclude tutorials from wheels
  setup.py
Labels: CLA Signed

#324 [BugFix]: Tensor map for subtensordict.set_
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/tensordict/tensordict.py
Labels: CLA Signed

#327 [Versioning]: Wheels v0.0.1c
  .github/workflows/wheels.yml
  version.txt
Labels: CLA Signed, versioning

#328 [BugFix] Fixed compose which ignored inv_transforms of child
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed
