Repository pytorch/rl, pull requests merged in 2023-03, with the labels that each got.

#940 [Doc] Add debug doc
  knowledge_base/DEBUGGING_RL.md
Labels: documentation, CLA Signed

#944 [BugFix] Propagate args to TransformedEnv's `state_dict`
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#942 [BugFix] Vmas expanded specs
  torchrl/envs/libs/vmas.py
Labels: CLA Signed

#945 [Quality] RB constuctors cleanup
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
Labels: bug, CLA Signed, quality, Refactoring

#948 [BugFix] Upgrade vision's functional import
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#951 [BugFix] Deprecate tensordict.set check skips in transforms
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed

#953 [BugFix] Upgrade tensordict deps
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
  torchrl/envs/libs/vmas.py
  torchrl/envs/transforms/transforms.py
  torchrl/objectives/value/advantages.py
Labels: CLA Signed

#954 [CI] Fix windows CI
  .circleci/unittest/windows_optdepts/scripts/install.sh
  .circleci/unittest/windows_optdepts/scripts/setup_env.sh
Labels: CLA Signed, CI

#956 [Refactor] Refactor composite spec keys to match tensordict
  test/test_specs.py
  torchrl/collectors/collectors.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/modules/planners/common.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/trainers/helpers/envs.py
Labels: CLA Signed, Refactoring

#941 [Refactor] Refactor the step to include reward and done in the 'next' tensordict
  README.md
  docs/source/_static/img/rollout.gif
  docs/source/reference/envs.rst
  test/_utils_internal.py
  test/mocking_classes.py
  test/test_actors.py
  test/test_collector.py
  test/test_cost.py
  test/test_env.py
  test/test_helpers.py
  test/test_libs.py
  test/test_postprocs.py
  test/test_rb.py
  test/test_trainer.py
  test/test_transforms.py
  torchrl/__init__.py
  torchrl/collectors/collectors.py
  torchrl/collectors/utils.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/tensor_specs.py
  torchrl/envs/__init__.py
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/libs/vmas.py
  torchrl/envs/model_based/common.py
  torchrl/envs/model_based/dreamer.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dqn.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/redq.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/advantages.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/logger.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/multi_task.py
  tutorials/sphinx-tutorials/pendulum.py
  tutorials/sphinx-tutorials/torchrl_demo.py
  tutorials/sphinx-tutorials/torchrl_envs.py
Labels: CLA Signed, bc breaking, Refactoring

#959 [Upgrading] Stack specs
  torchrl/data/tensor_specs.py
Labels: CLA Signed

#961 [Minor] Warning when loading memmap storage on uninitialized td
  torchrl/data/replay_buffers/storages.py
Labels: documentation, CLA Signed, formatting

#947 [Refactor] Defaults split_trajs to False
  test/test_collector.py
  test/test_cost.py
  test/test_postprocs.py
  torchrl/collectors/collectors.py
  torchrl/data/postprocs/postprocs.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  torchrl/objectives/dreamer.py
  torchrl/trainers/helpers/collectors.py
  tutorials/sphinx-tutorials/coding_ddpg.py
Labels: CLA Signed, Refactoring

#962 [Feature] InitTracker transform
  docs/source/reference/envs.rst
  test/mocking_classes.py
  test/test_collector.py
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/common.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#964 [Feature] RenameTransform
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#960 [Feature] Contiguous stacking of matching specs
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: CLA Signed

#965 [Feature] Various improvements to LazyStacked specs
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: CLA Signed

#970 [Refactor] Refactor data collectors constructors
  .circleci/unittest/linux_examples/scripts/run_test.sh
  test/test_collector.py
  torchrl/collectors/collectors.py
  torchrl/trainers/helpers/collectors.py
Labels: CLA Signed, bc breaking, Refactoring

#972 [Feature, Refactor] Iterable replay buffers
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
Labels: CLA Signed

#968 [Feature, Refactor] Iterable replay buffers
  test/test_rb.py
  torchrl/data/replay_buffers/__init__.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
Labels: enhancement, CLA Signed, bc breaking, Refactoring

#971 [Doc] README rewrite
  README.md
Labels: documentation, CLA Signed

#934 [Feature] `torch.distributed` collectors
  README.md
  docs/source/reference/collectors.rst
  docs/source/reference/trainers.rst
  examples/distributed/collectors/README.md
  examples/distributed/collectors/multi_nodes/delayed_dist.py
  examples/distributed/collectors/multi_nodes/delayed_rpc.py
  examples/distributed/collectors/multi_nodes/generic.py
  examples/distributed/collectors/multi_nodes/rpc.py
  examples/distributed/collectors/multi_nodes/sync.py
  examples/distributed/collectors/single_machine/generic.py
  examples/distributed/collectors/single_machine/rpc.py
  examples/distributed/collectors/single_machine/sync.py
  examples/distributed/replay_buffers/distributed_replay_buffer.py
  test/test_collector.py
  test/test_distributed.py
  test/test_loggers.py
  test/test_trainer.py
  torchrl/_utils.py
  torchrl/collectors/collectors.py
  torchrl/collectors/distributed/__init__.py
  torchrl/collectors/distributed/default_configs.py
  torchrl/collectors/distributed/generic.py
  torchrl/collectors/distributed/rpc.py
  torchrl/collectors/distributed/sync.py
  torchrl/collectors/distributed/utils.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/utils.py
  torchrl/record/loggers/__init__.py
Labels: enhancement, CLA Signed

#928 [Feature] Offline datasets: D4RL
  .circleci/config.yml
  .circleci/unittest/linux_libs/scripts_d4rl/environment.yml
  .circleci/unittest/linux_libs/scripts_d4rl/install.sh
  .circleci/unittest/linux_libs/scripts_d4rl/post_process.sh
  .circleci/unittest/linux_libs/scripts_d4rl/run-clang-format.py
  .circleci/unittest/linux_libs/scripts_d4rl/run_test.sh
  .circleci/unittest/linux_libs/scripts_d4rl/setup_env.sh
  README.md
  docs/source/reference/data.rst
  test/test_collector.py
  test/test_libs.py
  test/test_postprocs.py
  torchrl/collectors/collectors.py
  torchrl/collectors/utils.py
  torchrl/data/datasets/__init__.py
  torchrl/data/datasets/d4rl.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/jax_utils.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/model_based/dreamer.py
  torchrl/envs/vec_env.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/trainers/helpers/models.py
Labels: enhancement, CLA Signed

#974 [Versioning] v0.1.0 [Beta]
  .github/workflows/wheels.yml
  setup.py
  version.txt
Labels: CLA Signed, versioning

#892 [Feature] Stacking specs
  test/test_specs.py
  torchrl/data/__init__.py
  torchrl/data/tensor_specs.py
Labels: enhancement, CLA Signed

#963 [Feature] Multicollector interruptor
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: enhancement, CLA Signed

#978 [BugFix] VMAS api fix
  test/test_libs.py
  torchrl/collectors/collectors.py
  torchrl/envs/libs/vmas.py
Labels: bug, CLA Signed

#976 [CI] Fix D4RL tests in CI
  .circleci/config.yml
  knowledge_base/MUJOCO_INSTALLATION.md
  setup.py
  test/test_libs.py
  torchrl/data/datasets/d4rl.py
Labels: CLA Signed, CI

#984 [Refactor] Binary spec inherits from discrete spec
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: CLA Signed

#882 [Feature] Discrete SAC
  docs/source/reference/objectives.rst
  examples/discrete_sac/config.yaml
  examples/discrete_sac/discrete_sac.py
  test/test_cost.py
  torchrl/objectives/__init__.py
  torchrl/objectives/sac.py
Labels: enhancement, CLA Signed, new algo

#986 [Refactor, Doc] Refactor refs to SafeModule to TensorDictModule unless necessary
  README.md
  docs/source/reference/modules.rst
  test/test_cost.py
  test/test_tensordictmodules.py
  torchrl/envs/model_based/common.py
  torchrl/envs/model_based/dreamer.py
  torchrl/modules/__init__.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/models/exploration.py
  torchrl/modules/models/model_based.py
  torchrl/modules/models/models.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/modules/tensordict_module/world_models.py
  torchrl/objectives/a2c.py
  torchrl/objectives/common.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/iql.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/advantages.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
Labels: documentation, CLA Signed, Refactoring

#991 [BugFix] Quickfix
  test/test_collector.py
  torchrl/collectors/collectors.py
  torchrl/objectives/sac.py
Labels: bug, CLA Signed

#989 [Feature] Warn when collectors collect more frames than requested
  torchrl/collectors/collectors.py
Labels: enhancement, CLA Signed

#981 [BugFix] make "_reset", "step_count", and other done_based keys follow done_spec
  test/test_collector.py
  test/test_env.py
  test/test_libs.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
Labels: bug, CLA Signed

#912 [Feature] Bandit datasets
  .circleci/config.yml
  .circleci/unittest/linux_examples/scripts/run_test.sh
  .circleci/unittest/linux_libs/scripts_sklearn/environment.yml
  .circleci/unittest/linux_libs/scripts_sklearn/install.sh
  .circleci/unittest/linux_libs/scripts_sklearn/post_process.sh
  .circleci/unittest/linux_libs/scripts_sklearn/run-clang-format.py
  .circleci/unittest/linux_libs/scripts_sklearn/run_test.sh
  .circleci/unittest/linux_libs/scripts_sklearn/setup_env.sh
  docs/source/reference/data.rst
  docs/source/reference/envs.rst
  examples/bandits/dqn.py
  test/test_collector.py
  test/test_libs.py
  torchrl/collectors/collectors.py
  torchrl/data/datasets/d4rl.py
  torchrl/data/datasets/openml.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/openml.py
  torchrl/modules/models/models.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/objectives/dqn.py
  torchrl/objectives/utils.py
Labels: enhancement, CLA Signed

#996 [BugFix] Fix sampling in PPO tutorial
  tutorials/sphinx-tutorials/coding_ppo.py
Labels: CLA Signed

#987 [Refactor] Refactor losses (value function, doc, input batch size)
  docs/source/index.rst
  docs/source/reference/objectives.rst
  examples/a2c/a2c.py
  examples/ppo/ppo.py
  test/test_cost.py
  test/test_modules.py
  torchrl/collectors/collectors.py
  torchrl/data/datasets/d4rl.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/utils.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/modules/models/models.py
  torchrl/modules/planners/mppi.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/objectives/__init__.py
  torchrl/objectives/a2c.py
  torchrl/objectives/common.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dqn.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/iql.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/__init__.py
  torchrl/objectives/value/advantages.py
  torchrl/objectives/value/functional.py
  torchrl/objectives/value/utils.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed, bc breaking

#1003 [BugFix,Feature,Doc] Fix replay buffers sampling info, docstrings and iteration
  examples/discrete_sac/discrete_sac.py
  examples/iql/iql_online.py
  examples/td3/td3.py
  test/test_rb.py
  test/test_rb_distributed.py
  test/test_trainer.py
  test/test_transforms.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/trainers/helpers/replay_buffer.py
Labels: bug, documentation, enhancement, CLA Signed

#1008 [BugFix] Only call replay buffer transforms when there are
  test/test_rb.py
  torchrl/collectors/collectors.py
  torchrl/data/replay_buffers/replay_buffers.py
Labels: CLA Signed

#1009 [BugFix] Patch tests in 1008
  test/test_rb.py
Labels: bug, CLA Signed, Tests, CI

#1010 [CI] Fix python version in habitat
  .circleci/config.yml
Labels: CLA Signed, CI
