Repository pytorch/rl, pull requests merged in 2023-12, with the labels that each got.

#1724 [Feature] Shared replay buffers
  docs/source/reference/data.rst
  test/test_rb.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/writers.py
Labels: enhancement, CLA Signed, Data

#1728 [BugFix] _call_actor_net does not handle multiple inputs
  torchrl/objectives/value/advantages.py
Labels: CLA Signed

#1727 [BugFix, Test] Fix flaky gym vecenvs tests
  test/_utils_internal.py
  test/test_libs.py
  torchrl/envs/libs/gym.py
Labels: bug, CLA Signed, Tests, CI

#1731 [Feature] All VMAS scenarios available
  torchrl/envs/libs/vmas.py
Labels: enhancement, CLA Signed, Environments

#1738 [CI] Fix doc upload
  .github/workflows/docs.yml
  docs/source/reference/data.rst
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/modules/__init__.py
Labels: CLA Signed, ciflow/docs

#1736 [BugFix] Fix RNNs trajectory split in VMAP calls
  test/test_tensordictmodules.py
  torchrl/objectives/value/utils.py
Labels: bug, CLA Signed

#1739 [CI] Fix doc upload
  .github/workflows/docs.yml
Labels: CLA Signed, ciflow/docs

#1737 [BugFix, Feature] Fix DDQN implementation
  test/test_cost.py
  torchrl/envs/libs/robohive.py
  torchrl/modules/distributions/discrete.py
  torchrl/objectives/dqn.py
  torchrl/objectives/multiagent/qmixer.py
Labels: bug, enhancement, CLA Signed

#1512 [Algorithm] Update DQN example
  .github/unittest/linux_examples/scripts/run_test.sh
  README.md
  examples/distributed/collectors/multi_nodes/lol.py
  examples/dqn/README.md
  examples/dqn/config.yaml
  examples/dqn/config_atari.yaml
  examples/dqn/config_cartpole.yaml
  examples/dqn/dqn.py
  examples/dqn/dqn_atari.py
  examples/dqn/dqn_cartpole.py
  examples/dqn/utils_atari.py
  examples/dqn/utils_cartpole.py
Labels: CLA Signed, new algo

#1744 [BugFix] Fix compat with new memmap API
  torchrl/data/replay_buffers/storages.py
Labels: bug, CLA Signed

#1732 [Performance] Faster RNNs
  test/test_tensordictmodules.py
  torchrl/modules/tensordict_module/rnn.py
  torchrl/objectives/sac.py
Labels: CLA Signed, performance

#1749 [BugFix, Test] Fix torch.vmap call in RNN tests
  test/test_tensordictmodules.py
Labels: CLA Signed

#1750 [BugFix] Fix discrete SAC log-prob
  test/test_tensordictmodules.py
  torchrl/objectives/sac.py
Labels: bug, CLA Signed

#1752 [Minor] Remove dead code in RolloutFromModel
  torchrl/data/rlhf/utils.py
Labels: CLA Signed

#1753 [Minor] Fix runnability of RLHF example in examples/rlhf
  examples/rlhf/train.py
  examples/rlhf/train_reward.py
  examples/rlhf/utils.py
Labels: bug, CLA Signed

#1746 [CI] Fix windows CI
  .github/unittest/windows_optdepts/scripts/install.sh
  .github/unittest/windows_optdepts/scripts/post_process.sh
  .github/unittest/windows_optdepts/scripts/run_test.sh
  .github/unittest/windows_optdepts/scripts/setup_env.sh
  .github/workflows/test-windows-optdepts-gpu.yml
  .github/workflows/test-windows-optdepts.yml
  examples/rlhf/train_reward.py
  torchrl/_utils.py
  torchrl/collectors/collectors.py
  torchrl/envs/batched_envs.py
Labels: CLA Signed, CI

#1754 [CI] Fix CI for optional dependencies
  .github/unittest/linux_libs/scripts_d4rl/run_test.sh
  .github/unittest/linux_libs/scripts_d4rl/setup_env.sh
Labels: CLA Signed, Data

#1760 [Benchmark] Fix RB benchmarks
  benchmarks/test_replaybuffer_benchmark.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed, Benchmarks

#1757 [BugFix] Fix RLHF
  test/assets/tldr_batch.zip
  test/test_rlhf.py
Labels: bug, CLA Signed, CI

#1762 [BugFix] Fix slice sampler
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed
