Repository pytorch/rl, pull requests merged in 2023-02, with the labels that each got.

#887 [Refactor] Turn off default advantage normalization in PPO
  torchrl/objectives/ppo.py
Labels: CLA Signed, Refactoring

#890 [CI] Fix habitat-gym imports
  .circleci/unittest/linux_libs/scripts_habitat/run_test.sh
  .circleci/unittest/linux_libs/scripts_habitat/setup_env.sh
  torchrl/envs/libs/habitat.py
Labels: bug, enhancement, CLA Signed, CI

#889 [CI] Fix cuda versions
  .circleci/config.yml
Labels: CLA Signed

#888 [CI] Fix windows install
  .circleci/config.yml
  .circleci/unittest/windows_optdepts/scripts/install.sh
Labels: CLA Signed, CI

#886 MacOS CPU unit test workflow using GitHub Actions
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux/scripts/setup_env.sh
  .github/workflows/test-linux-cpu.yml
  .github/workflows/test-macos-cpu.yml
Labels: CLA Signed

#826 Linux CPU unit test workflow using GitHub Actions
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux/scripts/setup_env.sh
  .github/workflows/test-linux-cpu.yml
Labels: CLA Signed

#878 [Major, BugFix, Test] Refactor Transforms tests
  .circleci/unittest/linux_libs/scripts_gym/batch_scripts.sh
  .circleci/unittest/linux_libs/scripts_gym/run_test.sh
  .circleci/unittest/linux_libs/scripts_gym/setup_env.sh
  examples/dreamer/dreamer_utils.py
  test/_utils_internal.py
  test/mocking_classes.py
  test/test_collector.py
  test/test_env.py
  test/test_exploration.py
  test/test_helpers.py
  test/test_libs.py
  test/test_rb.py
  test/test_transforms.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/jax_utils.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/trainers.py
Labels: bug, CLA Signed

#893 [Bugfix] Codecov does not cover multiprocessed tests #879
  .circleci/unittest/helpers/coverage_run_parallel.py
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux_examples/scripts/run_test.sh
  .circleci/unittest/linux_libs/scripts_brax/run_test.sh
  .circleci/unittest/linux_libs/scripts_envpool/run_test.sh
  .circleci/unittest/linux_libs/scripts_gym/run_test.sh
  .circleci/unittest/linux_libs/scripts_habitat/run_test.sh
  .circleci/unittest/linux_libs/scripts_jumanji/run_test.sh
  .circleci/unittest/linux_libs/scripts_vmas/run_test.sh
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/run_test.sh
  .circleci/unittest/linux_optdeps/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/run_test.sh
Labels: enhancement, CLA Signed, CI

#895 [CI, BugFix] Fix gym related errors
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_examples/scripts/environment.yml
  .circleci/unittest/linux_libs/scripts_brax/environment.yml
  .circleci/unittest/linux_libs/scripts_envpool/environment.yml
  .circleci/unittest/linux_libs/scripts_gym/batch_scripts.sh
  .circleci/unittest/linux_libs/scripts_gym/environment.yml
  .circleci/unittest/linux_libs/scripts_gym/run_test.sh
  .circleci/unittest/linux_libs/scripts_habitat/environment.yml
  .circleci/unittest/linux_libs/scripts_jumanji/environment.yml
  .circleci/unittest/linux_libs/scripts_vmas/environment.yml
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/environment.yml
  .circleci/unittest/linux_optdeps/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
  .circleci/unittest/windows_optdepts/scripts/environment.yml
  test/test_env.py
Labels: CLA Signed, CI

#899 [BugFix] Compose cloning fix
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#898 [CI,Feature] Upgrade to gymnasium
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_examples/scripts/environment.yml
  .circleci/unittest/linux_examples/scripts/setup_env.sh
  .circleci/unittest/linux_libs/scripts_envpool/environment.yml
  .circleci/unittest/linux_libs/scripts_envpool/setup_env.sh
  .circleci/unittest/linux_libs/scripts_gym/batch_scripts.sh
  .circleci/unittest/linux_stable/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/setup_env.sh
  test/_utils_internal.py
  test/smoke_test_deps.py
  test/test_env.py
  test/test_libs.py
  test/test_specs.py
  test/test_utils.py
  torchrl/_utils.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/utils.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
  torchrl/record/loggers/csv.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: enhancement, CLA Signed

#904 [Doc] Add record utils to doc
  docs/source/reference/trainers.rst
Labels: documentation, CLA Signed

#906 [Test] Improve exception message match
  test/test_utils.py
Labels: CLA Signed

#908 [Feature] RandomCropTensorDict transform
  docs/source/reference/data.rst
  docs/source/reference/envs.rst
  test/test_rb.py
  test/test_transforms.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#909 [Versioning] Version 0.0.4b
  .github/workflows/wheels.yml
  version.txt
Labels: CLA Signed, versioning

#910 [Versioning] Version 0.0.4
  .github/workflows/wheels.yml
  version.txt
Labels: CLA Signed, versioning

#915 [BugFix] Fix dreamer training loop
  examples/dreamer/dreamer.py
Labels: bug, CLA Signed

#913 [Doc] PPO Tutorial
  docs/requirements.txt
  docs/source/_static/img/invpendulum.gif
  docs/source/index.rst
  tutorials/sphinx-tutorials/coding_ppo.py
Labels: CLA Signed

#920 [BugFix] Deploy doc
  .github/workflows/docs.yml
Labels: bug, documentation, CLA Signed, CI

#922 [BugFix] Nvidia not found fix
  .github/workflows/docs.yml
Labels: CLA Signed

#816 [Feature] Rework `to_one_hot` and `to_categorical` to take a tensor as parameter
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: CLA Signed

#926 [Doc] Tutorial revamp
  .github/workflows/docs.yml
  docs/source/_static/img/cartpole.gif
  docs/source/_static/img/cartpole_demo.gif
  docs/source/_static/img/dqn.png
  docs/source/_static/img/dqn_td0.png
  docs/source/_static/img/dqn_tdlambda.png
  docs/source/_static/img/pendulum.gif
  docs/source/_static/img/transforms.png
  torchrl/data/replay_buffers/storages.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/pendulum.py
  tutorials/sphinx-tutorials/tensordict_module.py
  tutorials/sphinx-tutorials/tensordict_tutorial.py
Labels: documentation, CLA Signed

#936 [CI] Do not run nightly workflows on forked repos
  .github/workflows/nightly_build.yml
Labels: CLA Signed

#935 [Refactor] set_default -> setdefault
  torchrl/envs/gym_like.py
Labels: enhancement, CLA Signed

#938 [BugFix] Step and maybe reset
  test/mocking_classes.py
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed

#907 [Doc] Minor doc improvements
  docs/source/reference/envs.rst
Labels: CLA Signed
