Repository pytorch/rl, pull requests merged in 2023-09, with the labels that each got.

#1457 [Refactor] Faster envs (2)
  .circleci/unittest/linux_libs/scripts_gym/run_test.sh
  .circleci/unittest/linux_libs/scripts_gym/setup_env.sh
  examples/decision_transformer/utils.py
  test/mocking_classes.py
  test/test_collector.py
  test/test_env.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/libs/openml.py
  torchrl/envs/libs/vmas.py
  torchrl/envs/model_based/common.py
  torchrl/envs/transforms/rlhf.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  tutorials/sphinx-tutorials/pendulum.py
Labels: CLA Signed, performance

#1478 [BugFix] Fix RewardSum spec transform to mimic reward spec
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#1477 [BugFix] Fix NoopResetEnv behavior when trials exceeded.
  test/mocking_classes.py
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1427 [BugFix] Fix LSTM - VecEnv compatibility
  test/mocking_classes.py
  test/test_env.py
  test/test_tensordictmodules.py
  test/test_transforms.py
  torchrl/envs/common.py
  torchrl/modules/tensordict_module/rnn.py
Labels: bug, CLA Signed

#1482 [BugFix] Fix Gym Categorical/One-hot issues
  test/mocking_classes.py
  test/test_env.py
  test/test_libs.py
  test/test_specs.py
  torchrl/data/tensor_specs.py
  torchrl/envs/libs/gym.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1483 [Doc] Update coding_ppo.py
  tutorials/sphinx-tutorials/coding_ppo.py
Labels: CLA Signed

#1485 [BugFix] Nested key in replay buffer
  torchrl/data/replay_buffers/replay_buffers.py
Labels: CLA Signed

#1484 [Feature] VMAS: choose between categorical or one-hot actions
  examples/multiagent/sac.py
  examples/multiagent/sac.yaml
  torchrl/envs/libs/vmas.py
Labels: CLA Signed

#1489 [CI] Fix examples CI
  examples/multiagent/sac.py
Labels: bug, CLA Signed, CI

#1488 [Feature] Refactor categorical dists: Masked one-hot and pass-through gradients
  test/test_distributions.py
  torchrl/modules/__init__.py
  torchrl/modules/distributions/__init__.py
  torchrl/modules/distributions/discrete.py
Labels: enhancement, CLA Signed

#1490 [Minor] Missing commit from #1488
  docs/source/reference/modules.rst
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/distributions/discrete.py
Labels: bug, documentation, CLA Signed

#1492 [BugFix] Fix action mask test
  test/test_transforms.py
Labels: bug, CLA Signed

#1491 [BugFix] Fix typo in CatFrames Transform error message.
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1496 [Setup] Update setup.py python versions
  README.md
  setup.py
Labels: CLA Signed, versioning

#1498 [Minor] Capture error in CatFrame edit
  test/test_transforms.py
Labels: bug, CLA Signed, Tests

#1501 [BugFix] Empty-spec tolerance
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#1502 [Doc] correct typos in pendulum tutorial
  tutorials/sphinx-tutorials/pendulum.py
Labels: documentation, CLA Signed

#1499 [Feature] Making action masks compatible with q value modules and e-greedy
  docs/source/reference/modules.rst
  examples/multiagent/iql.py
  examples/multiagent/qmix_vdn.py
  test/test_actors.py
  test/test_exploration.py
  torchrl/modules/__init__.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/exploration.py
Labels: enhancement, CLA Signed, Refactoring

#1487 [BugFix] Fix DDPG squeezing
  torchrl/objectives/ddpg.py
Labels: bug, CLA Signed

#1500 [Feature] ClipTransform + rename `min/maximum` -> `low/high`
  benchmarks/test_objectives_benchmarks.py
  docs/source/reference/envs.rst
  examples/a2c/utils.py
  examples/cql/utils.py
  examples/multiagent/maddpg_iddpg.py
  examples/multiagent/mappo_ippo.py
  examples/multiagent/sac.py
  examples/ppo/utils.py
  examples/sac/utils.py
  test/mocking_classes.py
  test/test_actors.py
  test/test_cost.py
  test/test_helpers.py
  test/test_modules.py
  test/test_specs.py
  test/test_transforms.py
  torchrl/data/tensor_specs.py
  torchrl/envs/__init__.py
  torchrl/envs/common.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/objectives/td3.py
  torchrl/trainers/helpers/models.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
  tutorials/sphinx-tutorials/pendulum.py
Labels: enhancement, CLA Signed

#1494 [BugFix] Multiagent "auto" entropy fix in SAC
  examples/multiagent/sac.py
  torchrl/objectives/cql.py
  torchrl/objectives/decision_transformer.py
  torchrl/objectives/redq.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
Labels: bug, CLA Signed, Refactoring

#1507 [Minor] More efficient SAC v1
  torchrl/objectives/sac.py
Labels: CLA Signed, Refactoring

#1511 [BugFix] Add `torch.no_grad()` for rendering in multiagent PPO tutorial
  tutorials/sphinx-tutorials/multiagent_ppo.py
Labels: bug, documentation, CLA Signed

#1528 [CI] Fix CI PettingZoo
  .github/unittest/linux_libs/scripts_pettingzoo/run_test.sh
  .github/workflows/test-linux-pettingzoo.yml
  setup.py
Labels: bug, CLA Signed, CI

#1530 [BugFix] Fix envpool
  README.md
  test/_utils_internal.py
  test/test_libs.py
  torchrl/collectors/collectors.py
  torchrl/envs/__init__.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/libs/envpool.py
  torchrl/envs/vec_envs.py
Labels: bug, CLA Signed

#1466 [Environment, Docs] SMACv2 and docs on action masking
  .github/unittest/linux_libs/scripts_smacv2/environment.yml
  .github/unittest/linux_libs/scripts_smacv2/install.sh
  .github/unittest/linux_libs/scripts_smacv2/post_process.sh
  .github/unittest/linux_libs/scripts_smacv2/run-clang-format.py
  .github/unittest/linux_libs/scripts_smacv2/run_test.sh
  .github/unittest/linux_libs/scripts_smacv2/setup_env.sh
  .github/workflows/test-linux-smacv2.yml
  docs/source/reference/envs.rst
  test/test_libs.py
  torchrl/envs/libs/smacv2.py
  torchrl/envs/utils.py
Labels: documentation, enhancement, CLA Signed, Environments

#1529 [CI] Fix CI
  .github/unittest/linux_libs/scripts_d4rl/setup_env.sh
  .github/unittest/linux_libs/scripts_gym/setup_env.sh
  .github/unittest/linux_libs/scripts_robohive/setup_env.sh
  .github/unittest/linux_olddeps/scripts_gym_0_13/setup_env.sh
  docs/source/reference/envs.rst
  test/test_loggers.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/habitat.py
  torchrl/envs/libs/isaacgym.py
  torchrl/envs/libs/pettingzoo.py
  torchrl/envs/utils.py
Labels: CLA Signed, CI

#1533 [BugFix] Small patches to SMAC
  torchrl/envs/libs/smacv2.py
Labels: bug, CLA Signed, Environments

#1532 [Refactor] Expose all wrappers in torchrl.envs
  docs/source/reference/envs.rst
  test/test_libs.py
  torchrl/collectors/collectors.py
  torchrl/collectors/distributed/generic.py
  torchrl/collectors/distributed/ray.py
  torchrl/collectors/distributed/rpc.py
  torchrl/collectors/distributed/sync.py
  torchrl/data/tensor_specs.py
  torchrl/envs/__init__.py
  torchrl/envs/libs/__init__.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/envpool.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/habitat.py
  torchrl/envs/libs/isaacgym.py
  torchrl/envs/libs/jax_utils.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/libs/openml.py
  torchrl/envs/libs/pettingzoo.py
  torchrl/envs/libs/robohive.py
  torchrl/envs/libs/smacv2.py
  torchrl/envs/libs/vmas.py
  torchrl/envs/model_based/dreamer.py
  torchrl/modules/planners/cem.py
  torchrl/modules/planners/common.py
  torchrl/modules/planners/mppi.py
  torchrl/modules/tensordict_module/rnn.py
  torchrl/record/__init__.py
  torchrl/record/loggers/__init__.py
  torchrl/record/loggers/mlflow.py
  torchrl/record/loggers/tensorboard.py
  torchrl/record/loggers/wandb.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/models.py
Labels: enhancement, CLA Signed

#1535 [Test] Skip tests in python 3.11
  test/test_collector.py
  test/test_transforms.py
Labels: CLA Signed, Tests

#1536 [BugFIx] Fix entropy signature in truncated normal
  test/test_distributions.py
  torchrl/modules/distributions/truncated_normal.py
Labels: bug, CLA Signed

#1537 [CI] Fix habitat CI
  .github/unittest/linux_libs/scripts_habitat/setup_env.sh
Labels: CLA Signed, CI

#1527 [Test] Test state_dict and loss modules
  test/test_cost.py
Labels: CLA Signed, Tests

#1538 [BugFix] Fix SMAC-v2
  torchrl/envs/libs/smacv2.py
Labels: CLA Signed, Environments

#1517 [Feature] Log hparams from python dict
  test/test_loggers.py
  torchrl/record/loggers/common.py
  torchrl/record/loggers/csv.py
  torchrl/record/loggers/mlflow.py
  torchrl/record/loggers/tensorboard.py
  torchrl/record/loggers/wandb.py
Labels: enhancement, CLA Signed

#1398 [Features] Conv3dNet and PermuteTransform
  docs/source/reference/envs.rst
  docs/source/reference/modules.rst
  test/mocking_classes.py
  test/test_modules.py
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/models/__init__.py
  torchrl/modules/models/models.py
  torchrl/modules/models/utils.py
Labels: enhancement, CLA Signed

#1519 [Feature] Gym 'vectorized' envs compatibility
  .github/unittest/linux_libs/scripts_gym/batch_scripts.sh
  docs/source/reference/envs.rst
  test/_utils_internal.py
  test/test_libs.py
  torchrl/_utils.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/robohive.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed, Environments

#1541 [CI] Fix RoboHive CI
  .github/unittest/linux_libs/scripts_robohive/setup_env.sh
Labels: CLA Signed

#1551 [Refactor] Fix imports
  test/test_libs.py
  torchrl/__init__.py
  torchrl/envs/libs/robohive.py
Labels: CLA Signed, Refactoring

#1550 [Feature] Pettingzoo: add multiagent dimension to single agent groups
  torchrl/envs/libs/pettingzoo.py
Labels: enhancement, CLA Signed

#1549 [Test] Remove import of test class
  test/_utils_internal.py
  test/test_collector.py
  test/test_env.py
Labels: CLA Signed, Tests

#1553 [BugFix] Instantiate 2 losses with different keys
  test/test_cost.py
  torchrl/objectives/common.py
Labels: bug, CLA Signed

#1555 [Feature] Unbind specs
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: enhancement, CLA Signed

#1556 [Minor] Missing lint
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: CLA Signed

#1554 [BugFix] PettingZoo seeding
  torchrl/envs/libs/pettingzoo.py
Labels: bug, CLA Signed

#1558 [BugFix] Fix Dreamer test error
  test/test_specs.py
  torchrl/_utils.py
  torchrl/collectors/collectors.py
  torchrl/objectives/dreamer.py
Labels: bug, CLA Signed

#1495 [Algorithm] Update PPO examples
  .github/unittest/linux_examples/scripts/environment.yml
  .github/unittest/linux_examples/scripts/run_test.sh
  examples/ppo/README.md
  examples/ppo/config.yaml
  examples/ppo/config_atari.yaml
  examples/ppo/config_example2.yaml
  examples/ppo/config_mujoco.yaml
  examples/ppo/ppo.py
  examples/ppo/ppo_atari.py
  examples/ppo/ppo_atari_pong.png
  examples/ppo/ppo_mujoco.py
  examples/ppo/ppo_mujoco_halfcheetah.png
  examples/ppo/training_curves.md
  examples/ppo/utils.py
  examples/ppo/utils_atari.py
  examples/ppo/utils_mujoco.py
Labels: CLA Signed, new algo

#1561 [Feature] make csv logger `exist_ok` on logging folder
  torchrl/record/loggers/csv.py
Labels: enhancement, CLA Signed

#1557 [BugFix] Load collector frames and iter
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed

#1562 [Refactor] Use `wait` instead of `is_set` to get results in ParallelEnv
  torchrl/envs/batched_envs.py
Labels: CLA Signed, Refactoring

#1521 [Algorithm] Update A2C examples
  .github/unittest/linux_examples/scripts/run_test.sh
  examples/a2c/README.md
  examples/a2c/a2c.py
  examples/a2c/a2c_atari.py
  examples/a2c/a2c_mujoco.py
  examples/a2c/a2c_mujoco_halfcheetah.png
  examples/a2c/config.yaml
  examples/a2c/config_atari.yaml
  examples/a2c/config_mujoco.yaml
  examples/a2c/training_curves.md
  examples/a2c/utils.py
  examples/a2c/utils_atari.py
  examples/a2c/utils_mujoco.py
Labels: CLA Signed, new algo

#1564 [CI] Add ninja for MacOS builts
  .github/unittest/linux/scripts/environment.yml
Labels: CLA Signed, CI

#1559 [Feature] Threaded collection and parallel envs
  test/_utils_internal.py
  test/test_collector.py
  test/test_env.py
  torchrl/_utils.py
  torchrl/collectors/collectors.py
  torchrl/data/utils.py
  torchrl/envs/batched_envs.py
Labels: enhancement, CLA Signed, performance

#1563 [BugFix] DDPG select also critic input for actor loss
  torchrl/objectives/ddpg.py
Labels: bug, CLA Signed

#1566 [CI] Fix jumanji
  .github/unittest/linux_libs/scripts_jumanji/environment.yml
  test/test_libs.py
Labels: CLA Signed, CI

#1571 [Test] Skip threading tests in OSX
  test/test_collector.py
  test/test_env.py
Labels: CLA Signed, Tests

#1570 [BugFix] Fix run_type_checks
  test/test_env.py
  torchrl/envs/common.py
Labels: bug, CLA Signed

#1568 [Tests] DDPG extra critic input tests
  test/test_cost.py
Labels: CLA Signed, Tests

#1573 [Minor] Remove ya gymnasium deprecation warning in vectorized envs
  torchrl/envs/libs/gym.py
Labels: CLA Signed, quality

#1579 [Versioning] Write version all cases in setup.py
  setup.py
Labels: CLA Signed, versioning

#1577 [Versioning] Use python 3.8 for GPU tests
  .github/workflows/test-linux-gpu.yml
  .github/workflows/test-linux-stable-gpu.yml
Labels: CLA Signed, versioning
