Repository pytorch/rl, pull requests merged in 2023-10, with the labels that each got.

#1547 [BugFix] Improve collector buffer initialisation when policy spec is unavailable
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed, Environments

#1580 [Lint] Add TorchFix linter
  .pre-commit-config.yaml
  setup.cfg
  test/test_transforms.py
  torchrl/envs/transforms/vip.py
Labels: CLA Signed, quality, formatting

#1590 [Performance] Reduce key accessing in transforms
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, performance

#1581 [Feature] Make advantages compatible with Terminated, Truncated, Done
  examples/multiagent/iql.py
  examples/multiagent/maddpg_iddpg.py
  examples/multiagent/mappo_ippo.py
  examples/multiagent/sac.py
  examples/multiagent/utils/utils.py
  test/test_cost.py
  torchrl/objectives/a2c.py
  torchrl/objectives/cql.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dqn.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/iql.py
  torchrl/objectives/multiagent/qmixer.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/value/advantages.py
  torchrl/objectives/value/functional.py
  torchrl/objectives/value/utils.py
Labels: enhancement, CLA Signed

#1591 [BugFix] Minor fixes PPO / A2C examples
  examples/a2c/a2c_atari.py
  examples/a2c/utils_atari.py
  examples/ppo/ppo_atari.py
  examples/ppo/utils_atari.py
Labels: bug, CLA Signed

#1596 [BugFix] Make VecNorm Transform pickable
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1523 [Algorithm] Update TD3 Example
  .github/unittest/linux_examples/scripts/run_test.sh
  examples/td3/config.yaml
  examples/td3/td3.py
  examples/td3/utils.py
  test/test_cost.py
  torchrl/collectors/collectors.py
  torchrl/objectives/td3.py
Labels: CLA Signed, new algo

#1525 [Algorithm] Update DDPG Example
  .github/unittest/linux_examples/scripts/run_test.sh
  examples/ddpg/config.yaml
  examples/ddpg/ddpg.py
  examples/ddpg/utils.py
Labels: CLA Signed, new algo

#1598 [BugFix] Vectorized priority update in replay buffers
  torchrl/data/replay_buffers/replay_buffers.py
Labels: bug, CLA Signed, performance

#1600 [Doc] Fix advantage examples
  torchrl/objectives/value/advantages.py
Labels: documentation, CLA Signed

#1599 [Docs] Fix multi-agent tutorial
  examples/multiagent/sac.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
Labels: documentation, CLA Signed

#1430 [Feature] D4rl direct download
  .github/unittest/linux_libs/scripts_d4rl/run_test.sh
  test/test_libs.py
  torchrl/data/datasets/d4rl.py
  torchrl/data/datasets/d4rl_infos.py
Labels: enhancement, CLA Signed

#1603 [Refactor] Refactor DDPG loss in standalone methods
  examples/ddpg/ddpg.py
  test/test_cost.py
  torchrl/objectives/ddpg.py
Labels: CLA Signed, Refactoring

#1560 [Algorithm] Update DT
  examples/decision_transformer/dt.py
  examples/decision_transformer/dt_config.yaml
  examples/decision_transformer/odt_config.yaml
  examples/decision_transformer/online_dt.py
  examples/decision_transformer/utils.py
Labels: CLA Signed, new algo

#1586 [Feature] Support for GRU
  docs/source/reference/modules.rst
  test/test_tensordictmodules.py
  torchrl/modules/__init__.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/rnn.py
Labels: enhancement, CLA Signed

#1605 [Feature] End-of-life transform
  docs/source/reference/envs.rst
  examples/a2c/a2c_atari.py
  examples/a2c/utils_atari.py
  examples/ppo/ppo_atari.py
  examples/ppo/utils_atari.py
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/gym_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#1607 [BugFix] Patch SAC to allow state_dict manipulation before exec
  test/test_cost.py
  torchrl/objectives/sac.py
Labels: bug, CLA Signed

#1504 [CI] Add macOS M1 binaries Wheels
  .github/scripts/m1_script.sh
  .github/scripts/pre_build_script_m1.sh
  .github/workflows/build-wheels-m1.yml
Labels: CLA Signed, CI, ciflow/binaries/all

#1597 [Algorithm] RLHF end-to-end, clean
  .github/unittest/linux_examples/scripts/run_test.sh
  .github/unittest/linux_libs/scripts_rlhf/run_test.sh
  examples/rlhf/.gitignore
  examples/rlhf/README.md
  examples/rlhf/config/train.yaml
  examples/rlhf/config/train_reward.yaml
  examples/rlhf/config/train_rlhf.yaml
  examples/rlhf/data/__init__.py
  examples/rlhf/models/__init__.py
  examples/rlhf/models/actor_critic.py
  examples/rlhf/models/reward.py
  examples/rlhf/models/transformer.py
  examples/rlhf/requirements.txt
  examples/rlhf/train.py
  examples/rlhf/train_reward.py
  examples/rlhf/train_rlhf.py
  examples/rlhf/utils.py
  test/test_rlhf.py
  torchrl/data/rlhf/dataset.py
  torchrl/data/rlhf/prompt.py
  torchrl/data/rlhf/reward.py
  torchrl/data/rlhf/utils.py
  torchrl/modules/models/rlhf.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/objectives/ppo.py
  torchrl/objectives/sac.py
Labels: CLA Signed, new algo

#1609 v0.2.0 branch
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_distributed/scripts/install.sh
  .github/unittest/linux_examples/scripts/run_all.sh
  .github/unittest/linux_libs/scripts_brax/install.sh
  .github/unittest/linux_libs/scripts_d4rl/install.sh
  .github/unittest/linux_libs/scripts_envpool/install.sh
  .github/unittest/linux_libs/scripts_gym/install.sh
  .github/unittest/linux_libs/scripts_habitat/install.sh
  .github/unittest/linux_libs/scripts_jumanji/install.sh
  .github/unittest/linux_libs/scripts_pettingzoo/install.sh
  .github/unittest/linux_libs/scripts_rlhf/install.sh
  .github/unittest/linux_libs/scripts_robohive/install_and_run_test.sh
  .github/unittest/linux_libs/scripts_sklearn/install.sh
  .github/unittest/linux_libs/scripts_smacv2/install.sh
  .github/unittest/linux_libs/scripts_vmas/install.sh
  .github/unittest/linux_olddeps/scripts_gym_0_13/install.sh
  .github/unittest/linux_optdeps/scripts/install.sh
  .github/unittest/windows_optdepts/scripts/install.sh
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .github/workflows/docs.yml
  .github/workflows/nightly_build.yml
  .github/workflows/wheels.yml
  CONTRIBUTING.md
  README.md
  docs/source/conf.py
  setup.py
  version.txt
Labels: CLA Signed, versioning, Environments, ciflow/binaries/all

#1616 [Feature] Warning for `init_random_frames` rounding in collectors
  torchrl/collectors/collectors.py
Labels: CLA Signed

#1619 [BugFix] Fix gym benchmark
  benchmarks/ecosystem/gym_env_throughput.py
Labels: bug, CLA Signed

#1624 [Deprecation] Deprecate ambiguous device for memmap replay buffer
  torchrl/data/replay_buffers/storages.py
  tutorials/sphinx-tutorials/pretrained_models.py
Labels: bug, CLA Signed, quality

#1621 [CI] Fix CI (python and cuda versions)
  .github/unittest/linux_libs/scripts_brax/install.sh
  .github/unittest/linux_libs/scripts_d4rl/install.sh
  .github/unittest/linux_libs/scripts_habitat/install.sh
  .github/unittest/linux_libs/scripts_jumanji/install.sh
  .github/unittest/linux_libs/scripts_pettingzoo/install.sh
  .github/unittest/linux_libs/scripts_rlhf/install.sh
  .github/unittest/linux_libs/scripts_robohive/install_and_run_test.sh
  .github/unittest/linux_libs/scripts_sklearn/install.sh
  .github/unittest/linux_libs/scripts_smacv2/install.sh
  .github/unittest/linux_libs/scripts_vmas/install.sh
  .github/workflows/test-linux-brax.yml
  .github/workflows/test-linux-d4rl.yml
  .github/workflows/test-linux-envpool.yml
  .github/workflows/test-linux-examples.yml
  .github/workflows/test-linux-gym.yml
  .github/workflows/test-linux-jumanji.yml
  .github/workflows/test-linux-olddeps.yml
  .github/workflows/test-linux-pettingzoo.yml
  .github/workflows/test-linux-rlhf.yml
  .github/workflows/test-linux-robohive.yml
  .github/workflows/test-linux-sklearn.yml
  .github/workflows/test-linux-smacv2.yml
  .github/workflows/test-linux-vmas.yml
  .github/workflows/test-macos-cpu.yml
  .github/workflows/test-windows-optdepts-cpu.yml
  examples/a2c/a2c_atari.py
  examples/a2c/a2c_mujoco.py
  examples/ppo/ppo_mujoco.py
  test/test_rb.py
  test/test_specs.py
  test/test_transforms.py
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed, CI

#1622 [Feature] Max Value Writer
  docs/source/reference/data.rst
  test/test_rb.py
  torchrl/data/__init__.py
  torchrl/data/replay_buffers/__init__.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/writers.py
Labels: enhancement, CLA Signed

#1634 [CI] Cython<3 for d4rl
  .github/unittest/linux_libs/scripts_d4rl/environment.yml
Labels: CLA Signed, CI

#1639 [BugFix] make cursor a torch.long tensor
  torchrl/data/replay_buffers/storages.py
Labels: bug, CLA Signed

#1640 [BugFix] Gracefully handle C++ import error in TorchRL
  torchrl/_extension.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/modules/distributions/continuous.py
Labels: CLA Signed, quality

#1611 [Feature] step_and_maybe_reset in env
  .github/unittest/linux/scripts/environment.yml
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_examples/scripts/run_test.sh
  benchmarks/ecosystem/gym_env_throughput.py
  docs/source/reference/envs.rst
  examples/decision_transformer/dt.py
  examples/decision_transformer/dt_config.yaml
  examples/decision_transformer/odt_config.yaml
  examples/decision_transformer/online_dt.py
  examples/decision_transformer/utils.py
  examples/dqn/config.yaml
  test/_utils_internal.py
  test/mocking_classes.py
  test/test_collector.py
  test/test_cost.py
  test/test_env.py
  test/test_exploration.py
  test/test_libs.py
  test/test_tensordictmodules.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/data/datasets/d4rl.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensor_specs.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/pettingzoo.py
  torchrl/envs/transforms/gym_transforms.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/rlhf.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/utils.py
  torchrl/envs/transforms/vc1.py
  torchrl/envs/transforms/vip.py
  torchrl/envs/utils.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/objectives/decision_transformer.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/trainers.py
Labels: enhancement, CLA Signed, major, performance, Refactoring, Environments

#1635 [BugFix] Avoid overlapping temporary dirs during training
  examples/cql/utils.py
  examples/ddpg/ddpg.py
  examples/ddpg/utils.py
  examples/decision_transformer/dt_config.yaml
  examples/decision_transformer/odt_config.yaml
  examples/decision_transformer/utils.py
  examples/discrete_sac/discrete_sac.py
  examples/iql/iql_online.py
  examples/sac/sac.py
  examples/sac/utils.py
  examples/td3/td3.py
Labels: bug, CLA Signed

#1644 [Feature] Exclude all private keys in collectors
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: enhancement, CLA Signed

#1648 [BugFix] Fix tutos
  torchrl/collectors/collectors.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/vip.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/pendulum.py
Labels: bug, CLA Signed

#1646 [Feature] Lazy imports for implement_for during torchrl import
  test/test_utils.py
  torchrl/_utils.py
Labels: CLA Signed, quality, performance

#1645 [Refactor] Put all buffers on CPU in examples
  examples/cql/cql_online.py
  examples/ddpg/ddpg.py
  examples/discrete_sac/discrete_sac.py
  examples/dqn/dqn.py
  examples/dreamer/dreamer.py
  examples/iql/iql_online.py
  examples/redq/redq.py
  examples/sac/sac.py
  examples/td3/td3.py
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed, Refactoring

#1650 [BugFix] Fix storage device
  torchrl/data/replay_buffers/storages.py
Labels: bug, CLA Signed

#1649 [BugFix] Fix EXAMPLES.md
  .github/unittest/linux_examples/scripts/run_test.sh
  examples/EXAMPLES.md
  examples/cql/cql_offline.py
  examples/cql/cql_online.py
  examples/cql/online_config.yaml
  examples/cql/utils.py
  examples/ddpg/config.yaml
  examples/ddpg/utils.py
  examples/decision_transformer/utils.py
  examples/discrete_sac/discrete_sac.py
  examples/dqn/config.yaml
  examples/dqn/dqn.py
  examples/dreamer/dreamer_utils.py
  examples/iql/iql_online.py
  examples/iql/online_config.yaml
  examples/redq/config.yaml
  examples/redq/redq.py
  examples/redq/utils.py
  examples/sac/config.yaml
  examples/sac/utils.py
  examples/td3/config.yaml
  examples/td3/utils.py
  torchrl/envs/batched_envs.py
  torchrl/envs/transforms/transforms.py
  torchrl/objectives/value/functional.py
  torchrl/record/loggers/utils.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/trainers.py
Labels: documentation, CLA Signed

#1642 [Release] 0.2.1
  .github/scripts/m1_script.sh
  .github/workflows/wheels.yml
  README.md
  setup.py
  version.txt
Labels: CLA Signed, ciflow/binaries/all

#1655 [BugFix] Fix incorrect deprecation warning
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed, quality

#1664 [Bug] TensorDictMaxValueWriter raises error when no sample in a batch is accepted
  test/test_rb.py
  torchrl/data/replay_buffers/writers.py
Labels: bug, CLA Signed

#1661 [BugFix] Fix "done" instead of "terminated" mistakes
  torchrl/objectives/value/advantages.py
Labels: bug, CLA Signed

#1665 doc(README): remove typo
  README.md
Labels: CLA Signed

#1667 [Docs] Update README.md
  README.md
Labels: documentation, CLA Signed
