Repository pytorch/rl, pull requests merged in 2023-11, with the labels that each got.

#1668 [Minor] Update dreamer example tests
  .github/unittest/linux_examples/scripts/run_test.sh
  examples/dreamer/config.yaml
  examples/dreamer/dreamer.py
Labels: CLA Signed, quality

#1658 [Feature] Introduce grouping in VMAS
  test/test_libs.py
  torchrl/envs/libs/vmas.py
Labels: enhancement, CLA Signed

#1669 [BugFix] assertion error message, envs/util.py
  torchrl/envs/utils.py
Labels: CLA Signed

#1657 [Doc] Set `action_spec` instead of `input_spec`
  torchrl/collectors/collectors.py
  torchrl/modules/planners/cem.py
  torchrl/modules/planners/mppi.py
Labels: documentation, CLA Signed

#1672 [BugFix] Fix submitit IP address/node name retrieval
  examples/distributed/collectors/multi_nodes/delayed_dist.py
  examples/distributed/collectors/multi_nodes/delayed_rpc.py
  examples/distributed/collectors/multi_nodes/generic.py
  examples/distributed/collectors/multi_nodes/rpc.py
  examples/distributed/collectors/multi_nodes/sync.py
  examples/distributed/collectors/single_machine/generic.py
  examples/distributed/collectors/single_machine/rpc.py
  examples/distributed/collectors/single_machine/sync.py
  torchrl/collectors/distributed/utils.py
Labels: bug, CLA Signed

#1673 [Doc] Document (and test) compound actor
  test/test_actors.py
  torchrl/modules/tensordict_module/actors.py
Labels: documentation, CLA Signed, Tests

#1677 [Doc] Update rollout_recurrent.png to account for terminal
  docs/source/_static/img/rollout_recurrent.png
Labels: documentation, CLA Signed

#1680 [Doc] Add EGreedyWrapper back in the doc
  docs/source/reference/modules.rst
Labels: documentation, CLA Signed

#1683 [Doc] Fix `TanhDelta` docstring
  torchrl/modules/distributions/continuous.py
Labels: documentation, CLA Signed

#1686 [Doc] Add discord badge on README
  README.md
Labels: CLA Signed

#1687 [CI] Downgrade RAY to fix CI
  .github/unittest/linux/scripts/environment.yml
  .github/unittest/linux_distributed/scripts/environment.yml
  .github/unittest/linux_olddeps/scripts_gym_0_13/environment.yml
  .github/unittest/linux_optdeps/scripts/environment.yml
Labels: CLA Signed, CI

#1689 [BugFix] MaxValueWriter cuda compatibility
  test/test_rb.py
  torchrl/data/replay_buffers/writers.py
Labels: bug, CLA Signed

#1691 [Doc] Update pendulum and rnn tutos
  docs/requirements.txt
  docs/source/conf.py
  tutorials/sphinx-tutorials/dqn_with_rnn.py
  tutorials/sphinx-tutorials/pendulum.py
Labels: documentation, CLA Signed

#1666 [Algorithm] Discrete CQL
  .github/unittest/linux_examples/scripts/run_test.sh
  docs/source/reference/objectives.rst
  examples/cql/discrete_cql_config.yaml
  examples/cql/discrete_cql_online.py
  examples/cql/utils.py
  test/test_cost.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/objectives/__init__.py
  torchrl/objectives/cql.py
Labels: CLA Signed, new algo

#1693 [Fix] Minor fix in the logging of PPO and A2C examples
  examples/a2c/a2c_atari.py
  examples/a2c/a2c_mujoco.py
  examples/ppo/ppo_atari.py
  examples/ppo/ppo_mujoco.py
Labels: bug, CLA Signed

#1681 [CI] Enable retry mechanism
  .github/pytorch-probot.yml
Labels: CLA Signed, CI

#1697 [BugFix] fix dreamer actor
  torchrl/trainers/helpers/models.py
Labels: CLA Signed

#1684 [Refactor] Deprecate direct usage of memmap tensors
  test/test_libs.py
  test/test_rb_distributed.py
  test/test_rlhf.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/rlhf/dataset.py
  torchrl/data/rlhf/prompt.py
  torchrl/data/rlhf/reward.py
Labels: CLA Signed, Refactoring

#1698 Revert "[Refactor] Deprecate direct usage of memmap tensors"
  test/test_libs.py
  test/test_rb_distributed.py
  test/test_rlhf.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/rlhf/dataset.py
  torchrl/data/rlhf/prompt.py
  torchrl/data/rlhf/reward.py
Labels: CLA Signed

#1699 [Refactor] Deprecate direct usage of memmap tensors
  test/test_libs.py
  test/test_rb_distributed.py
  test/test_rlhf.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/rlhf/dataset.py
  torchrl/data/rlhf/prompt.py
  torchrl/data/rlhf/reward.py
Labels: CLA Signed

#1701 [Doc] Fix discord link
  README.md
Labels: documentation, CLA Signed

#1700 [BugFix] make sure the params of exploration-wrapper is float
  test/test_exploration.py
  torchrl/modules/tensordict_module/exploration.py
Labels: CLA Signed

#1705 [Fix] EndOfLifeTransform fix in end of life detection
  torchrl/envs/transforms/gym_transforms.py
Labels: CLA Signed

#1706 [CI] Fix benchmark on gpu
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  benchmarks/test_collectors_benchmark.py
  benchmarks/test_objectives_benchmarks.py
Labels: CLA Signed, CI

#1506 [Algorithm] IMPALA and VTrace module
  .github/unittest/linux_examples/scripts/run_test.sh
  examples/distributed/collectors/multi_nodes/ray_train.py
  examples/impala/README.md
  examples/impala/config_multi_node_ray.yaml
  examples/impala/config_multi_node_submitit.yaml
  examples/impala/config_single_node.yaml
  examples/impala/impala_multi_node_ray.py
  examples/impala/impala_multi_node_submitit.py
  examples/impala/impala_single_node.py
  examples/impala/utils.py
  test/test_cost.py
  torchrl/objectives/a2c.py
  torchrl/objectives/common.py
  torchrl/objectives/ppo.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/__init__.py
  torchrl/objectives/value/advantages.py
  torchrl/objectives/value/functional.py
  torchrl/objectives/value/vtrace.py
Labels: CLA Signed, new algo

#1712 [Doc] Fix discord link
  README.md
Labels: CLA Signed

#1707 [Refactor] Refactor functional calls in losses
  test/assets/generate.py
  test/test_cost.py
  torchrl/data/rlhf/dataset.py
  torchrl/envs/transforms/rlhf.py
  torchrl/envs/transforms/utils.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/objectives/a2c.py
  torchrl/objectives/common.py
  torchrl/objectives/cql.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/decision_transformer.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dqn.py
  torchrl/objectives/iql.py
  torchrl/objectives/multiagent/qmixer.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/advantages.py
Labels: CLA Signed, Refactoring

#1711 [CI] Fix CI
  test/assets/generate.py
  test/assets/tldr_batch.zip
  test/test_cost.py
  torchrl/data/rlhf/dataset.py
  torchrl/objectives/common.py
  torchrl/objectives/sac.py
  torchrl/objectives/value/advantages.py
  tutorials/sphinx-tutorials/rb_tutorial.py
  tutorials/sphinx-tutorials/torchrl_envs.py
Labels: bug, CLA Signed, CI

#1719 [BugFix] Fix hold_out_net
  torchrl/objectives/utils.py
Labels: CLA Signed

#1718 [BugFix] `RewardSum` key check
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1626 [Feature] Allow usage of a different device on main and sub-envs in ParallelEnv and SerialEnv
  benchmarks/ecosystem/gym_env_throughput.py
  examples/dreamer/dreamer_utils.py
  test/test_env.py
  torchrl/envs/batched_envs.py
  torchrl/envs/utils.py
Labels: enhancement, CLA Signed
