Repository pytorch/rl, pull requests merged in 2023-06, with the labels that each got.

#1208 [Feature, Refactor] Scale in ToTensorImage based on the dtype and new from_int parameter
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#1217 [BugFix] Fix tanh/atanh vmap compatibility
  test/test_modules.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/distributions/utils.py
Labels: CLA Signed

#1213 [Feature] TanhModule
  docs/source/reference/modules.rst
  test/test_modules.py
  torchrl/modules/__init__.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/actors.py
Labels: enhancement, CLA Signed

#1219 [BugFix] Fix TD3 inplace updates
  .circleci/unittest/linux_examples/scripts/run_test.sh
  test/test_cost.py
  torchrl/objectives/common.py
  torchrl/objectives/td3.py
Labels: CLA Signed

#1220 [BugFix] Fix safe tanh for older torch versions
  test/test_cost.py
  test/test_modules.py
  torchrl/modules/distributions/utils.py
Labels: bug, CLA Signed

#1228 [Doc] Update citation
  README.md
Labels: documentation, CLA Signed

#1229 [Doc] CITATION.cff
  CITATION.cff
Labels: documentation, CLA Signed

#1206 [Algo] Update offpolicy examples
  .circleci/unittest/linux_examples/scripts/run_local.sh
  .circleci/unittest/linux_examples/scripts/run_test.sh
  docs/source/reference/trainers.rst
  examples/a2c/a2c.py
  examples/ddpg/config.yaml
  examples/ddpg/ddpg.py
  examples/ddpg/utils.py
  examples/discrete_sac/discrete_sac.py
  examples/dqn/dqn.py
  examples/dreamer/dreamer.py
  examples/iql/iql_online.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/config.yaml
  examples/sac/sac.py
  examples/sac/utils.py
  examples/td3/config.yaml
  examples/td3/td3.py
  examples/td3/utils.py
  test/test_cost.py
  test/test_helpers.py
  torchrl/data/tensor_specs.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/trainers/helpers/__init__.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/models.py
Labels: CLA Signed, new algo

#1215 [Feature] Dispatch for DDPG loss module
  test/test_cost.py
  torchrl/objectives/ddpg.py
Labels: enhancement, CLA Signed, bc breaking

#1223 [Feature] Dispatch for SAC loss module
  test/test_cost.py
  torchrl/objectives/a2c.py
Labels: enhancement, CLA Signed

#1230 [Feature] Distpatch IQL loss module
  test/test_cost.py
  torchrl/objectives/iql.py
Labels: enhancement, CLA Signed

#1225 [BugFix] Fix ppo example
  .circleci/unittest/linux_examples/scripts/run_test.sh
  examples/a2c/utils.py
  examples/dqn/dqn.py
  examples/dreamer/dreamer.py
  examples/dreamer/dreamer_utils.py
  examples/ppo/config.yaml
  examples/ppo/ppo.py
  examples/ppo/utils.py
  examples/redq/redq.py
  test/test_trainer.py
  torchrl/_utils.py
  torchrl/collectors/collectors.py
  torchrl/envs/transforms/transforms.py
  torchrl/trainers/helpers/envs.py
Labels: CLA Signed, new algo

#1231 [BugFix] Unbreak tensordict import
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#1232 [Test,CI,Feature] Total time per test
  test/conftest.py
Labels: enhancement, CLA Signed, performance, Tests, CI

#1233 [BugFix] Fix max length
  test/conftest.py
Labels: bug, CLA Signed

#1235 [BugFix] Fix missing ("next", "observation") key in dispatch of losses
  test/test_cost.py
  torchrl/objectives/a2c.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/iql.py
Labels: bug, CLA Signed

#1237 [Minor] small fixes
  .circleci/unittest/linux_examples/scripts/run_test.sh
  README.md
  docs/source/_static/img/logo.png
  examples/ppo/ppo.py
  examples/ppo/utils.py
  torchrl/collectors/collectors.py
Labels: CLA Signed

#1238 [Feature] ReplayBuffer.empty
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/writers.py
Labels: enhancement, CLA Signed

#1241 [Doc] Add paper refs in doc and KB
  docs/source/index.rst
  knowledge_base/RESOURCES.md
Labels: CLA Signed

#1226 [CI] Reduce CI time
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux_distributed/scripts/run_test.sh
  .circleci/unittest/linux_examples/scripts/run_test.sh
  .circleci/unittest/linux_libs/scripts_brax/run_test.sh
  .circleci/unittest/linux_libs/scripts_d4rl/run_test.sh
  .circleci/unittest/linux_libs/scripts_envpool/run_test.sh
  .circleci/unittest/linux_libs/scripts_gym/run_test.sh
  .circleci/unittest/linux_libs/scripts_habitat/run_test.sh
  .circleci/unittest/linux_libs/scripts_jumanji/run_test.sh
  .circleci/unittest/linux_libs/scripts_sklearn/run_test.sh
  .circleci/unittest/linux_libs/scripts_vmas/run_test.sh
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/run_test.sh
  .circleci/unittest/linux_optdeps/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/run_test.sh
  .circleci/unittest/windows_optdepts/scripts/run_test.sh
  .github/workflows/nightly_build.yml
  .github/workflows/wheels.yml
  test/_utils_internal.py
  test/test_actors.py
  test/test_collector.py
  test/test_cost.py
  test/test_distributions.py
  test/test_env.py
  test/test_exploration.py
  test/test_helpers.py
  test/test_libs.py
  test/test_modules.py
  test/test_postprocs.py
  test/test_rb.py
  test/test_specs.py
  test/test_tensordictmodules.py
  test/test_transforms.py
  torchrl/modules/models/model_based.py
  torchrl/trainers/helpers/models.py
Labels: CLA Signed, CI

#1242 [CI] Fix Jax version in Jumanji
  .circleci/unittest/linux_libs/scripts_jumanji/environment.yml
Labels: CLA Signed, CI

#1244 [Feature] Dispatch SAC loss module
  test/test_cost.py
  torchrl/objectives/sac.py
Labels: enhancement, CLA Signed

#1246 [Feature] Make losses inherit from TDMBase
  test/test_cost.py
  torchrl/objectives/a2c.py
  torchrl/objectives/common.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/iql.py
  torchrl/objectives/sac.py
Labels: CLA Signed

#1239 [Feature] Add CQL
  docs/source/reference/objectives.rst
  examples/cql/cql_offline.py
  examples/cql/cql_online.py
  examples/cql/offline_config.yaml
  examples/cql/online_config.yaml
  examples/cql/utils.py
  test/test_cost.py
  torchrl/objectives/__init__.py
  torchrl/objectives/cql.py
Labels: CLA Signed, new algo

#1248 [Feature] Dispatch DiscreteSAC loss module
  test/test_cost.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/iql.py
  torchrl/objectives/sac.py
Labels: enhancement, CLA Signed

#1251 [Feature] Dispatch REDQ loss module
  test/test_cost.py
  torchrl/objectives/redq.py
Labels: enhancement, CLA Signed

#1250 [Performance] Some efficiency improvements
  test/mocking_classes.py
  test/test_env.py
  test/test_specs.py
  test/test_tensordictmodules.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
Labels: CLA Signed, performance

#1253 [BugFix] Key selection in batched envs
  torchrl/envs/vec_env.py
Labels: bug, CLA Signed

#1252 [Feature] Dispatch reinforce loss module
  test/test_cost.py
  torchrl/objectives/reinforce.py
Labels: enhancement, CLA Signed

#1254 [Feature] Dispatch TD3 loss module
  test/test_cost.py
  torchrl/objectives/td3.py
Labels: enhancement, CLA Signed

#1257 [Minor] Fix prints
  test/conftest.py
  torchrl/_utils.py
Labels: CLA Signed

#1255 [CI] Less old deps
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/install.sh
  test/test_cost.py
  test/test_distributions.py
  test/test_modules.py
  torchrl/modules/distributions/utils.py
Labels: CLA Signed, CI

#1256 [Feature] Single call to value network in advantages
  test/test_cost.py
  torchrl/objectives/value/advantages.py
Labels: enhancement, CLA Signed

#1262 Revert "[Feature] Single call to value network in advantages"
  test/test_cost.py
  torchrl/objectives/value/advantages.py
Labels: CLA Signed

#1261 [BugFix] Fix nested CompositeSpec creation
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#1267 [BugFix] Parametric `rand_action()` in `BaseEnv`
  torchrl/envs/common.py
Labels: bug, CLA Signed

#1276 [Feature] shifted for all adv
  test/test_cost.py
  torchrl/objectives/value/advantages.py
Labels: enhancement, CLA Signed

#1280 [BugFix,CI] Fix virtualenv not found
  .circleci/unittest/linux_distributed/scripts/environment.yml
Labels: CLA Signed, CI

#1282 [Nova] Jumanji Tests to GHA
  .github/workflows/test-linux-jumanji.yml
Labels: CLA Signed, CI

#1285 [BugFix] DQN loss dispatch respect configured tensordict keys
  test/test_cost.py
  torchrl/objectives/dqn.py
Labels: bug, CLA Signed

#1286 [Refactor] Refactor losses for generalization
  test/test_cost.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/objectives/cql.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/iql.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
Labels: CLA Signed, Refactoring

#1134 Remove old CircleCI Lint
  .circleci/config.yml
Labels: CLA Signed

#1293 d4rl Test to Nova
  .github/workflows/test-linux-d4rl.yml
Labels: CLA Signed

#1290 OptDeps Tests to Nova
  .github/workflows/test-linux-optdeps.yml
Labels: CLA Signed

#1294 [BugFix] Torch 1.13 compat
  torchrl/objectives/value/advantages.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: bug, CLA Signed

#1295 [BugFix] Fix the bug of `RoundRobinWriter.extend(data)`
  test/test_rb.py
  torchrl/data/replay_buffers/writers.py
Labels: bug, CLA Signed

#1301 [CI] Fix wheels
  .github/workflows/wheels.yml
Labels: CLA Signed

#1298 [Doc] Add link to paper in readme
  README.md
Labels: CLA Signed

#1300 [CI] Fix nightly build dependency on tensordict
  setup.py
Labels: CLA Signed, CI

#1133 Linux GPU Brax Unittests
  .circleci/unittest/linux_libs/scripts_brax/install.sh
  .circleci/unittest/linux_libs/scripts_brax/run_all.sh
  .circleci/unittest/linux_libs/scripts_brax/run_test.sh
  .circleci/unittest/linux_libs/scripts_brax/setup_env.sh
  .github/workflows/test-linux-brax.yml
Labels: CLA Signed

#1302 [BugFix] Fix nightly tensordict dependency
  setup.py
Labels: CLA Signed

#1307 [BugFix] Fix locked params modif
  test/test_tensordictmodules.py
Labels: CLA Signed

#1306 [Feature] log histograms
  test/test_loggers.py
  torchrl/record/loggers/common.py
  torchrl/record/loggers/csv.py
  torchrl/record/loggers/mlflow.py
  torchrl/record/loggers/tensorboard.py
  torchrl/record/loggers/wandb.py
Labels: enhancement, CLA Signed

#1311 [Refactor] Better batch-size handling by RBs
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed, Refactoring

#1314 [Doc] fixed typos in ppo tutorial
  tutorials/sphinx-tutorials/coding_ppo.py
Labels: documentation, CLA Signed

#1240 [Feature] Separate losses
  test/test_cost.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/iql.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
Labels: enhancement, CLA Signed

#1326 [Doc] Fix exploration modules docstrings
  torchrl/modules/models/exploration.py
Labels: CLA Signed

#1327 [Refactor,Performance] Faster collectors
  torchrl/collectors/collectors.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
Labels: CLA Signed, performance, Refactoring

#1330 Revert "[Refactor,Performance] Faster collectors"
  torchrl/collectors/collectors.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
Labels: CLA Signed

#1318 [CI] Fix failing jobs
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux_libs/scripts_brax/setup_env.sh
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/run_test.sh
  .circleci/unittest/linux_optdeps/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/run_test.sh
  .circleci/unittest/windows_optdepts/scripts/run_test.sh
Labels: CLA Signed, CI

#1335 [CI] Fix failing jobs
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/run_test.sh
  .circleci/unittest/linux_optdeps/scripts/run_test.sh
  .circleci/unittest/linux_stable/scripts/run_test.sh
  .circleci/unittest/windows_optdepts/scripts/run_test.sh
Labels: CLA Signed, CI

#1328 [Feature] RLHF Reward Model (reopened)
  test/test_rlhf.py
  torchrl/modules/models/rlhf.py
Labels: enhancement, CLA Signed

#1321 [Feature] CatFrames used as inverse
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#1334 [BugFix] Fix `step_mdp()`
  test/test_env.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed

#1303 [BugFix] Parametric collectors
  test/mocking_classes.py
  test/test_collector.py
  test/test_env.py
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
Labels: bug, CLA Signed

#1337 [BugFix] valid_size not saved as attribute
  test/test_rlhf.py
  torchrl/data/rlhf/dataset.py
Labels: CLA Signed

#1332 [BugFix] Check env specs for nested envs
  test/test_env.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed

#1340 [Benchmark] Improve benchmark precision + step_mdp + fix GPU
  .github/workflows/benchmarks.yml
  benchmarks/test_collectors_benchmark.py
  benchmarks/test_envs_benchmark.py
  benchmarks/test_replaybuffer_benchmark.py
  torchrl/envs/libs/dm_control.py
Labels: CLA Signed, Benchmarks

#1341 [Benchmark,CI] Benchmarks in PR
  .github/workflows/benchmarks_pr.yml
  benchmarks/test_replaybuffer_benchmark.py
Labels: CLA Signed, CI, Benchmarks

#1339 [BugFix] `step_mdp` nested keys
  test/test_env.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed
