Repository pytorch/rl, pull requests merged in 2023-04, with the labels that each got.

#1017 [Refactor] Faster transformed distributions
  torchrl/modules/distributions/continuous.py
  torchrl/modules/distributions/utils.py
Labels: CLA Signed

#1021 [BugFix] Fix collector reset with truncation
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed

#1020 Improve collector performance
  torchrl/collectors/collectors.py
Labels: CLA Signed, performance

#1022 [BugFix] Fix params and buffer casting for policies
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed

#1025 [Feature] PPO allow entropy logging when entropy_coeff is 0
  torchrl/objectives/ppo.py
Labels: CLA Signed

#930 [Feature] Distributed data collector (ray)
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_distributed/scripts/environment.yml
  .circleci/unittest/linux_libs/scripts_gym/environment.yml
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/environment.yml
  .circleci/unittest/linux_optdeps/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
  docs/source/reference/collectors.rst
  examples/distributed/collectors/multi_nodes/ray.py
  examples/distributed/collectors/multi_nodes/ray_train.py
  test/test_distributed.py
  torchrl/collectors/distributed/__init__.py
  torchrl/collectors/distributed/ray.py
Labels: enhancement, CLA Signed

#1029 [Refactor] Minor changes in tensordict construction
  torchrl/data/tensor_specs.py
  torchrl/objectives/sac.py
Labels: CLA Signed, Refactoring

#1011 [CI] Fix Brax 0.9.0
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/jax_utils.py
Labels: CLA Signed

#1028 [Feature] Benchmarking worflow
  .github/workflows/benchmarks.yml
  README.md
  benchmarks/benchmark_batched_envs.py
  benchmarks/requirements.txt
  benchmarks/test_collectors_benchmark.py
  benchmarks/test_envs_benchmark.py
  benchmarks/test_objectives_benchmarks.py
  benchmarks/test_replaybuffer_benchmark.py
  torchrl/collectors/collectors.py
Labels: CLA Signed, CI

#1030 [Benchmark] Fix adv benchmark
  benchmarks/test_objectives_benchmarks.py
Labels: CLA Signed, Benchmarks

#979 [Doc] Refactor DDPG and DQN tutos to narrow the scope
  docs/source/_static/img/replaybuffer_traj.png
  docs/source/_static/js/theme.js
  docs/source/reference/data.rst
  docs/source/reference/envs.rst
  docs/source/reference/modules.rst
  docs/source/reference/objectives.rst
  docs/source/reference/trainers.rst
  test/test_trainer.py
  torchrl/data/__init__.py
  torchrl/data/datasets/__init__.py
  torchrl/data/datasets/openml.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/__init__.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/objectives/common.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/dqn.py
  torchrl/objectives/sac.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/advantages.py
  torchrl/record/loggers/csv.py
  torchrl/trainers/trainers.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/coding_ppo.py
Labels: documentation, CLA Signed

#1032 Revert "[Doc] Refactor DDPG and DQN tutos to narrow the scope"
  docs/source/_static/img/replaybuffer_traj.png
  docs/source/_static/js/theme.js
  docs/source/reference/data.rst
  docs/source/reference/envs.rst
  docs/source/reference/modules.rst
  docs/source/reference/objectives.rst
  docs/source/reference/trainers.rst
  test/test_trainer.py
  torchrl/data/__init__.py
  torchrl/data/datasets/__init__.py
  torchrl/data/datasets/openml.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/__init__.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/objectives/common.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/dqn.py
  torchrl/objectives/sac.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/advantages.py
  torchrl/record/loggers/csv.py
  torchrl/trainers/trainers.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/coding_ppo.py
Labels: CLA Signed

#1033 [BugFix] Advantage normalisation in ClipPPOLoss is done after computing gain1
  torchrl/objectives/ppo.py
Labels: CLA Signed

#1035 [BugFix] Codecov SHA error
  .circleci/config.yml
Labels: CLA Signed

#1036 [Doc] DDPG and DQN refactoring -- Doc cleaning
  docs/source/_static/img/replaybuffer_traj.png
  docs/source/_static/js/theme.js
  docs/source/conf.py
  docs/source/reference/collectors.rst
  docs/source/reference/data.rst
  docs/source/reference/envs.rst
  docs/source/reference/modules.rst
  docs/source/reference/objectives.rst
  docs/source/reference/trainers.rst
  test/test_distributed.py
  test/test_trainer.py
  torchrl/collectors/__init__.py
  torchrl/collectors/collectors.py
  torchrl/collectors/distributed/generic.py
  torchrl/collectors/distributed/ray.py
  torchrl/collectors/distributed/rpc.py
  torchrl/collectors/distributed/sync.py
  torchrl/data/__init__.py
  torchrl/data/datasets/__init__.py
  torchrl/data/datasets/openml.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/__init__.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/objectives/a2c.py
  torchrl/objectives/common.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/dqn.py
  torchrl/objectives/ppo.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/advantages.py
  torchrl/record/loggers/csv.py
  torchrl/trainers/trainers.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/pendulum.py
Labels: documentation, CLA Signed

#1040 [BugFix] kwargs update in distributed collectors
  torchrl/collectors/distributed/generic.py
  torchrl/collectors/distributed/rpc.py
  torchrl/collectors/distributed/sync.py
Labels: CLA Signed

#1042 [Feature] `make_composite_from_td`
  docs/source/reference/envs.rst
  test/test_env.py
  torchrl/envs/utils.py
Labels: CLA Signed

#1041 [Refactor] Import envpool locally to avoid importing gym at root level
  .circleci/unittest/linux_libs/scripts_envpool/environment.yml
  .circleci/unittest/linux_libs/scripts_envpool/run_test.sh
  .circleci/unittest/linux_libs/scripts_envpool/setup_env.sh
  torchrl/envs/vec_env.py
Labels: CLA Signed, Refactoring

#1046 [Minor] Fix a typo
  torchrl/collectors/collectors.py
Labels: CLA Signed

#1037 [BugFix] Fix param tying in loss modules
  test/test_cost.py
  torchrl/objectives/a2c.py
  torchrl/objectives/common.py
  torchrl/objectives/ppo.py
Labels: bug, CLA Signed

#1047 [Refactor] less ad-hoc disable_env_checker check
  examples/discrete_sac/discrete_sac.py
  examples/iql/iql_online.py
  examples/td3/td3.py
  test/test_cost.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/habitat.py
Labels: CLA Signed, Refactoring

#1044 [Refactor] Improve distributed collectors
  torchrl/collectors/distributed/generic.py
  torchrl/collectors/distributed/rpc.py
  torchrl/collectors/distributed/sync.py
  torchrl/collectors/distributed/utils.py
Labels: CLA Signed, Refactoring

#1053 [Doc] Document tensordict modules
  docs/source/reference/modules.rst
  torchrl/envs/__init__.py
Labels: CLA Signed

#1054 [Doc] Minor changes to contributing.md
  CONTRIBUTING.md
Labels: documentation, CLA Signed

#1056 [Doc] A bit more doc on modules
  docs/source/reference/modules.rst
Labels: documentation, CLA Signed

#1055 [Refactor] Import enum and interaction_type utils
  README.md
  docs/source/reference/envs.rst
  torchrl/envs/utils.py
Labels: CLA Signed, Refactoring

#1057 [Feature] Deduplicate calls to common layers in PPO
  test/test_cost.py
  torchrl/objectives/ppo.py
Labels: enhancement, CLA Signed

#1059 [BugFix] CompositeSpec nested key deletion
  test/test_specs.py
  torchrl/data/tensor_specs.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1012 [Feature] Add MaskedCategorical distribution
  docs/source/reference/modules.rst
  test/test_distributions.py
  torchrl/modules/distributions/__init__.py
  torchrl/modules/distributions/discrete.py
Labels: enhancement, CLA Signed

#1061 [Refactor] resetting envs in collectors always passes the _reset entry
  torchrl/collectors/collectors.py
Labels: CLA Signed

#1063 [Refactor] Better integration of QValue tools
  docs/source/reference/modules.rst
  test/test_actors.py
  test/test_cost.py
  test/test_modules.py
  torchrl/modules/__init__.py
  torchrl/modules/models/models.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/common.py
  torchrl/objectives/common.py
Labels: CLA Signed, Refactoring

#1065 [Refactor] Removes "reward" from root tensordicts
  test/test_collector.py
  test/test_env.py
  test/test_helpers.py
  test/test_libs.py
  test/test_transforms.py
  torchrl/envs/common.py
  torchrl/envs/utils.py
  torchrl/modules/planners/cem.py
  torchrl/modules/planners/mppi.py
  torchrl/modules/tensordict_module/sequence.py
Labels: CLA Signed, bc breaking

#1066 [Test] Fix tests for older pytorch versions
  test/test_distributions.py
  torchrl/modules/distributions/discrete.py
Labels: CLA Signed, Tests

#1038 [Feature] Reward2go Transform
  docs/source/reference/envs.rst
  docs/source/reference/objectives.rst
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
  torchrl/objectives/value/functional.py
Labels: enhancement, CLA Signed

#1071 [CI] Reduce tests
  .circleci/config.yml
Labels: CLA Signed

#1024 [BugFix] Fix parallel env data passing on cuda
  test/mocking_classes.py
  test/test_env.py
  torchrl/envs/common.py
  torchrl/envs/libs/vmas.py
  torchrl/envs/vec_env.py
Labels: bug, CLA Signed, Refactoring

#1067 [Refactor] Deprecate interaction_mode
  docs/source/reference/collectors.rst
  examples/a2c/a2c.py
  examples/bandits/dqn.py
  examples/ddpg/ddpg.py
  examples/discrete_sac/discrete_sac.py
  examples/distributed/collectors/multi_nodes/ray_train.py
  examples/dreamer/dreamer.py
  examples/iql/iql_online.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  examples/td3/td3.py
  test/test_cost.py
  test/test_exploration.py
  test/test_helpers.py
  test/test_libs.py
  test/test_tensordictmodules.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/collectors/distributed/generic.py
  torchrl/collectors/distributed/ray.py
  torchrl/collectors/distributed/rpc.py
  torchrl/collectors/distributed/sync.py
  torchrl/envs/__init__.py
  torchrl/envs/utils.py
  torchrl/modules/models/exploration.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/iql.py
  torchrl/objectives/redq.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: CLA Signed, Refactoring

#1073 [Doc] Update KB: cannot find -lGL
  knowledge_base/MUJOCO_INSTALLATION.md
Labels: CLA Signed

#1074 [Doc] fix figures display issues in documentation of actors.py
  torchrl/modules/tensordict_module/actors.py
Labels: CLA Signed

#1075 [Feature] Update td in step (not overwrite)
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
Labels: enhancement, CLA Signed

#1069 [CI] Remove migrated CircleCI macOS jobs
  .circleci/config.yml
Labels: CLA Signed

#1045 [Feature] Target Return Transform
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#1083 [Test] Fix tensorboard tests with ImageIO 2.26
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_distributed/scripts/environment.yml
  .circleci/unittest/linux_examples/scripts/environment.yml
  .circleci/unittest/linux_stable/scripts/environment.yml
Labels: CLA Signed

#1084 [Feature] LSTMModule
  docs/source/reference/modules.rst
  test/test_tensordictmodules.py
  torchrl/modules/__init__.py
  torchrl/modules/models/models.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/rnn.py
  torchrl/objectives/value/functional.py
Labels: enhancement, CLA Signed

#1082 [BugFix] Change default of skip_existing to None
  torchrl/objectives/value/advantages.py
Labels: bug, CLA Signed

#1076 [Example] A2C simplified example
  .circleci/unittest/linux_examples/scripts/run_test.sh
  README.md
  examples/a2c/a2c.py
  examples/a2c/a2c_mujoco_halfcheetah.png
  examples/a2c/config.yaml
  examples/a2c/training_curves.md
  examples/a2c/utils.py
  examples/ppo/ppo.py
Labels: CLA Signed, new algo

#1081 [Feature] Indexing Discrete and OneHot specs
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: enhancement, CLA Signed

#1085 [Refactor] Refactor DQN
  test/test_actors.py
  test/test_cost.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/utils/__init__.py
  torchrl/modules/utils/utils.py
  torchrl/objectives/dqn.py
Labels: CLA Signed, Refactoring

#1096 [BugFix] Remove false warnings in losses
  test/test_cost.py
  torchrl/objectives/common.py
  torchrl/objectives/utils.py
Labels: bug, CLA Signed

#1100 [CI, BugFix] Fix CI warnings and errors
  .circleci/unittest/linux_examples/scripts/run_local.sh
  .circleci/unittest/linux_examples/scripts/run_test.sh
  examples/a2c/utils.py
  examples/bandits/dqn.py
  examples/ddpg/config.yaml
  examples/discrete_sac/discrete_sac.py
  examples/distributed/collectors/multi_nodes/ray_train.py
  examples/dqn/config.yaml
  examples/dreamer/config.yaml
  examples/dreamer/dreamer.py
  examples/dreamer/dreamer_utils.py
  examples/iql/iql_online.py
  examples/iql/online_config.yaml
  examples/ppo/utils.py
  examples/redq/config.yaml
  examples/sac/config.yaml
  examples/td3/config.yaml
  examples/td3/td3.py
  test/test_helpers.py
  test/test_rb.py
  test/test_trainer.py
  torchrl/_utils.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/objectives/a2c.py
  torchrl/objectives/common.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dqn.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/iql.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/value/advantages.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/losses.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
Labels: bug, CLA Signed, CI

#1102 [Refactor] Update vmap imports to torch
  test/test_tensordictmodules.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/iql.py
  torchrl/objectives/redq.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
Labels: CLA Signed, Refactoring

#1104 [Refactor] Make advantages non-differentiable by default (except in losses)
  torchrl/objectives/value/advantages.py
Labels: CLA Signed, Refactoring

#1105 [Feature] Indexing specs
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: enhancement, CLA Signed

#1106 [BugFix] Fix EnvPoool
  torchrl/envs/vec_env.py
Labels: bug, CLA Signed

#1023 [BugFix] Fix Gym imports
  docs/requirements.txt
  docs/source/reference/envs.rst
  test/test_utils.py
  torchrl/_utils.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/habitat.py
  torchrl/envs/libs/utils.py
  torchrl/objectives/common.py
Labels: bug, CLA Signed

#1048 [CI] pytest should not skip tests for dependencies
  .circleci/config.yml
  .circleci/unittest/linux_libs/scripts_brax/environment.yml
  .circleci/unittest/linux_libs/scripts_brax/run_test.sh
  .circleci/unittest/linux_libs/scripts_d4rl/environment.yml
  .circleci/unittest/linux_libs/scripts_d4rl/run_test.sh
  .circleci/unittest/linux_libs/scripts_gym/batch_scripts.sh
  .circleci/unittest/linux_libs/scripts_gym/environment.yml
  .circleci/unittest/linux_libs/scripts_gym/install.sh
  .circleci/unittest/linux_libs/scripts_gym/run_test.sh
  .circleci/unittest/linux_libs/scripts_gym/setup_env.sh
  .circleci/unittest/linux_libs/scripts_habitat/run_test.sh
  .circleci/unittest/linux_libs/scripts_jumanji/environment.yml
  .circleci/unittest/linux_libs/scripts_jumanji/run_test.sh
  .circleci/unittest/linux_libs/scripts_sklearn/environment.yml
  .circleci/unittest/linux_libs/scripts_sklearn/run_test.sh
  .circleci/unittest/linux_libs/scripts_vmas/environment.yml
  .circleci/unittest/linux_libs/scripts_vmas/run_test.sh
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/environment.yml
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/install.sh
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/run_test.sh
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/setup_env.sh
  .circleci/unittest/linux_optdeps/scripts/install.sh
  .circleci/unittest/linux_optdeps/scripts/run_test.sh
  .circleci/unittest/linux_optdeps/scripts/setup_env.sh
  knowledge_base/MUJOCO_INSTALLATION.md
  test/smoke_test_deps.py
  test/test_libs.py
  torchrl/_utils.py
  torchrl/collectors/collectors.py
  torchrl/envs/libs/gym.py
Labels: CLA Signed, CI

#1107 [BugFix, Doc] Fix tutos
  .github/workflows/docs.yml
  docs/source/index.rst
  torchrl/collectors/collectors.py
  torchrl/collectors/distributed/generic.py
  torchrl/collectors/distributed/rpc.py
  torchrl/collectors/distributed/sync.py
  torchrl/envs/libs/gym.py
  torchrl/envs/utils.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/dqn_with_rnn.py
  tutorials/sphinx-tutorials/pendulum.py
  tutorials/sphinx-tutorials/run_local.sh
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: documentation, CLA Signed

#1109 [CI] Fix tutos (2)
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/install.sh
  .github/workflows/docs.yml
  tutorials/sphinx-tutorials/run_local.sh
Labels: documentation, CLA Signed

#1112 [Doc] Fix doc rendering
  docs/source/index.rst
  docs/source/reference/envs.rst
  docs/source/reference/modules.rst
  knowledge_base/HABITAT.md
  knowledge_base/MUJOCO_INSTALLATION.md
  torchrl/modules/__init__.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/dqn_with_rnn.py
  tutorials/sphinx-tutorials/pendulum.py
  tutorials/sphinx-tutorials/torchrl_envs.py
Labels: documentation, CLA Signed
