Repository pytorch/rl, pull requests merged in 2023-07, with the labels that each got.

#1272 [Performance] Faster losses
  .github/workflows/nightly_build.yml
  torchrl/collectors/collectors.py
  torchrl/objectives/a2c.py
  torchrl/objectives/common.py
  torchrl/objectives/cql.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/iql.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/utils.py
Labels: CLA Signed, performance

#1346 [BugFix] Fix brax
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/jax_utils.py
  torchrl/objectives/a2c.py
  torchrl/objectives/cql.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
Labels: CLA Signed

#1319 [Feature] RLHF networks
  test/test_actors.py
  test/test_tensordictmodules.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/common.py
Labels: enhancement, CLA Signed

#1329 [Feature, NOMERGE] RLHF Rollouts (reopened)
  docs/source/reference/data.rst
  docs/source/reference/modules.rst
  test/test_rlhf.py
  torchrl/data/__init__.py
  torchrl/data/rlhf/__init__.py
  torchrl/data/rlhf/utils.py
  torchrl/modules/__init__.py
  torchrl/modules/tensordict_module/__init__.py
Labels: enhancement, CLA Signed

#1348 [BugFix] Batched envs compatibility with custom keys
  test/mocking_classes.py
  test/test_env.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
Labels: bug, CLA Signed

#1350 [BugFix] Fix vmap in VmapModule (torch 1.13 compat)
  torchrl/modules/tensordict_module/common.py
Labels: bug, CLA Signed

#1354 [Refacto] Migration due to tensordict 473 and 474
  test/test_specs.py
  test/test_tensordictmodules.py
  torchrl/data/tensor_specs.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/rnn.py
Labels: CLA Signed, Refactoring

#1351 [BugFix] QValue modules and nested action
  test/test_actors.py
  test/test_cost.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/utils/utils.py
Labels: CLA Signed

#1352 [BugFix] SafeModule not safely handling specs
  test/test_tensordictmodules.py
  torchrl/data/tensor_specs.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/modules/tensordict_module/probabilistic.py
Labels: bug, CLA Signed

#1356 [CI] Fix GHA gpu tests
  .circleci/config.yml
  .circleci/unittest/linux/scripts/10_nvidia.json
  .circleci/unittest/linux/scripts/run_all.sh
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_libs/scripts_gym/batch_scripts.sh
  .circleci/unittest/linux_libs/scripts_gym/install.sh
  .github/workflows/test-linux-cpu.yml
  .github/workflows/test-linux-gpu.yml
  .github/workflows/test-macos-cpu.yml
  test/test_loggers.py
Labels: CLA Signed, CI

#1357 [Refactor] More unravel fixes
  test/test_tensordictmodules.py
  test/test_transforms.py
  torchrl/_utils.py
  torchrl/data/tensor_specs.py
  torchrl/envs/transforms/rlhf.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/rnn.py
Labels: CLA Signed, Refactoring

#1362 [CI] Fix opt deps machine and docker
  .circleci/unittest/linux_optdeps/scripts/10_nvidia.json
  .circleci/unittest/linux_optdeps/scripts/install.sh
  .circleci/unittest/linux_optdeps/scripts/run_all.sh
  .circleci/unittest/linux_optdeps/scripts/run_test.sh
  .circleci/unittest/linux_optdeps/scripts/setup_env.sh
  .github/workflows/test-linux-optdeps.yml
Labels: CLA Signed, CI

#1361 [Refactor] Follow-up on tensordict PR 473
  test/test_tensordictmodules.py
  torchrl/_utils.py
  torchrl/data/tensor_specs.py
  torchrl/envs/transforms/rlhf.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/rnn.py
Labels: CLA Signed, Refactoring

#1322 [Refactor] Edit ppo params
  examples/ppo/ppo.py
  examples/ppo/utils.py
Labels: CLA Signed, Refactoring

#1364 [CI] Migrate examples
  .circleci/unittest/linux_examples/scripts/10_nvidia.json
  .circleci/unittest/linux_examples/scripts/run_all.sh
  .github/workflows/test-linux-examples.yml
Labels: CLA Signed, CI

#1288 Removing Migrated and Unused CCI jobs
  .circleci/config.yml
Labels: CLA Signed

#1305 [Feature] Nested keys in `OrnsteinUhlenbeckProcess`
  test/mocking_classes.py
  test/test_exploration.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/tensordict_module/exploration.py
Labels: CLA Signed

#1355 [BugFix] Nested keys in transforms
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1368 Fix CI
  test/mocking_classes.py
  test/test_exploration.py
  test/test_loggers.py
Labels: bug, CLA Signed

#1367 [CI] Remove examples from CCI
  .circleci/config.yml
  .circleci/unittest/linux_examples/scripts/install.sh
  .circleci/unittest/linux_examples/scripts/run_all.sh
  .circleci/unittest/linux_examples/scripts/run_test.sh
  .circleci/unittest/linux_examples/scripts/setup_env.sh
Labels: CLA Signed, CI

#1366 [Refactor] Vmas nested
  test/test_collector.py
  test/test_libs.py
  torchrl/collectors/collectors.py
  torchrl/envs/libs/vmas.py
Labels: CLA Signed, bc breaking, Refactoring

#1363 [BugFix] Nested keys to probabilistic modules
  test/test_actors.py
  torchrl/modules/tensordict_module/probabilistic.py
Labels: CLA Signed

#1331 [Refactor,Performance] Faster collectors (bis)
  benchmarks/conftest.py
  test/conftest.py
  torchrl/collectors/collectors.py
Labels: CLA Signed, performance

#1370 [Refactor] Remove private calls to _set
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/objectives/common.py
Labels: CLA Signed, Refactoring

#1182 [CI] Merge Distributed and Linux GPU job
  .circleci/unittest/linux/scripts/run_all.sh
  .circleci/unittest/linux/scripts/run_test.sh
Labels: CLA Signed

#1374 Remove Distributed CCI job
  .circleci/config.yml
Labels: CLA Signed

#1372 [Refactor] Use _set_tuple for faster set
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/objectives/common.py
Labels: CLA Signed, Refactoring

#1375 [BugFix] Fix TD3 and compat with https://github.com/pytorch-labs/tensordict/pull/482
  benchmarks/test_objectives_benchmarks.py
  test/test_cost.py
  torchrl/envs/utils.py
  torchrl/objectives/redq.py
  torchrl/objectives/td3.py
Labels: CLA Signed

#1379 [Refactor] Remove pkg_resources import
  torchrl/envs/utils.py
Labels: CLA Signed

#1382 [BugFix] Fix tutorials
  test/test_cost.py
  torchrl/data/replay_buffers/storages.py
  torchrl/modules/__init__.py
  torchrl/objectives/common.py
  torchrl/objectives/ppo.py
  torchrl/objectives/value/advantages.py
  tutorials/sphinx-tutorials/coding_ppo.py
Labels: bug, CLA Signed

#1380 [CI] Update cuda version
  .circleci/unittest/linux/scripts/install.sh
  .circleci/unittest/linux/scripts/run_all.sh
  .circleci/unittest/linux/scripts/run_test.sh
  .circleci/unittest/linux/scripts/setup_env.sh
  .github/workflows/test-linux-gpu.yml
  .github/workflows/test-linux-optdeps.yml
  test/test_env.py
  torchrl/collectors/collectors.py
Labels: CLA Signed, CI

#1378 [Algorithm] QMixer loss and multiagent models
  docs/source/reference/modules.rst
  docs/source/reference/objectives.rst
  setup.py
  test/test_cost.py
  test/test_modules.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/__init__.py
  torchrl/modules/models/__init__.py
  torchrl/modules/models/multiagent.py
  torchrl/modules/tensordict_module/common.py
  torchrl/objectives/__init__.py
  torchrl/objectives/dqn.py
  torchrl/objectives/multiagent/__init__.py
  torchrl/objectives/multiagent/qmixer.py
  torchrl/objectives/value/advantages.py
Labels: enhancement, CLA Signed, new algo

#1384 [CI] Doc CI fix
  .github/workflows/docs.yml
  docs/requirements.txt
  docs/source/reference/modules.rst
  docs/source/reference/objectives.rst
Labels: CLA Signed, CI

#1383 [Docs] Multi-agent environments
  docs/source/reference/envs.rst
Labels: CLA Signed

#1386 [CI] Windows GPU Tests
  .github/workflows/test-windows-optdepts-gpu.yml
Labels: CLA Signed, CI

#1387 [CI] Deprecate Windows GPU CCI
  .circleci/config.yml
Labels: CLA Signed

#1283 Envpool Tests to Nova
  .circleci/unittest/linux_libs/scripts_envpool/setup_env.sh
  .github/workflows/test-linux-envpool.yml
Labels: CLA Signed

#1390 Remove Envpool from CCI
  .circleci/config.yml
Labels: CLA Signed

#1393 [Doc] Fix doctest examples
  torchrl/collectors/collectors.py
Labels: CLA Signed

#1403 [BugFix] Fix ppo training NaN occurences
  examples/ppo/config_example2.yaml
  examples/ppo/utils.py
  torchrl/modules/distributions/utils.py
Labels: bug, CLA Signed

#1027 [Example] Multiagent examples: MAPPO-IPPO-MADDPG-IDDPG-IQL-QMIX-VDN
  .circleci/unittest/linux_examples/scripts/environment.yml
  .circleci/unittest/linux_examples/scripts/run_test.sh
  examples/multiagent/README.md
  examples/multiagent/iql.py
  examples/multiagent/iql.yaml
  examples/multiagent/maddpg_iddpg.py
  examples/multiagent/maddpg_iddpg.yaml
  examples/multiagent/mappo_ippo.py
  examples/multiagent/mappo_ippo.yaml
  examples/multiagent/qmix_vdn.py
  examples/multiagent/qmix_vdn.yaml
  examples/multiagent/utils/__init__.py
  examples/multiagent/utils/logging.py
Labels: CLA Signed

#1412 [Refactor] Use masking in collectors
  torchrl/collectors/collectors.py
Labels: CLA Signed

#1410 [BugFix] Pickable buffer
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
Labels: bug, CLA Signed

#1385 [Tutorial] Multiagent PPO tutorial
  .gitignore
  docs/source/index.rst
  tutorials/sphinx-tutorials/multiagent_ppo.py
Labels: documentation, CLA Signed

#1395 [Fix] Remove loss device
  torchrl/objectives/a2c.py
  torchrl/objectives/common.py
  torchrl/objectives/dqn.py
  torchrl/objectives/ppo.py
Labels: CLA Signed

#1399 [BugFix] Fix LSTM use with padded/masked segments
  test/test_tensordictmodules.py
  torchrl/modules/tensordict_module/rnn.py
Labels: CLA Signed

#1416 [CI] Fix tuto deps
  docs/requirements.txt
Labels: CLA Signed

#1417 [BugFix] unlock in tensordictmodules tests
  test/test_tensordictmodules.py
Labels: bug, CLA Signed, Tests

#1419 [Feature] VMAS obs dict
  torchrl/envs/libs/vmas.py
Labels: CLA Signed, Refactoring

#1392 [BugFix] Fix `LazyStackedCompositeSpec` and introducing `consolidate_spec`
  docs/source/reference/data.rst
  test/test_specs.py
  torchrl/data/__init__.py
  torchrl/data/tensor_specs.py
  torchrl/data/utils.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed

#1426 [BugFix] Fix KLTransform execution with LSTM
  test/test_transforms.py
  torchrl/envs/transforms/rlhf.py
Labels: bug, CLA Signed
