Repository pytorch/rl, pull requests merged in 2023-05, with the labels that each got.

#1113 Added the entry for skip-tests in the environment.yml
  .circleci/unittest/linux_libs/scripts_habitat/environment.yml
Labels: CLA Signed

#1116 [CI] Upgrade ubuntu version in GHA
  .github/workflows/benchmarks.yml
  .github/workflows/nightly_build.yml
  .github/workflows/wheels.yml
Labels: CLA Signed

#1099 Fix in windows unit test
  .circleci/unittest/windows_optdepts/scripts/environment.yml
  .circleci/unittest/windows_optdepts/scripts/setup_env.sh
Labels: CLA Signed

#1117 Revert "Fix in windows unit test"
  .circleci/unittest/windows_optdepts/scripts/environment.yml
  .circleci/unittest/windows_optdepts/scripts/setup_env.sh
Labels: CLA Signed

#1114 [Nova] Lint job on GHA
  .github/workflows/lint.yml
Labels: CLA Signed

#1121 [Nova] Remove CircleCI Wheels Builds
  .circleci/config.yml
Labels: CLA Signed, CI

#1123 [BugFix] Set exploration mode to MODE in all losses by default
  torchrl/objectives/common.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/iql.py
  torchrl/objectives/td3.py
Labels: bug, CLA Signed

#1124 [BugFix] Instruct the value key to PPOLoss
  torchrl/objectives/ppo.py
Labels: bug, CLA Signed

#1122 [Feature] CatFrames for offline data
  .circleci/unittest/linux_examples/scripts/run_test.sh
  .github/workflows/nightly_build.yml
  examples/a2c/utils.py
  examples/dreamer/dreamer_utils.py
  examples/ppo/ppo.py
  examples/ppo/utils.py
  test/_utils_internal.py
  test/test_libs.py
  test/test_rb.py
  test/test_trainer.py
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#1095 [Feature] Marking the time dimension
  test/test_collector.py
  test/test_distributed.py
  test/test_env.py
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
Labels: enhancement, CLA Signed

#1130 [Doc] Add tuto and time dim info in docs
  docs/source/index.rst
  docs/source/reference/envs.rst
  tutorials/sphinx-tutorials/rb_tutorial.py
Labels: CLA Signed

#1132 [Doc] Fix locked samples from RBs and ccl of tuto
  torchrl/data/replay_buffers/storages.py
  tutorials/sphinx-tutorials/rb_tutorial.py
Labels: bug, CLA Signed

#1135 [BugFix] Fix unlock in RB
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed

#1131 [BugFix] extract the info dict from a list
  .circleci/unittest/linux_libs/scripts_gym/batch_scripts.sh
  test/test_libs.py
  torchrl/envs/gym_like.py
Labels: bug, CLA Signed

#992 [Feature] Added support for vector-based rewards from environments in MO-Gymnasium
  .circleci/unittest/linux/scripts/setup_env.sh
  .circleci/unittest/linux_libs/scripts_gym/batch_scripts.sh
  .circleci/unittest/linux_stable/scripts/setup_env.sh
  docs/source/reference/envs.rst
  test/test_libs.py
  test/test_utils.py
  torchrl/envs/libs/gym.py
Labels: enhancement, CLA Signed

#1137 [Versioning] v0.1.1
  .github/workflows/wheels.yml
  README.md
  setup.py
  version.txt
Labels: CLA Signed, versioning

#1144 [BugFix] make value estimator with value_key from the PPOLoss init arg
  torchrl/objectives/ppo.py
Labels: CLA Signed

#1086 Windows Unittests on GHA
  .github/workflows/test-windows-optdepts-cpu.yml
Labels: CLA Signed

#1145 [BugFix] load_state_dict in param updates for collectors
  torchrl/collectors/collectors.py
Labels: CLA Signed

#1146 [Performance] Vmas vectorized reset
  torchrl/envs/libs/vmas.py
Labels: CLA Signed

#1147 [Performance] Accelerate `_split_and_pad_sequence`
  test/test_cost.py
  torchrl/objectives/value/utils.py
Labels: CLA Signed, performance

#1150 [Doc] Do not clean gh-pages
  .github/workflows/docs.yml
Labels: documentation, CLA Signed, CI, Benchmarks

#1151 [Doc] Fix GPU benchmark
  .github/workflows/benchmarks.yml
Labels: documentation, CLA Signed, CI, Benchmarks

#1155 [BugFix] _transpose_time with single dim
  test/test_cost.py
  torchrl/modules/tensordict_module/rnn.py
  torchrl/objectives/value/functional.py
  torchrl/objectives/value/utils.py
Labels: bug, CLA Signed

#1153 [Performance] Faster GAE
  torchrl/objectives/value/functional.py
  torchrl/objectives/value/utils.py
Labels: CLA Signed, performance

#1161 Fix bug where ToTensorImage unsqueeze would not update the observation spec
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#1158 [Performance] Accelerate TD lambda return estimate
  test/test_cost.py
  torchrl/objectives/value/functional.py
  torchrl/objectives/value/utils.py
Labels: CLA Signed, performance

#1136 [Feature] Allow sequential transforms to work offline
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#1159 [Nova] Remove windows Unittests from CCI
  .circleci/config.yml
Labels: CLA Signed

#1162 [Test,BugFix] Fix Jax backend tests
  test/test_libs.py
Labels: bug, CLA Signed, Tests

#1139 Linux Gym Unittests to GHA
  .circleci/unittest/linux_libs/scripts_gym/setup_env.sh
  .github/workflows/test-linux-gym.yml
Labels: CLA Signed

#1170 [Refactor] Shape ops in LSTM based on tensor shape, not tensordict
  torchrl/modules/tensordict_module/rnn.py
Labels: CLA Signed

#1168 [Refactor] Better GymLikeEnv
  test/test_env.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
Labels: CLA Signed, performance

#1173 [BugFix] Fix examples
  torchrl/objectives/dqn.py
  torchrl/objectives/value/functional.py
Labels: CLA Signed

#1185 [BugFix] include buffers in policy_weights
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed

#1186 [BugFix] Fix TD3 target net
  examples/td3/config.yaml
  examples/td3/td3.py
  torchrl/objectives/td3.py
Labels: bug, CLA Signed

#1179 Removing CircleCI Gym Unittests
  .circleci/config.yml
Labels: CLA Signed

#1171 [Performance] Improve performance and streamline the generating of the gammalambda tensor
  torchrl/objectives/value/functional.py
Labels: CLA Signed, performance

#1190 [BugFix] Fix SAC
  torchrl/objectives/sac.py
Labels: CLA Signed

#1191 [BugFix] Fix SACv2
  torchrl/objectives/sac.py
Labels: CLA Signed

#1193 [Minor] Fix typo
  tutorials/sphinx-tutorials/rb_tutorial.py
Labels: documentation, CLA Signed

#1194 [Feature] dispatch for DQNLoss
  test/test_cost.py
  torchrl/objectives/dqn.py
Labels: enhancement, CLA Signed

#1172 [Refactor] Refactor _reset in ParallelEnv
  test/test_env.py
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
  torchrl/envs/vec_env.py
Labels: CLA Signed, Refactoring

#1195 [BugFix] Fix Brax reset
  torchrl/envs/libs/brax.py
Labels: bug, CLA Signed

#1197 [BugFix] Fix serialization of parallel envs
  torchrl/envs/vec_env.py
Labels: bug, CLA Signed

#1165 [BugFix] Fix KeyError in inverse transform replay buffer
  test/test_transforms.py
  torchrl/data/__init__.py
  torchrl/data/replay_buffers/__init__.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/utils.py
  torchrl/data/replay_buffers/writers.py
Labels: bug, CLA Signed

#1192 [BugFix] Fix SAC alpha optim
  .circleci/unittest/linux_optdeps/scripts/install.sh
  .github/workflows/benchmarks.yml
  .github/workflows/docs.yml
  torchrl/csrc/pybind.cpp
  torchrl/csrc/utils.h
  torchrl/modules/distributions/continuous.py
  torchrl/objectives/sac.py
Labels: bug, CLA Signed

#1115 [Refactor] Nested reward and done specs
  docs/source/reference/envs.rst
  examples/a2c/utils.py
  examples/ppo/utils.py
  examples/td3/td3.py
  test/mocking_classes.py
  test/smoke_test_deps.py
  test/test_collector.py
  test/test_cost.py
  test/test_env.py
  test/test_libs.py
  test/test_transforms.py
  torchrl/data/datasets/d4rl.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/libs/vmas.py
  torchrl/envs/model_based/common.py
  torchrl/envs/model_based/dreamer.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/models.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/pendulum.py
  tutorials/sphinx-tutorials/torchrl_envs.py
Labels: enhancement, CLA Signed, bc breaking, major

#1203 [Doc] Fix tanh_loc in docstrings
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/libs/utils.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/vip.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/models/models.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/advantages.py
  torchrl/trainers/trainers.py
Labels: CLA Signed

#1205 [Doc] Fix default value of `tanh_loc` in the documentation of `TruncatedNormal`.
  torchrl/modules/distributions/continuous.py
Labels: documentation, CLA Signed

#1196 [Feature] KL Transform for RLHF
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/rlhf.py
Labels: enhancement, CLA Signed

#1207 [BugFix] Fix KL import errors
  torchrl/envs/transforms/rlhf.py
Labels: bug, CLA Signed

#1212 [BugFix] KL module integration
  torchrl/envs/transforms/rlhf.py
Labels: bug, CLA Signed

#1175 [Refactor] the usage of tensordict keys in loss modules
  test/test_cost.py
  torchrl/objectives/a2c.py
  torchrl/objectives/common.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dqn.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/iql.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/value/advantages.py
Labels: CLA Signed, Refactoring
