Repository pytorch/rl, pull requests merged in 2023-01, with the labels that each got.

#780 [BugFix] Doc built cmake error
  .github/workflows/docs.yml
Labels: CLA Signed

#779 [Feature] Better error messages during GC
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
Labels: CLA Signed, quality

#752 [Feature] Lazy TensorClass storage
  test/test_rb.py
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed

#751 [Feature] RewardSum transform
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#786 [BugFix] Fix PPO clip
  torchrl/objectives/ppo.py
Labels: bug, CLA Signed

#783 [Feature] MultiDiscreteTensorSpec
  test/test_tensor_spec.py
  torchrl/data/__init__.py
  torchrl/data/tensor_specs.py
  torchrl/envs/libs/gym.py
Labels: enhancement, CLA Signed

#782 [Doc] Doc revamp
  docs/source/reference/envs.rst
  knowledge_base/GYM.md
  knowledge_base/PRO-TIPS.md
Labels: documentation, CLA Signed

#788 [BugFix] `ParallelEnv` handling of done flag
  test/test_env.py
  torchrl/envs/vec_env.py
Labels: CLA Signed

#787 [BugFix] Sorting nested keys
  test/test_libs.py
  torchrl/envs/libs/brax.py
  torchrl/envs/vec_env.py
Labels: bug, CLA Signed

#791 [Doc] README index
  README.md
Labels: documentation, CLA Signed

#759 Add windows wheel build to CircleCI
  .circleci/config.yml
  packaging/build_wheels.sh
  packaging/pkg_helpers.bash
  packaging/windows/internal/cuda_install.bat
  packaging/windows/internal/vc_env_helper.bat
  packaging/windows/internal/vc_install_helper.sh
  packaging/windows/internal/vs2017_install.ps1
Labels: CLA Signed

#796 [Doc] Missing headers
  benchmarks/storage/benchmark_sample_latency_over_rpc.py
  docs/source/index.rst
  docs/source/reference/modules.rst
  docs/source/reference/trainers.rst
  test/opengl_rendering.py
  test/smoke_test.py
  test/smoke_test_deps.py
  test/test_actors.py
  test/test_loggers.py
  test/test_rb_distributed.py
  torchrl/data/replay_buffers/rb_prototype.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/writers.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/habitat.py
  torchrl/envs/libs/jax_utils.py
  torchrl/envs/libs/jumanji.py
  torchrl/modules/__init__.py
  torchrl/objectives/__init__.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/reinforce.py
  torchrl/trainers/__init__.py
  torchrl/trainers/loggers/__init__.py
  torchrl/trainers/loggers/utils.py
  tutorials/sphinx-tutorials/README.rst
Labels: documentation, CLA Signed

#797 [Doc] Knowledge base section
  docs/source/index.rst
Labels: CLA Signed

#789 [Feature] MultiDiscreteTensorSpec nvec with several axes
  test/test_tensor_spec.py
  torchrl/data/tensor_specs.py
Labels: enhancement, CLA Signed

#794 [Refactor] Graduate Replay Buffer prototype
  README.md
  benchmarks/storage/benchmark_sample_latency_over_rpc.py
  docs/source/reference/data.rst
  examples/distributed/distributed_replay_buffer.py
  test/test_rb.py
  test/test_rb_distributed.py
  test/test_trainer.py
  torchrl/data/__init__.py
  torchrl/data/replay_buffers/__init__.py
  torchrl/data/replay_buffers/rb_prototype.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/writers.py
  torchrl/trainers/__init__.py
  torchrl/trainers/helpers/replay_buffer.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: enhancement, CLA Signed, bc breaking

#805 [Refactor] Simplify FlattenObservation default kwargs
  examples/dreamer/dreamer_utils.py
  test/test_helpers.py
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
  torchrl/trainers/helpers/envs.py
Labels: CLA Signed, bc breaking, Refactoring

#811 [Format] Fix lint
  test/test_transforms.py
Labels: CLA Signed, formatting

#817 [Doc, BugFix] Fix tutos errors
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: bug, documentation, CLA Signed

#818 [BugFix] Fix MultOneHotDiscreteTensorSpec.is_in
  test/test_tensor_spec.py
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#820 [Doc] Using R3M with a replay buffer
  tutorials/sphinx-tutorials/pretrained_models.py
Labels: CLA Signed

#821 [CodeQuality] call all() without making a list
  test/test_tensor_spec.py
  test/test_trainer.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#800 [BugFix] [Feature] "_reset" flag for env reset
  test/mocking_classes.py
  test/test_env.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
  torchrl/envs/libs/vmas.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/vec_env.py
Labels: CLA Signed, Refactoring

#804 [CI] Add unit test workflows for Windows
  .circleci/config.yml
  .circleci/unittest/windows_optdepts/scripts/environment.yml
  .circleci/unittest/windows_optdepts/scripts/install.sh
  .circleci/unittest/windows_optdepts/scripts/install_conda.bat
  .circleci/unittest/windows_optdepts/scripts/post_process.sh
  .circleci/unittest/windows_optdepts/scripts/run_test.sh
  .circleci/unittest/windows_optdepts/scripts/set_cuda_envs.sh
  .circleci/unittest/windows_optdepts/scripts/setup_env.sh
  .circleci/unittest/windows_optdepts/scripts/vc_env_helper.bat
  packaging/windows/internal/driver_update.bat
  test/test_collector.py
  test/test_helpers.py
  test/test_rb.py
  test/test_rb_distributed.py
  test/test_shared.py
  torchrl/data/tensor_specs.py
Labels: CLA Signed

#812 [BugFix] Fix habitat integration and doc
  .circleci/unittest/linux_libs/scripts_habitat/run_test.sh
  knowledge_base/HABITAT.md
  test/test_libs.py
  torchrl/envs/libs/habitat.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed

#822 [Minor] Better error reporting
  torchrl/collectors/collectors.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/libs/vmas.py
  torchrl/envs/vec_env.py
  torchrl/modules/tensordict_module/common.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/redq.py
  torchrl/objectives/sac.py
Labels: CLA Signed, quality

#823 [Minor] Add ninja to deps in toml file
  pyproject.toml
Labels: CLA Signed

#824 [BugFix] Device of info specs
  test/test_env.py
  torchrl/envs/gym_like.py
Labels: CLA Signed

#825 [BugFix] Fix envs specs and info reading
  knowledge_base/MUJOCO_INSTALLATION.md
  test/test_libs.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
  torchrl/envs/utils.py
Labels: CLA Signed

#827 [Feature] Dtype in vmas tests
  test/test_libs.py
  torchrl/envs/libs/vmas.py
Labels: CLA Signed

#830 [BugFix] Fix R3M observation spec transform
  torchrl/data/tensor_specs.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/vip.py
Labels: bug, CLA Signed

#832 [Feature] Exclude and select transforms
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#833 Updating Recorder to accomodate "solved" key
  torchrl/trainers/trainers.py
Labels: CLA Signed

#835 [BugFIx] Changed "set_count" set in collectors
  README.md
  torchrl/collectors/collectors.py
Labels: CLA Signed, Refactoring

#684 [Algorithm] Td3
  examples/td3/config.yaml
  examples/td3/td3.py
  test/test_cost.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/objectives/__init__.py
  torchrl/objectives/td3.py
  torchrl/objectives/utils.py
Labels: CLA Signed, new algo

#840 [Doc] A Succinct Summary of Reinforcement Learning
  knowledge_base/RESOURCES.md
Labels: documentation, CLA Signed

#839 [Feature, BugFix] ObservationNorm keep_dims and RewardSum init
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, enhancement, CLA Signed

#838 [BugFix] Improve done checking of collectors
  torchrl/collectors/collectors.py
Labels: CLA Signed

#842 [BugFix] Sync with tensordict (meta-tensor deprecation)
  test/test_shared.py
  torchrl/collectors/utils.py
  torchrl/envs/common.py
Labels: bug, CLA Signed

#847 [Feature] Refactor CatFrames using a proper preallocated buffer
  test/test_shared.py
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, Refactoring

#837 [CI] Add Github-Actions workflows for Windows wheels & nightly-build
  .github/workflows/nightly_build.yml
  .github/workflows/wheels.yml
Labels: CLA Signed

#853 Fix broken link Dreamer
  torchrl/modules/models/model_based.py
Labels: CLA Signed

#855 [BugFix] Loading state_dict on uninitialized CatFrames
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#854 [Refactor] Move loggers to `torchrl.record`
  docs/source/reference/trainers.rst
  examples/a2c/a2c.py
  examples/ddpg/ddpg.py
  examples/dqn/dqn.py
  examples/dreamer/dreamer.py
  examples/dreamer/dreamer_utils.py
  examples/ppo/ppo.py
  examples/redq/redq.py
  examples/sac/sac.py
  examples/td3/td3.py
  test/test_loggers.py
  test/test_trainer.py
  torchrl/record/loggers/__init__.py
  torchrl/record/loggers/common.py
  torchrl/record/loggers/csv.py
  torchrl/record/loggers/mlflow.py
  torchrl/record/loggers/tensorboard.py
  torchrl/record/loggers/utils.py
  torchrl/record/loggers/wandb.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/envs.py
  torchrl/trainers/helpers/trainers.py
  torchrl/trainers/trainers.py
Labels: CLA Signed, bc breaking

#829 [Refactor] specs batch size refactoring
  knowledge_base/PRO-TIPS.md
  test/mocking_classes.py
  test/test_cost.py
  test/test_env.py
  test/test_libs.py
  test/test_specs.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/data/__init__.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/env_creator.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/libs/vmas.py
  torchrl/envs/model_based/common.py
  torchrl/envs/model_based/dreamer.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/distributions/truncated_normal.py
  torchrl/modules/planners/cem.py
  torchrl/modules/planners/mppi.py
Labels: enhancement, CLA Signed, Refactoring

#841 [Feature] Max pool Transform
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#859 [Versioning] Version 0.0.4a
  .github/workflows/wheels.yml
  version.txt
Labels: CLA Signed, versioning

#850 [Feature] Vmas to device
  test/test_libs.py
  torchrl/envs/libs/vmas.py
Labels: enhancement, CLA Signed

#863 [Feature] Loading R3M and VIP from ResNet
  test/test_transforms.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/vip.py
Labels: CLA Signed

#868 [BugFix] Avoid collision of "step_count" key from transform and collector
  examples/td3/td3.py
  test/test_collector.py
  test/test_cost.py
  test/test_postprocs.py
  test/test_trainer.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/collectors/utils.py
  torchrl/data/postprocs/postprocs.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/models/recipes/impala.py
  torchrl/trainers/trainers.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
Labels: bug, CLA Signed

#874 [Refactor] Better init for CatFrames buffers + removing default init values
  examples/dreamer/dreamer_utils.py
  test/test_helpers.py
  test/test_rb.py
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/trainers/helpers/envs.py
  tutorials/sphinx-tutorials/coding_dqn.py
Labels: CLA Signed, bc breaking, Refactoring

#872 [Refactor] Minor refactorings to envs
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
Labels: CLA Signed, Refactoring

#877 [BugFix] Run checks when creating fake_td
  torchrl/envs/common.py
Labels: CLA Signed

#881 [Refactor] Box device
  test/_utils_internal.py
  test/test_specs.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, Refactoring

#734 [Feature] Multithreaded env
  .circleci/config.yml
  .circleci/unittest/linux_libs/scripts_envpool/environment.yml
  .circleci/unittest/linux_libs/scripts_envpool/install.sh
  .circleci/unittest/linux_libs/scripts_envpool/post_process.sh
  .circleci/unittest/linux_libs/scripts_envpool/run-clang-format.py
  .circleci/unittest/linux_libs/scripts_envpool/run_test.sh
  .circleci/unittest/linux_libs/scripts_envpool/setup_env.sh
  benchmarks/benchmark_batched_envs.py
  docs/source/reference/envs.rst
  test/_utils_internal.py
  test/test_env.py
  test/test_libs.py
  torchrl/data/tensor_specs.py
  torchrl/envs/__init__.py
  torchrl/envs/common.py
  torchrl/envs/vec_env.py
Labels: enhancement, CLA Signed
