Repository pytorch/rl, pull requests merged in 2023-08, with the labels that each got.

#1434 python 3.11 in README
  README.md
Labels: documentation, CLA Signed

#1431 [Feature] Optional mapping of "state" in gym specs
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/vmas.py
Labels: enhancement, CLA Signed

#1444 [BugFix] Fix split_trajs
  torchrl/collectors/utils.py
  torchrl/data/datasets/d4rl.py
Labels: CLA Signed

#1411 [Feature] Heterogeneous Environments compatibility
  test/mocking_classes.py
  test/test_env.py
  test/test_utils.py
  torchrl/data/utils.py
  torchrl/envs/common.py
  torchrl/envs/utils.py
Labels: enhancement, CLA Signed

#1414 [Tests] Collector compatibility for heterogeneous environments
  test/test_collector.py
  test/test_libs.py
  torchrl/envs/libs/vmas.py
Labels: CLA Signed

#1443 [Feature] IsaacGymEnvs integration
  test/test_libs.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/isaacgym.py
Labels: enhancement, CLA Signed

#1442 [Feature] Auto-DoubleToFloat
  docs/source/reference/envs.rst
  examples/a2c/utils.py
  examples/cql/utils.py
  examples/ddpg/utils.py
  examples/distributed/collectors/multi_nodes/ray_train.py
  examples/dreamer/dreamer_utils.py
  examples/ppo/utils.py
  examples/sac/utils.py
  examples/td3/utils.py
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/libs/isaacgym.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: bug, enhancement, CLA Signed

#1464 [BugFix] CompositeSpec.unsqueeze
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#1461 [BugFix] Discrete SAC rewrite
  .circleci/unittest/linux_examples/scripts/run_test.sh
  examples/discrete_sac/discrete_sac.py
  examples/multiagent/sac.py
  examples/multiagent/sac.yaml
  test/test_cost.py
  torchrl/data/utils.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/utils/utils.py
  torchrl/objectives/dqn.py
  torchrl/objectives/multiagent/qmixer.py
  torchrl/objectives/sac.py
Labels: bug, CLA Signed, Refactoring

#1436 [Feature] Parallel environments lazy heterogenous data compatibility
  docs/source/reference/data.rst
  test/test_env.py
  torchrl/data/__init__.py
  torchrl/data/utils.py
  torchrl/envs/common.py
  torchrl/envs/vec_env.py
Labels: enhancement, CLA Signed

#1149 [Algorithm] Online Decision transformer
  .circleci/unittest/linux/scripts/environment.yml
  .circleci/unittest/linux_examples/scripts/environment.yml
  .circleci/unittest/linux_examples/scripts/run_all.sh
  .circleci/unittest/linux_examples/scripts/run_test.sh
  benchmarks/conftest.py
  docs/source/reference/modules.rst
  docs/source/reference/objectives.rst
  examples/decision_transformer/dt.py
  examples/decision_transformer/dt_config.yaml
  examples/decision_transformer/lamb.py
  examples/decision_transformer/odt_config.yaml
  examples/decision_transformer/online_dt.py
  examples/decision_transformer/utils.py
  examples/iql/iql_online.py
  examples/multiagent/utils/logging.py
  test/conftest.py
  test/test_actors.py
  test/test_cost.py
  test/test_modules.py
  test/test_tensordictmodules.py
  torchrl/data/datasets/d4rl.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/__init__.py
  torchrl/modules/distributions/utils.py
  torchrl/modules/models/__init__.py
  torchrl/modules/models/decision_transformer.py
  torchrl/modules/models/models.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/objectives/__init__.py
  torchrl/objectives/decision_transformer.py
Labels: CLA Signed, new algo

#1475 [CI] Fix Mujoco version
  .circleci/unittest/linux/scripts/run_all.sh
Labels: CLA Signed, CI

#1462 [Feature] Allow multiple (nested) action, reward, done keys in `env`,`vec_env` and `collectors`
  benchmarks/test_envs_benchmark.py
  docs/source/reference/envs.rst
  test/mocking_classes.py
  test/test_actors.py
  test/test_collector.py
  test/test_env.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/data/utils.py
  torchrl/envs/common.py
  torchrl/envs/libs/isaacgym.py
  torchrl/envs/transforms/rlhf.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/envs/vec_env.py
  torchrl/trainers/helpers/models.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
Labels: enhancement, CLA Signed

#1289 Linux Olddeps tests to Nova
  .circleci/unittest/linux_olddeps/scripts_gym_0_13/run_test.sh
  .github/workflows/test-linux-olddeps.yml
Labels: CLA Signed

#1472 [Feature] Device transform
  docs/source/reference/envs.rst
  test/mocking_classes.py
  test/test_transforms.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#1454 [BugFix] Fix reward sum within parallel envs
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1476 Move to More Efficient Windows Runner
  .github/workflows/test-windows-optdepts-gpu.yml
Labels: CLA Signed
