Repository pytorch/rl, pull requests merged in 2024-06, with the labels that each got.

#2196 [BugFix] Make DMControlEnv aware of truncated signals
  test/test_libs.py
  torchrl/envs/libs/dm_control.py
Labels: bug, CLA Signed, Environments

#2195 [Quality] Remove global seeding in set_seed
  test/test_transforms.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
Labels: CLA Signed, bc breaking, quality

#2194 [BugFix] Fix strict_length in prioritized slice sampler
  test/test_rb.py
  torchrl/data/__init__.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/envs/batched_envs.py
Labels: bug, CLA Signed

#2197 [Doc] Restore colab links
  docs/source/_static/js/theme.js
  docs/source/_templates/layout.html
Labels: documentation, CLA Signed

#2204 [BugFix] Fix `to` in MultiDiscreteTensorSpec
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#2214 [BugFix] Fix test_specs.py
  docs/source/_templates/layout.html
  test/test_specs.py
Labels: CLA Signed, Tests

#2213 [BugFix] Fix done/terminated computation in slice samplers
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: CLA Signed

#2202 [BugFix] Fix strict length in PRB+SliceSampler
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/writers.py
Labels: bug, CLA Signed

#2216 [BugFix] Fix torch 2.3 compatibility of padding indices
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#2217 [BugFix] Global import of optional library
  torchrl/envs/libs/dm_control.py
Labels: CLA Signed

#2218 [BugFix] Fix lib tests
  test/test_libs.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
Labels: bug, CLA Signed, Environments

#2219 [Tests] Fix windows tests
  test/test_collector.py
Labels: CLA Signed, Tests

#2215 [BugFix] Fix max-priority update
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: enhancement, CLA Signed

#2200 [Versioning] Bump torch 2.0 as minimal version
  .github/unittest/linux_libs/scripts_gym/install.sh
  .github/unittest/linux_olddeps/scripts_gym_0_13/install.sh
  .github/unittest/linux_optdeps/scripts/install.sh
  docs/source/index.rst
  knowledge_base/VERSIONING_ISSUES.md
  test/test_env.py
  test/test_libs.py
  test/test_modules.py
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/utils.py
  torchrl/modules/tensordict_module/common.py
  torchrl/objectives/value/advantages.py
Labels: CLA Signed, versioning, Environments, Data

#2221 [Performance, Refactor] Faster loading of uninitialized storages
  test/test_rb.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/utils.py
Labels: enhancement, CLA Signed, performance

#2220 [Feature] Make ProbabilisticActor compatible with Composite distributions
  examples/agents/composite_actor.py
  test/test_actors.py
  torchrl/modules/tensordict_module/actors.py
Labels: enhancement, CLA Signed

#2185 [BugFix] buffer __iter__ for samplers without replacement + prefetch
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#2223 [Quality] better error message for CompositeSpec shape mismatch
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: quality

#2224 [Feature] assinging values to RB storage
  docs/source/reference/data.rst
  test/test_rb.py
  test/test_transforms.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/writers.py
  torchrl/envs/batched_envs.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#2228 [BugFix] Fix sliced PRB when only traj is provided
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#2233 [BugFix] Fix Brax
  test/test_libs.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/jax_utils.py
Labels: bug, CLA Signed, Environments

#2232 [BugFix] Fix collectors with non tensors
  sota-implementations/cql/cql_offline.py
  sota-implementations/cql/cql_online.py
  test/test_collector.py
  torchrl/collectors/collectors.py
  torchrl/envs/batched_envs.py
  torchrl/modules/models/model_based.py
  torchrl/objectives/a2c.py
Labels: bug, CLA Signed

#1944 [BugFix,Feature] Allow non-tensor data in envs
  docs/source/reference/data.rst
  docs/source/reference/envs.rst
  test/mocking_classes.py
  test/test_env.py
  torchrl/data/tensor_specs.py
  torchrl/envs/batched_envs.py
  torchrl/envs/utils.py
Labels: enhancement, CLA Signed

#2237 [Feature] _make_ordinal_device
  test/test_specs.py
  torchrl/_utils.py
  torchrl/collectors/collectors.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensor_specs.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/libs/habitat.py
  torchrl/envs/transforms/transforms.py
  torchrl/trainers/helpers/replay_buffer.py
Labels: enhancement, CLA Signed

#2239 [BugFix] Fix OOB sampling in PrioritizedSliceSampler
  sota-implementations/cql/cql_offline.py
  sota-implementations/cql/cql_online.py
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#2240 [BugFix] Fix collector tests where device ordinal is needed
  test/test_collector.py
Labels: bug, CLA Signed

#2241 [BugFix] Fix typo in weight assignment in PRB
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#2242 [BugFix] Fix max value within buffer during update priority
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#2244 [BugFix] Fix and test PRB priority update across dims and rb types
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
Labels: bug, CLA Signed

#2198 [BugFix] Fix tanh normal mode
  test/test_actors.py
  test/test_cost.py
  test/test_distributions.py
  test/test_exploration.py
  test/test_tensordictmodules.py
  torchrl/collectors/collectors.py
  torchrl/collectors/distributed/generic.py
  torchrl/collectors/distributed/ray.py
  torchrl/collectors/distributed/rpc.py
  torchrl/collectors/distributed/sync.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/distributions/discrete.py
  torchrl/modules/distributions/truncated_normal.py
  torchrl/modules/models/exploration.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/probabilistic.py
  torchrl/objectives/common.py
  torchrl/objectives/sac.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/trainers.py
Labels: bug, CLA Signed, distributions

#2245 [CI] Fix CI
  .github/unittest/linux_libs/scripts_brax/environment.yml
  .github/unittest/linux_libs/scripts_gym/batch_scripts.sh
  .github/unittest/linux_libs/scripts_gym/install.sh
  .github/unittest/linux_olddeps/scripts_gym_0_13/install.sh
  test/test_libs.py
  torchrl/collectors/collectors.py
  torchrl/data/datasets/openx.py
Labels: bug, CLA Signed, CI, Environments, Data

#2248 [CI] Upgrade SDL to install pygame 2.6
  .github/unittest/linux/scripts/run_all.sh
Labels: CLA Signed, Environments, Data

#2247 [Feature] ActionDiscretizer
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/data/tensor_specs.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#2251 [Feature] Some improvements to VecNorm
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#2253 [Quality] Warn if the sampler is not prioritized but update_priority is called
  torchrl/data/replay_buffers/samplers.py
Labels: CLA Signed, quality

#2043 [Feature] Split-trajectories and represent as nested tensor
  test/test_postprocs.py
  torchrl/collectors/utils.py
Labels: enhancement, CLA Signed

#2255 [Doc] Edit README for local installs
  README.md
Labels: documentation, CLA Signed

#2231 [Performance] consolidate TDs in ParallelEnv without buffers
  torchrl/envs/batched_envs.py
Labels: CLA Signed, performance

#2256 [Refactor] Remove `_run_checks` from `TensorDict.__init__`
  torchrl/collectors/utils.py
  torchrl/data/tensor_specs.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/brax.py
  torchrl/objectives/sac.py
Labels: CLA Signed, Refactoring
