Repository pytorch/rl, pull requests merged in 2024-05, with the labels that each got.

#2145 [BugFix] Gym async with _reset full of `True`
  test/test_libs.py
  torchrl/envs/libs/gym.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed, Environments

#2149 [Doc] Fix documentation mismatch for default argument
  torchrl/objectives/sac.py
Labels: CLA Signed

#2151 [Doc] Fix links in doc
  docs/source/reference/data.rst
  docs/source/reference/envs.rst
  docs/source/reference/trainers.rst
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
  tutorials/sphinx-tutorials/pendulum.py
Labels: documentation, CLA Signed

#2150 [BugFix] Fix info reading with async gym
  test/test_libs.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, Environments

#2152 Fix MLFlow logger
  torchrl/record/loggers/mlflow.py
Labels: CLA Signed, Logging

#2127 [Feature] Extract primers from modules that contain RNNs
  docs/source/reference/modules.rst
  test/test_tensordictmodules.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/tensordict_module/rnn.py
  torchrl/modules/utils/__init__.py
  torchrl/modules/utils/utils.py
Labels: enhancement, CLA Signed

#2156 Fixed several broken links in readme.md
  README.md
  sota-implementations/README.md
Labels: CLA Signed

#2155 [Doc] Update README.md
  README.md
Labels: documentation, CLA Signed, ciflow/docs

#2119 [BugFix] Fix isaac - bis
  test/test_libs.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/isaacgym.py
Labels: bug, CLA Signed, Environments, Data

#2157 [BugFix] Fit vecnorm out_keys
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#2158 [BugFix] Fix vecnorm state-dicts
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#2137 [Feature] Replay buffer checkpointers
  docs/source/reference/data.rst
  examples/replay-buffers/checkpoint.py
  test/test_rb.py
  torchrl/data/__init__.py
  torchrl/data/replay_buffers/__init__.py
  torchrl/data/replay_buffers/checkpointers.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/utils.py
  tutorials/sphinx-tutorials/rb_tutorial.py
Labels: enhancement, CLA Signed

#2162 [BugFix] Fix VecNorm test in test_collectors.py
  test/test_collector.py
Labels: bug, CLA Signed

#2165 [MINOR] Fix unclear language
  torchrl/modules/tensordict_module/exploration.py
Labels: CLA Signed

#2169 [BugFix] Fix sampling of values from NonTensorSpec
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#2172 [BugFix] Fix sampling in NonTensorSpec
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#2170 [BugFix] Fix async gym env with non-sync resets
  test/test_collector.py
  test/test_env.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
  torchrl/objectives/common.py
Labels: bug, CLA Signed

#2177 [Doc] default_interaction_type doc
  torchrl/modules/tensordict_module/actors.py
Labels: documentation

#2166 [Feature] Add KL approximation in PPO loss metadata
  torchrl/objectives/ppo.py
Labels: enhancement, CLA Signed

#2178 [BugFix] buffer `__iter__` for samplers without replacement + prefetch
  torchrl/data/replay_buffers/replay_buffers.py
Labels: bug, CLA Signed

#2164 [BugFix] Allow zero alpha value for PrioritizedSampler
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: enhancement, CLA Signed

#2182 Revert "[BugFix] buffer `__iter__` for samplers without replacement + prefetch"
  torchrl/data/replay_buffers/replay_buffers.py
Labels: CLA Signed

#2188 [BugFix] `LazyTensorStorage` only allocates data on the given device
  torchrl/data/replay_buffers/storages.py
Labels: bug, CLA Signed

#2190 [BugFix] Fix brax wrapping
  test/test_libs.py
  torchrl/envs/libs/brax.py
Labels: bug, CLA Signed, Environments

#2143 [Feature] Dynamic specs
  examples/envs/gym_conversion_examples.py
  test/mocking_classes.py
  test/test_collector.py
  test/test_env.py
  test/test_libs.py
  test/test_specs.py
  torchrl/_utils.py
  torchrl/collectors/collectors.py
  torchrl/data/tensor_specs.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/libs/gym.py
  torchrl/envs/utils.py
Labels: enhancement, CLA Signed

#2189 [BugFix] Make `_reset` follow `done` shape
  test/mocking_classes.py
  test/test_env.py
  test/test_libs.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed, Environments

#2191 [Doc] Dynamic envs
  docs/source/reference/envs.rst
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
Labels: documentation, CLA Signed

#2192 [Quality] Fix repr of MARL modules
  test/test_modules.py
  torchrl/modules/models/multiagent.py
Labels: CLA Signed, quality
