Repository pytorch/rl, pull requests merged in 2024-01, with the labels that each got.

#1765 [Feature] BurnInTransform
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#1770 [Bug] Minor change burnin transform
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#1774 [BugFix] Fix sampling of last item in SliceSampler
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#1751 [Feature] Open-X Embodiement datasets
  .github/unittest/linux_libs/scripts_openx/environment.yml
  .github/unittest/linux_libs/scripts_openx/install.sh
  .github/unittest/linux_libs/scripts_openx/post_process.sh
  .github/unittest/linux_libs/scripts_openx/run-clang-format.py
  .github/unittest/linux_libs/scripts_openx/run_test.sh
  .github/unittest/linux_libs/scripts_openx/setup_env.sh
  .github/workflows/test-linux-openx.yml
  docs/source/reference/data.rst
  setup.py
  test/test_collector.py
  test/test_exploration.py
  test/test_libs.py
  test/test_transforms.py
  torchrl/_utils.py
  torchrl/data/__init__.py
  torchrl/data/datasets/__init__.py
  torchrl/data/datasets/minari_data.py
  torchrl/data/datasets/openx.py
  torchrl/data/replay_buffers/__init__.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/utils.py
  torchrl/data/replay_buffers/writers.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
Labels: CLA Signed, Data

#1776 [BugFix] Fix documentation of threads for batched envs.
  torchrl/envs/batched_envs.py
Labels: documentation, CLA Signed

#1779 [BugFix, CI] Fix OpenML datasets runs
  .github/unittest/linux_libs/scripts_sklearn/run_test.sh
  test/test_libs.py
Labels: bug, CLA Signed

#1768 [Feature] Composite replay buffers
  docs/source/reference/data.rst
  test/test_rb.py
  torchrl/data/__init__.py
  torchrl/data/datasets/openml.py
  torchrl/data/replay_buffers/__init__.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/writers.py
  torchrl/envs/batched_envs.py
Labels: enhancement, CLA Signed, Data

#1740 [BugFix, Feature] Vmap randomness in losses
  test/test_cost.py
  torchrl/objectives/common.py
  torchrl/objectives/cql.py
  torchrl/objectives/iql.py
  torchrl/objectives/redq.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/utils.py
Labels: bug, enhancement, CLA Signed

#1710 [Docs] Pointers to BenchMARL
  examples/multiagent/README.md
  tutorials/sphinx-tutorials/multiagent_ppo.py
Labels: documentation, CLA Signed

#1781 [Feature] Immutable writer for datasets
  examples/cql/utils.py
  examples/decision_transformer/utils.py
  examples/iql/utils.py
  test/test_libs.py
  torchrl/data/datasets/d4rl.py
  torchrl/data/datasets/minari_data.py
  torchrl/data/datasets/openml.py
  torchrl/data/datasets/openx.py
  torchrl/data/datasets/roboset.py
  torchrl/data/datasets/vd4rl.py
Labels: enhancement, CLA Signed, Data

#1784 [BUG] Missing import for some Samplers in Data module
  torchrl/data/__init__.py
Labels: CLA Signed

#1786 [BugFix] Ensure that infos and samples have the same batch-size in SamplerEnsemble
  torchrl/data/datasets/openx.py
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#1785 [BugFix] Writers extend() method should always return indices in data.device
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/writers.py
Labels: bug, CLA Signed

#1787 [Doc] Revamp envs doc
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/envpool.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/habitat.py
  torchrl/envs/libs/isaacgym.py
  torchrl/envs/libs/jax_utils.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/libs/openml.py
  torchrl/envs/libs/pettingzoo.py
  torchrl/envs/libs/robohive.py
  torchrl/envs/libs/smacv2.py
  torchrl/envs/libs/vmas.py
Labels: documentation, CLA Signed

#1790 [BugFix] Less flaky gym vecenv test
  test/test_libs.py
Labels: CLA Signed

#1791 [CI] Regroup tests
  .github/workflows/test-linux-brax.yml
  .github/workflows/test-linux-cpu.yml
  .github/workflows/test-linux-d4rl.yml
  .github/workflows/test-linux-envpool.yml
  .github/workflows/test-linux-gpu.yml
  .github/workflows/test-linux-gym.yml
  .github/workflows/test-linux-jumanji.yml
  .github/workflows/test-linux-libs.yml
  .github/workflows/test-linux-minari.yml
  .github/workflows/test-linux-olddeps.yml
  .github/workflows/test-linux-openx.yml
  .github/workflows/test-linux-optdeps.yml
  .github/workflows/test-linux-pettingzoo.yml
  .github/workflows/test-linux-robohive.yml
  .github/workflows/test-linux-roboset.yml
  .github/workflows/test-linux-sklearn.yml
  .github/workflows/test-linux-smacv2.yml
  .github/workflows/test-linux-stable-gpu.yml
  .github/workflows/test-linux-vd4rl.yml
  .github/workflows/test-linux-vmas.yml
  .github/workflows/test-linux.yml
  README.md
Labels: CLA Signed, CI, Data

#1794 Update README.md to fix CI banner
  README.md
Labels: CLA Signed

#1788 [Feature] `SamplerWithoutReplacement` state dictionary
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#1799 [BugFix] Higher time threshold for PEnv
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_distributed/scripts/run_test.sh
  .github/unittest/linux_examples/scripts/run_all.sh
  .github/unittest/linux_olddeps/scripts_gym_0_13/run_test.sh
  .github/unittest/linux_optdeps/scripts/run_test.sh
  .github/unittest/windows_optdepts/scripts/run_test.sh
  .github/workflows/test-linux-libs.yml
  torchrl/_utils.py
Labels: bug, CLA Signed

#1798 [Feature] SignTransform
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#1796 [Feature] Extend MaxValueWriter with reduce parameter for the rank_key
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/utils.py
  torchrl/data/replay_buffers/writers.py
Labels: CLA Signed

#1801 [BugFix] Fixes bug in MaxValueWriter tests
  test/test_rb.py
Labels: bug, CLA Signed

#1803 [Performance] faster gym-like class
  torchrl/envs/gym_like.py
Labels: CLA Signed, performance

#1773 [Feature] GenDGRL
  .github/unittest/linux_libs/scripts_gen-dgrl/environment.yml
  .github/unittest/linux_libs/scripts_gen-dgrl/install.sh
  .github/unittest/linux_libs/scripts_gen-dgrl/post_process.sh
  .github/unittest/linux_libs/scripts_gen-dgrl/run-clang-format.py
  .github/unittest/linux_libs/scripts_gen-dgrl/run_test.sh
  .github/unittest/linux_libs/scripts_gen-dgrl/setup_env.sh
  .github/workflows/test-linux-gendgrl.yml
  docs/source/reference/data.rst
  setup.py
  test/test_libs.py
  torchrl/data/datasets/__init__.py
  torchrl/data/datasets/gen_dgrl.py
  torchrl/data/datasets/openx.py
Labels: CLA Signed, Data

#1807 [Performance] Minor improvements to step_and_maybe_reset in batched envs
  test/test_env.py
  torchrl/envs/batched_envs.py
  torchrl/envs/utils.py
Labels: CLA Signed, performance

#1811 [BugFix] Remove select() in favor of empty()
  test/mocking_classes.py
  test/test_shared.py
  test/test_transforms.py
  torchrl/data/datasets/d4rl.py
  torchrl/data/tensor_specs.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1810 [BugFix] Make `TransformedEnv` mirror `allow_done_after_reset` property of base env
  test/mocking_classes.py
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1813 [Doc] Update StepCounter doc
  torchrl/envs/transforms/transforms.py
Labels: documentation, CLA Signed

#1809 [Feature] Improve info_dict reader
  test/test_env.py
  torchrl/envs/batched_envs.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
Labels: enhancement, CLA Signed

#1814 [CI, Minor] Regroup Gen-DGRL CI with other libs
  .github/workflows/test-linux-gendgrl.yml
  .github/workflows/test-linux-libs.yml
Labels: CLA Signed, CI, Data

#1795 [Feature] TorchRL2Gym conversion
  docs/source/reference/envs.rst
  test/_utils_internal.py
  test/mocking_classes.py
  test/test_libs.py
  test/test_specs.py
  test/test_transforms.py
  test/test_utils.py
  torchrl/_utils.py
  torchrl/data/datasets/openml.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensor_specs.py
  torchrl/data/utils.py
  torchrl/envs/__init__.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/libs/_gym_utils.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/jax_utils.py
  torchrl/envs/libs/robohive.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
  torchrl/objectives/ppo.py
Labels: enhancement, CLA Signed, Data

#1821 [BugFix, CI] Fix snapshop imports in stable CI
  .github/unittest/linux/scripts/run_all.sh
  torchrl/_utils.py
Labels: CLA Signed

#1817 [Feature] More flexibility in loading PettingZoo
  torchrl/envs/libs/pettingzoo.py
Labels: enhancement, CLA Signed

#1824 [Docs] Fix doc of ToTensorImage transforms.py
  torchrl/envs/transforms/transforms.py
Labels: documentation, CLA Signed

#1827 [BugFix] Fix device of container generated values in transforms
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1815 [Feature] Atari DQN dataset
  .github/unittest/linux_libs/scripts_ataridqn/environment.yml
  .github/unittest/linux_libs/scripts_ataridqn/install.sh
  .github/unittest/linux_libs/scripts_ataridqn/post_process.sh
  .github/unittest/linux_libs/scripts_ataridqn/run-clang-format.py
  .github/unittest/linux_libs/scripts_ataridqn/run_test.sh
  .github/unittest/linux_libs/scripts_ataridqn/setup_env.sh
  .github/workflows/test-linux-libs.yml
  docs/source/reference/data.rst
  test/test_libs.py
  test/test_rb.py
  torchrl/data/datasets/__init__.py
  torchrl/data/datasets/atari_dqn.py
  torchrl/data/datasets/d4rl.py
  torchrl/data/datasets/minari_data.py
  torchrl/data/datasets/openml.py
  torchrl/data/datasets/openx.py
  torchrl/data/datasets/roboset.py
  torchrl/data/datasets/vd4rl.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
Labels: CLA Signed, Data

#1804 [Feature] Non-functional objectives (PPO, A2C, Reinforce)
  benchmarks/test_objectives_benchmarks.py
  examples/a2c/a2c_atari.py
  examples/a2c/a2c_mujoco.py
  examples/distributed/collectors/multi_nodes/ray_train.py
  examples/impala/impala_multi_node_ray.py
  examples/impala/impala_multi_node_submitit.py
  examples/impala/impala_single_node.py
  examples/multiagent/mappo_ippo.py
  examples/ppo/ppo_atari.py
  examples/ppo/ppo_mujoco.py
  test/test_cost.py
  torchrl/objectives/a2c.py
  torchrl/objectives/ppo.py
  torchrl/objectives/reinforce.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
Labels: enhancement, CLA Signed

#1828 pyproject.toml: remove unknown properties
  pyproject.toml
Labels: CLA Signed

#1829 [Doc, Feature] Doc improvements for video recording and CSV video formats
  .github/unittest/linux_olddeps/scripts_gym_0_13/environment.yml
  test/test_loggers.py
  torchrl/objectives/a2c.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/record/loggers/csv.py
  torchrl/record/loggers/tensorboard.py
  torchrl/record/loggers/wandb.py
  torchrl/record/recorder.py
Labels: documentation, enhancement, CLA Signed

#1831 [Feature] PyTrees in replay buffers
  docs/source/reference/data.rst
  test/test_cost.py
  test/test_rb.py
  test/test_transforms.py
  torchrl/_utils.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/transforms.py
  torchrl/data/replay_buffers/writers.py
  torchrl/envs/transforms/transforms.py
  tutorials/sphinx-tutorials/rb_tutorial.py
Labels: enhancement, CLA Signed, Environments, Data

#1838 [BugFix] Fix sequential step counts
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1836 [Doc] TED format
  docs/source/reference/data.rst
  docs/source/reference/envs.rst
  torchrl/modules/tensordict_module/rnn.py
Labels: documentation, CLA Signed

#1839 [Doc] References to TED
  docs/source/reference/data.rst
  torchrl/data/datasets/atari_dqn.py
  torchrl/data/datasets/d4rl.py
  torchrl/data/datasets/gen_dgrl.py
  torchrl/data/datasets/minari_data.py
  torchrl/data/datasets/openml.py
  torchrl/data/datasets/openx.py
  torchrl/data/datasets/roboset.py
  torchrl/data/datasets/vd4rl.py
Labels: documentation, CLA Signed

#1840 [BugFix] Temporarily set lazy legacy to True
  torchrl/__init__.py
Labels: CLA Signed, Refactoring

#1842 [BugFix] Fix gym info scalar infos
  torchrl/envs/gym_like.py
Labels: bug, CLA Signed

#1832 [Refactor] LAZY_LEGACY_OP=False
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_distributed/scripts/run_test.sh
  .github/unittest/linux_examples/scripts/run_all.sh
  .github/unittest/linux_libs/scripts_ataridqn/run_test.sh
  .github/unittest/linux_libs/scripts_brax/run_test.sh
  .github/unittest/linux_libs/scripts_d4rl/run_test.sh
  .github/unittest/linux_libs/scripts_envpool/run_test.sh
  .github/unittest/linux_libs/scripts_gen-dgrl/run_test.sh
  .github/unittest/linux_libs/scripts_gym/run_test.sh
  .github/unittest/linux_libs/scripts_habitat/run_test.sh
  .github/unittest/linux_libs/scripts_jumanji/run_test.sh
  .github/unittest/linux_libs/scripts_minari/run_test.sh
  .github/unittest/linux_libs/scripts_openx/run_test.sh
  .github/unittest/linux_libs/scripts_pettingzoo/run_test.sh
  .github/unittest/linux_libs/scripts_rlhf/run_test.sh
  .github/unittest/linux_libs/scripts_robohive/setup_env.sh
  .github/unittest/linux_libs/scripts_roboset/run_test.sh
  .github/unittest/linux_libs/scripts_sklearn/run_test.sh
  .github/unittest/linux_libs/scripts_smacv2/run_test.sh
  .github/unittest/linux_libs/scripts_vd4rl/run_test.sh
  .github/unittest/linux_libs/scripts_vmas/run_test.sh
  .github/unittest/linux_olddeps/scripts_gym_0_13/run_test.sh
  .github/unittest/linux_optdeps/scripts/run_test.sh
  .github/unittest/windows_optdepts/scripts/run_test.sh
  test/test_collector.py
  test/test_env.py
  test/test_libs.py
  test/test_shared.py
  test/test_transforms.py
  torchrl/__init__.py
  torchrl/collectors/utils.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vc1.py
  torchrl/envs/transforms/vip.py
  torchrl/envs/utils.py
  torchrl/modules/tensordict_module/rnn.py
  torchrl/trainers/helpers/models.py
Labels: CLA Signed, Refactoring

#1846 [Feature] `serial_for_single` arg in batched envs
  examples/a2c/utils_atari.py
  examples/cql/utils.py
  examples/ddpg/utils.py
  examples/decision_transformer/utils.py
  examples/discrete_sac/utils.py
  examples/distributed/collectors/single_machine/generic.py
  examples/distributed/collectors/single_machine/rpc.py
  examples/distributed/collectors/single_machine/sync.py
  examples/dreamer/dreamer_utils.py
  examples/iql/utils.py
  examples/ppo/utils_atari.py
  examples/redq/utils.py
  examples/sac/utils.py
  examples/td3/utils.py
  test/test_env.py
  torchrl/_utils.py
  torchrl/collectors/collectors.py
  torchrl/envs/batched_envs.py
  torchrl/envs/gym_like.py
  torchrl/objectives/dqn.py
  torchrl/trainers/helpers/collectors.py
  torchrl/trainers/helpers/losses.py
Labels: enhancement, CLA Signed

#1834 [BugFix] Fix VD4RL
  torchrl/data/datasets/vd4rl.py
Labels: CLA Signed, Data

#1826 [Doc] Make tutos runnable without colab
  torchrl/objectives/ppo.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/dqn_with_rnn.py
  tutorials/sphinx-tutorials/multi_task.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
  tutorials/sphinx-tutorials/pendulum.py
  tutorials/sphinx-tutorials/pretrained_models.py
  tutorials/sphinx-tutorials/rb_tutorial.py
  tutorials/sphinx-tutorials/torchrl_demo.py
  tutorials/sphinx-tutorials/torchrl_envs.py
Labels: documentation, CLA Signed

#1848 [Feature, BugFix] Better thread control in penv and collectors
  test/test_collector.py
  test/test_env.py
  torchrl/__init__.py
  torchrl/collectors/collectors.py
  torchrl/envs/batched_envs.py
  torchrl/envs/libs/gym.py
Labels: bug, CLA Signed

#1849 [CI] Update macos image
  .github/workflows/build-wheels-m1.yml
Labels: CLA Signed, CI

#1852 [BugFix] thread setting bug
  test/test_collector.py
  test/test_env.py
  torchrl/__init__.py
  torchrl/collectors/collectors.py
  torchrl/envs/batched_envs.py
Labels: bug, CLA Signed

#1854 Remove unused completed_keys property from StepCounter.
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, quality

#1853 [BugFix] Fix flaky gym penv test
  test/_utils_internal.py
  torchrl/data/datasets/minari_data.py
  torchrl/data/datasets/openx.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/utils.py
  torchrl/data/replay_buffers/writers.py
  torchrl/data/rlhf/utils.py
  torchrl/data/tensor_specs.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/envpool.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/pettingzoo.py
  torchrl/envs/transforms/gym_transforms.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/rlhf.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vc1.py
  torchrl/envs/transforms/vip.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/models/exploration.py
  torchrl/modules/planners/mppi.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/objectives/a2c.py
  torchrl/objectives/deprecated.py
Labels: CLA Signed, CI
