Repository pytorch/rl, pull requests merged in 2024-12, with the labels that each got.

#2622 [BugFix] Better account of composite distributions in PPO
  torchrl/objectives/ppo.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/advantages.py
Labels: bug, CLA Signed

#2624 [Doc] Fix typo in torchrl/modules/distributions/continuous.py
  torchrl/modules/distributions/continuous.py
Labels: documentation, CLA Signed

#2626 [Doc] actor docstrings
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/probabilistic.py
Labels: documentation, CLA Signed

#2627 [CI] Fix dreamer run in SOTA tests
  .github/unittest/linux_sota/scripts/test_sota.py
  sota-implementations/dreamer/dreamer.py
Labels: CLA Signed

#2628 [BugFix] Fix MARL PPO tutorial action_spec call
  tutorials/sphinx-tutorials/multiagent_ppo.py
Labels: CLA Signed

#2629 [BugFix] Fix export aoti_compile_and_package API change
  tutorials/sphinx-tutorials/export.py
Labels: CLA Signed

#2567 [Feature] Add `Stack` transform
  .github/unittest/linux_libs/scripts_unity_mlagents/run_test.sh
  test/mocking_classes.py
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/libs/unity_mlagents.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed, Environments

#2631 [BugFix] Fix typing for python 3.9
  test/mocking_classes.py
Labels: CLA Signed

#2632 [CI] Change doc image
  .github/workflows/docs.yml
Labels: documentation, CLA Signed, CI, ciflow/docs

#2642 [Example] Efficient Trajectory Sampling with CompletedTrajRepertoire
  examples/replay-buffers/filter-imcomplete-trajs.py
Labels: CLA Signed

#2645 [BugFix] Fix init_random_frames=0
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed

#2639 [Quality,BE] Better doc for step_mdp
  torchrl/envs/common.py
  torchrl/envs/utils.py
Labels: CLA Signed

#2640 [Test] More comprehensive tests for auto_spec
  torchrl/envs/common.py
  torchrl/envs/utils.py
Labels: CLA Signed

#2646 [BugFix] Fix typing in chess env
  torchrl/envs/custom/chess.py
Labels: CLA Signed

#2647 [BugFix] Fix typing in llm env
  torchrl/envs/custom/llm.py
Labels: CLA Signed

#2651 [BugFix] Remove raisers in specs
  torchrl/data/tensor_specs.py
Labels: CLA Signed

#2658 [Feature] TD3 compatibility with compile
  sota-implementations/cql/cql_online.py
  sota-implementations/cql/discrete_cql_online.py
  sota-implementations/crossq/crossq.py
  sota-implementations/ddpg/ddpg.py
  sota-implementations/discrete_sac/discrete_sac.py
  sota-implementations/iql/discrete_iql.py
  sota-implementations/iql/iql_online.py
  sota-implementations/sac/config.yaml
  sota-implementations/sac/sac.py
  sota-implementations/td3/config.yaml
  sota-implementations/td3/td3.py
  sota-implementations/td3/utils.py
  test/test_specs.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/tensor_specs.py
  torchrl/modules/tensordict_module/exploration.py
Labels: enhancement, CLA Signed

#2664 [BugFix] Fix output of `SipHash(as_tensor=False)`
  test/test_storage_map.py
  torchrl/data/map/hash.py
Labels: CLA Signed

#2670 [BugFix] Avoid KeyError in slice sampler (for compile)
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#2671 [Performance] Avoid cloning trajs in SliceSampler
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, performance

#2672 [Performance] Accelerate slice sampler on GPU
  torchrl/data/replay_buffers/samplers.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, performance

#2674 [BugFix] Fix batching envs with non tensor data
  torchrl/envs/batched_envs.py
Labels: bug, CLA Signed

#2675 [Example] RNN-based policy example
  examples/agents/recurrent_actor.py
  torchrl/modules/tensordict_module/rnn.py
Labels: CLA Signed
