Repository pytorch/rl, pull requests merged in 2024-11, with the labels that each got.

#2533 [Versioning] v0.6.1
  .github/scripts/td_script.sh
  .github/scripts/version_script.bat
  .github/workflows/wheels-legacy.yml
  setup.py
  version.txt
Labels: CLA Signed

#2529 [Performance] Improve performance of compiled ReplayBuffer
  benchmarks/test_replaybuffer_benchmark.py
  test/test_rb.py
  torchrl/_utils.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/writers.py
Labels: CLA Signed, performance

#2521 [BugFix] Allow expanding TensorDictPrimer transforms shape with parent batch size
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#2540 [BugFix] Remove erroneous python 3.8 compatibility classifier
  setup.py
Labels: CLA Signed

#2541 [Quality] Better warning when c++ binaries failed to be imported
  torchrl/_extension.py
Labels: CLA Signed, quality

#2542 [BugFix] Fix version parsing in extensions
  torchrl/_extension.py
Labels: CLA Signed

#2543 [BugFix] Support for tensor collection in the `PPOLoss`
  test/test_cost.py
  torchrl/objectives/ppo.py
Labels: bug, CLA Signed

#2544 Revert "[BugFix] Allow expanding TensorDictPrimer transforms shape with parent batch size"
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, revert

#2354 [Feature] TensorSpec.enumerate()
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: enhancement, CLA Signed

#2546 [Feature] Add `LossModule.reset_parameters_recursive`
  test/test_cost.py
  torchrl/objectives/common.py
Labels: CLA Signed, Objectives

#2547 [BugFix] Fix call to tree.plot in tests
  test/test_storage_map.py
Labels: CLA Signed

#2545 [Doc] Typo in docs for actors.py
  torchrl/modules/tensordict_module/actors.py
Labels: documentation, CLA Signed

#2548 [Doc] Minor fixes to the docs and type hints
  sota-implementations/ppo/ppo_atari.py
  torchrl/envs/common.py
Labels: documentation, CLA Signed, quality

#2558 [BugFix] Fix tests failing because of https://github.com/pytorch/pytorch/pull/137602
  test/test_trainer.py
  torchrl/trainers/trainers.py
Labels: CLA Signed

#2560 [Doc] Fix tutorials
  tutorials/sphinx-tutorials/torchrl_demo.py
  tutorials/sphinx-tutorials/torchrl_envs.py
Labels: documentation, CLA Signed

#2561 [Doc] torchrl_demo.py revamp
  tutorials/sphinx-tutorials/export.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: CLA Signed

#2563 [BugFix,Doc] Revert dynamic shape in export tutorial
  tutorials/sphinx-tutorials/export.py
Labels: CLA Signed

#2564 [Doc] Add AOTInductor back
  tutorials/sphinx-tutorials/export.py
Labels: CLA Signed

#2565 [Quality] Better TD construction in codebase
  examples/rlhf/utils.py
  sota-implementations/a2c/a2c_atari.py
  sota-implementations/a2c/a2c_mujoco.py
  sota-implementations/cql/cql_online.py
  sota-implementations/impala/impala_multi_node_ray.py
  sota-implementations/impala/impala_multi_node_submitit.py
  sota-implementations/impala/impala_single_node.py
  sota-implementations/ppo/ppo_atari.py
  sota-implementations/ppo/ppo_mujoco.py
  sota-implementations/sac/sac.py
  test/mocking_classes.py
  test/test_env.py
  test/test_modules.py
  test/test_rb.py
  test/test_transforms.py
  torchrl/data/datasets/atari_dqn.py
  torchrl/data/datasets/minari_data.py
  torchrl/data/datasets/roboset.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/utils.py
  torchrl/envs/libs/robohive.py
  torchrl/envs/model_based/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/modules/tensordict_module/rnn.py
  tutorials/sphinx-tutorials/pendulum.py
  tutorials/sphinx-tutorials/torchrl_envs.py
Labels: CLA Signed, quality

#2570 [CI] linux_job_v2.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/test-linux-examples.yml
  .github/workflows/test-linux-habitat.yml
  .github/workflows/test-linux-libs.yml
  .github/workflows/test-linux-rlhf.yml
  .github/workflows/test-linux.yml
Labels: documentation, CI, Environments, Data

#2552 [BugFix] Allow expanding TensorDictPrimer transforms shape with parent batch size
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#2575 [BugFix] Fix collector length with non-empty batch size
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: CLA Signed

#2576 [Minor,Feature] Add `prefix` arg to `timeit.todict`
  torchrl/_utils.py
Labels: CLA Signed

#2577 [Minor,Feature] `group_optimizers`
  docs/source/reference/objectives.rst
  torchrl/objectives/__init__.py
  torchrl/objectives/utils.py
Labels: CLA Signed

#2581 [BE] Add trailing spaces when necessary
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/meltingpot.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/objectives/dqn.py
  torchrl/objectives/iql.py
  torchrl/objectives/sac.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/envs.py
Labels: CLA Signed, quality, ciflow/docs, BE

#2580 [Refactor] Allow safe-tanh for torch >= 2.6.0
  torchrl/modules/distributions/continuous.py
Labels: CLA Signed

#2585 [CI] Revert upgrade of upload image in docs
  .github/workflows/docs.yml
Labels: CLA Signed

#2586 [BugFix] Fix get_default_device calls in older PT versions
  benchmarks/test_objectives_benchmarks.py
  torchrl/envs/libs/vmas.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/advantages.py
Labels: CLA Signed

#2587 [CI] Fix docs upload
  .github/workflows/docs.yml
  benchmarks/test_objectives_benchmarks.py
  torchrl/envs/libs/vmas.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/advantages.py
Labels: CLA Signed

#2591 [BugFix] make buffers zero-dim in exploration modules
  test/_utils_internal.py
  torchrl/modules/tensordict_module/exploration.py
Labels: bug, CLA Signed

#2594 [Versioning] Fix moviepy 2.0 incompatibility
  .github/unittest/linux/scripts/environment.yml
  .github/unittest/linux_distributed/scripts/environment.yml
  .github/unittest/linux_libs/scripts_envpool/environment.yml
  .github/unittest/linux_libs/scripts_gym/environment.yml
  .github/unittest/linux_libs/scripts_robohive/environment.yml
  .github/unittest/linux_olddeps/scripts_gym_0_13/environment.yml
  .github/unittest/linux_sota/scripts/environment.yml
  README.md
  setup.py
  sota-check/README.md
  sota-implementations/multiagent/README.md
Labels: CLA Signed

#2602 [BugFix,Test,Benchmark] Fix graph breaks induced by device context manager
  benchmarks/test_objectives_benchmarks.py
Labels: CLA Signed

#2597 [Feature] Composite.batch_size
  benchmarks/test_objectives_benchmarks.py
Labels: CLA Signed

#2598 [Feature] Composite.pop
  benchmarks/test_objectives_benchmarks.py
Labels: CLA Signed

#2599 [Feature] Composite.separates
  benchmarks/test_objectives_benchmarks.py
Labels: CLA Signed

#2603 [Doc] fix several typos
  torchrl/modules/models/models.py
  tutorials/sphinx-tutorials/getting-started-3.py
  tutorials/sphinx-tutorials/rb_tutorial.py
Labels: documentation, CLA Signed

#2600 [Feature] EnvBase.check_env_specs
  benchmarks/test_objectives_benchmarks.py
Labels: CLA Signed

#2604 [BugFix] Wrong spec returned
  torchrl/envs/common.py
Labels: CLA Signed

#2606 [BugFix] Account for terminating data in SAC losses
  test/test_cost.py
  torchrl/objectives/sac.py
Labels: CLA Signed

#2607 [Doc] Better doc for SliceSampler
  torchrl/data/replay_buffers/samplers.py
Labels: documentation, CLA Signed
