Repository pytorch/rl, pull requests merged in 2024-03, with the labels that each got.

#1980 [BugFix] Fix broken gym tests
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_distributed/scripts/run_test.sh
  .github/unittest/linux_libs/scripts_gym/batch_scripts.sh
  .github/unittest/linux_libs/scripts_gym/run_test.sh
  test/_utils_internal.py
  test/conftest.py
  test/smoke_test_deps.py
  test/test_collector.py
  test/test_env.py
  test/test_libs.py
  test/test_rb.py
  test/test_trainer.py
  test/test_transforms.py
  torchrl/_utils.py
  torchrl/data/tensor_specs.py
  torchrl/envs/batched_envs.py
  torchrl/envs/libs/gym.py
Labels: CLA Signed, Environments, Suitable for minor

#1984 [Feature] Offline objectives reduction parameter
  test/test_cost.py
  torchrl/objectives/cql.py
  torchrl/objectives/decision_transformer.py
  torchrl/objectives/iql.py
Labels: enhancement, CLA Signed

#1985 [BugFix] fix formatting for VideoRecorder docstring
  torchrl/record/recorder.py
Labels: CLA Signed

#1988 [CI] Fixes sympy error by fixing mpmath version
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_distributed/scripts/install.sh
  .github/unittest/linux_examples/scripts/run_all.sh
  .github/unittest/linux_libs/scripts_ataridqn/install.sh
  .github/unittest/linux_libs/scripts_brax/install.sh
  .github/unittest/linux_libs/scripts_d4rl/install.sh
  .github/unittest/linux_libs/scripts_envpool/install.sh
  .github/unittest/linux_libs/scripts_gen-dgrl/install.sh
  .github/unittest/linux_libs/scripts_habitat/install.sh
  .github/unittest/linux_libs/scripts_jumanji/install.sh
  .github/unittest/linux_libs/scripts_minari/install.sh
  .github/unittest/linux_libs/scripts_openx/install.sh
  .github/unittest/linux_libs/scripts_pettingzoo/install.sh
  .github/unittest/linux_libs/scripts_rlhf/install.sh
  .github/unittest/linux_libs/scripts_robohive/install_and_run_test.sh
  .github/unittest/linux_libs/scripts_roboset/install.sh
  .github/unittest/linux_libs/scripts_sklearn/install.sh
  .github/unittest/linux_libs/scripts_smacv2/install.sh
  .github/unittest/linux_libs/scripts_vd4rl/install.sh
  .github/unittest/linux_libs/scripts_vmas/install.sh
  .github/unittest/linux_optdeps/scripts/install.sh
  .github/unittest/windows_optdepts/scripts/install.sh
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .github/workflows/docs.yml
  .github/workflows/nightly_build.yml
Labels: CLA Signed, CI

#1992 [Benchmark] Benchmark slice sampler
  benchmarks/test_replaybuffer_benchmark.py
  torchrl/data/replay_buffers/samplers.py
Labels: CLA Signed, Benchmarks

#1982 [BugFix] Fix strict-length for spanning trajectories
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#1991 [Feature] Better repr of RBs
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/writers.py
Labels: enhancement, CLA Signed, ciflow/docs

#1997 [CI] Unpin mpmath
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_distributed/scripts/install.sh
  .github/unittest/linux_examples/scripts/run_all.sh
  .github/unittest/linux_libs/scripts_ataridqn/install.sh
  .github/unittest/linux_libs/scripts_brax/install.sh
  .github/unittest/linux_libs/scripts_d4rl/install.sh
  .github/unittest/linux_libs/scripts_envpool/install.sh
  .github/unittest/linux_libs/scripts_gen-dgrl/install.sh
  .github/unittest/linux_libs/scripts_habitat/install.sh
  .github/unittest/linux_libs/scripts_jumanji/install.sh
  .github/unittest/linux_libs/scripts_minari/install.sh
  .github/unittest/linux_libs/scripts_openx/install.sh
  .github/unittest/linux_libs/scripts_pettingzoo/install.sh
  .github/unittest/linux_libs/scripts_rlhf/install.sh
  .github/unittest/linux_libs/scripts_robohive/install_and_run_test.sh
  .github/unittest/linux_libs/scripts_roboset/install.sh
  .github/unittest/linux_libs/scripts_sklearn/install.sh
  .github/unittest/linux_libs/scripts_smacv2/install.sh
  .github/unittest/linux_libs/scripts_vd4rl/install.sh
  .github/unittest/linux_libs/scripts_vmas/install.sh
  .github/unittest/linux_optdeps/scripts/install.sh
  .github/unittest/windows_optdepts/scripts/install.sh
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .github/workflows/docs.yml
  .github/workflows/nightly_build.yml
Labels: CLA Signed, CI

#1996 [BugFix] SliceSampler device and index mesh
  test/test_rb.py
  torchrl/data/replay_buffers/writers.py
Labels: bug, CLA Signed

#2000 [CI] Temporarily remove snapshot from CI
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_distributed/scripts/install.sh
  .github/unittest/linux_examples/scripts/run_all.sh
Labels: CLA Signed, CI

#2002 [Performance] Faster DMC
  test/test_cost.py
  test/test_env.py
  torchrl/data/tensor_specs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
Labels: CLA Signed, performance

#2007 [BugFix] Fix mp_start_method for ParallelEnv with single_for_serial
  test/test_env.py
  torchrl/envs/batched_envs.py
Labels: bug, CLA Signed

#2008 [Feature] RB MultiStep transform
  docs/source/reference/data.rst
  test/test_cost.py
  test/test_postprocs.py
  test/test_transforms.py
  torchrl/data/postprocs/postprocs.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/rb_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#2005 [Feature] Adds value clipping in ClipPPOLoss loss
  test/test_cost.py
  torchrl/objectives/a2c.py
  torchrl/objectives/cql.py
  torchrl/objectives/decision_transformer.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dqn.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/functional.py
  torchrl/objectives/iql.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/utils.py
Labels: enhancement, CLA Signed

#2013 [CI] Upgrade 3.8 to 3.10 GPU jobs
  .github/workflows/test-linux.yml
Labels: CLA Signed, CI

#1989 [Feature] Preproc for datasets
  docs/source/reference/data.rst
  test/test_libs.py
  torchrl/_utils.py
  torchrl/data/datasets/__init__.py
  torchrl/data/datasets/atari_dqn.py
  torchrl/data/datasets/common.py
  torchrl/data/datasets/d4rl.py
  torchrl/data/datasets/gen_dgrl.py
  torchrl/data/datasets/minari_data.py
  torchrl/data/datasets/openml.py
  torchrl/data/datasets/openx.py
  torchrl/data/datasets/roboset.py
  torchrl/data/datasets/vd4rl.py
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed, Data

#2020 [BugFix] Fix CQL/IQL pbar update
  sota-implementations/cql/cql_offline.py
  sota-implementations/iql/iql_offline.py
Labels: bug, CLA Signed

#2021 [BugFix] Fix clip_fraction in PO losses
  torchrl/objectives/ppo.py
  torchrl/objectives/utils.py
Labels: bug, CLA Signed

#2018 [Feature] Batched actions wrapper
  docs/source/reference/modules.rst
  examples/agents/multi-step.py
  examples/memmap/memmap_speed_distributed.py
  examples/memmap/memmap_td_distributed.py
  setup.cfg
  test/test_tensordictmodules.py
  torchrl/modules/__init__.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/actors.py
Labels: enhancement, CLA Signed

#2025 [BugFix] Call contiguous on rollout results in TestMultiStepTransform
  test/test_transforms.py
Labels: bug, CLA Signed, Tests

#2027 [Feature] Allow any callable to be used as transform
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/transforms.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#2026 [Refactor] Clearer separation between single_task and share_individual_td
  test/test_collector.py
  test/test_env.py
  torchrl/collectors/collectors.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
Labels: CLA Signed, Refactoring

#2028 [Minor] Support init lazy storages with add
  torchrl/data/replay_buffers/writers.py
Labels: bug, CLA Signed

#2032 [BugFix] Extend with a list of tensordicts
  test/test_rb.py
  torchrl/data/replay_buffers/storages.py
Labels: bug, CLA Signed

#2031 [Performance] Faster slice sampler
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed, performance

#2037 [BugFix] Fix strict_length=True in SliceSampler
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: CLA Signed

#2038 [BugFix] More robust _StepMDP and multi-purpose envs
  test/test_env.py
  test/test_transforms.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed

#2039 [BugFix] union -> intersection in _StepMDP check
  test/test_env.py
  torchrl/envs/utils.py
Labels: CLA Signed

#2040 [Feature] env.append_transform
  torchrl/envs/common.py
Labels: enhancement, CLA Signed

#2034 [BugFix] Robust sync for non_blocking=True
  torchrl/collectors/collectors.py
  torchrl/data/replay_buffers/storages.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed, Environments

#2030 [Feature] BatchSizeTransform
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/data/tensor_specs.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#2042 [Feature] optionally set truncated = True at the end of rollouts
  test/mocking_classes.py
  test/test_collector.py
  test/test_env.py
  torchrl/_utils.py
  torchrl/collectors/collectors.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#2044 [BugFix] Fix slicesampler terminated/truncated signaling
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#2041 [Feature] Fine grained DeviceCastTransform
  test/test_transforms.py
  torchrl/data/tensor_specs.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed
