Repository pytorch/rl, pull requests merged in 2024-08, with the labels that each got.

#2350 [Docs] Use more appropriate ActorValueOperator in PPOLoss documentation
  torchrl/objectives/ppo.py
Labels: CLA Signed

#2348 [Quality] Split utils.h and utils.cpp
  torchrl/csrc/utils.cpp
  torchrl/csrc/utils.h
Labels: CLA Signed, quality

#2342 Fix pip3install typos in Readme
  README.md
Labels: CLA Signed

#2340 [Versioning] Fix torch deps
  setup.py
Labels: CLA Signed, versioning

#2351 [Feature] Store MARL parameters in module
  test/test_modules.py
  torchrl/modules/models/multiagent.py
Labels: enhancement, CLA Signed

#2352 [Doc] Refactor README
  README.md
  docs/ppo.png
Labels: documentation, CLA Signed

#2353 [Refactor] Refactor calls to get without default that raise KeyError
  torchrl/data/replay_buffers/samplers.py
  torchrl/envs/transforms/gym_transforms.py
  torchrl/objectives/a2c.py
  torchrl/objectives/multiagent/qmixer.py
  torchrl/objectives/ppo.py
  torchrl/objectives/reinforce.py
Labels: CLA Signed, Refactoring

#2361 [BugFix] Fix get-related errors
  torchrl/data/tensor_specs.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/tensordict_module/rnn.py
Labels: CLA Signed

#2363 [BugFix, CI] Set `TD_GET_DEFAULTS_TO_NONE=1` in all CIs
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .github/workflows/test-linux-examples.yml
  .github/workflows/test-linux-habitat.yml
  .github/workflows/test-linux-libs.yml
  .github/workflows/test-linux-rlhf.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-windows-optdepts.yml
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed, quality, Tests, Benchmarks, Environments, Data, Examples, Objectives, Collectors, distributions

#2367 [BugFix] Use a RL-specific NO_DEFAULT instead of TD's one
  torchrl/data/tensor_specs.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed

#2374 [CI] pin DMC and mujoco
  .github/unittest/linux/scripts/environment.yml
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_distributed/scripts/environment.yml
  .github/unittest/linux_examples/scripts/environment.yml
  .github/unittest/linux_libs/scripts_envpool/environment.yml
  .github/unittest/linux_olddeps/scripts_gym_0_13/environment.yml
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  docs/requirements.txt
Labels: CLA Signed, CI

#2379 [Feature] RNG for RBs
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/writers.py
Labels: enhancement, CLA Signed

#2383 Correct minor erratum in `knowledge_base` entry
  knowledge_base/VIDEO_CUSTOMISATION.md
Labels: documentation, CLA Signed

#2380 [Feature] Support wrapping IsaacLab environments with GymEnv
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
Labels: bug, enhancement, CLA Signed

#2394 [CI] Fix CI errors
  .github/workflows/wheels-legacy.yml
  setup.py
Labels: CLA Signed, CI

#2396 [CI] Resolve DMC and mujoco pinned versions
  .github/unittest/linux/scripts/environment.yml
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_distributed/scripts/environment.yml
  .github/unittest/linux_examples/scripts/environment.yml
  .github/unittest/linux_libs/scripts_envpool/environment.yml
  .github/unittest/linux_olddeps/scripts_gym_0_13/environment.yml
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  docs/requirements.txt
  sota-implementations/cql/cql_offline.py
  test/test_transforms.py
Labels: CLA Signed

#2395 [Deprecation] Deprecate default num_cells in MLP
  docs/source/reference/collectors.rst
  docs/source/reference/data.rst
  docs/source/reference/envs.rst
  docs/source/reference/modules.rst
  examples/distributed/replay_buffers/distributed_replay_buffer.py
  sota-implementations/redq/redq.py
  test/_utils_internal.py
  test/test_cost.py
  test/test_libs.py
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/collectors/distributed/ray.py
  torchrl/data/datasets/openx.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/utils.py
  torchrl/data/tensor_specs.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/pettingzoo.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/models/batchrenorm.py
  torchrl/modules/models/exploration.py
  torchrl/modules/models/models.py
  torchrl/modules/tensordict_module/common.py
  torchrl/modules/tensordict_module/exploration.py
  torchrl/modules/tensordict_module/rnn.py
  torchrl/objectives/cql.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dqn.py
  torchrl/objectives/functional.py
  torchrl/objectives/iql.py
  torchrl/objectives/multiagent/qmixer.py
  torchrl/objectives/ppo.py
  torchrl/objectives/sac.py
  torchrl/objectives/utils.py
  torchrl/record/recorder.py
  torchrl/trainers/helpers/models.py
  torchrl/trainers/trainers.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/multiagent_competitive_ddpg.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
  tutorials/sphinx-tutorials/rb_tutorial.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: CLA Signed, quality

#2398 [Doc] Fix README example
  README.md
Labels: documentation, CLA Signed
