Repository pytorch/rl, pull requests merged in 2024-07, with the labels that each got.

#2260 [BugFix] Fix non-tensor passage in _StepMDP
  test/test_env.py
  torchrl/envs/batched_envs.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed

#2261 Revert "[BugFix] Fix non-tensor passage in _StepMDP"
  test/test_env.py
  torchrl/envs/batched_envs.py
  torchrl/envs/utils.py
Labels: CLA Signed

#2262 [BugFix] Fix non-tensor passage in _StepMDP
  test/test_env.py
  torchrl/envs/batched_envs.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed

#2266 [Quality] Fix low/high in SOTA implementations
  sota-implementations/a2c/utils_atari.py
  sota-implementations/a2c/utils_mujoco.py
  sota-implementations/cql/utils.py
  sota-implementations/decision_transformer/utils.py
  sota-implementations/iql/utils.py
  sota-implementations/multiagent/maddpg_iddpg.py
  sota-implementations/multiagent/mappo_ippo.py
  sota-implementations/multiagent/sac.py
  sota-implementations/ppo/utils_atari.py
  sota-implementations/ppo/utils_mujoco.py
  sota-implementations/redq/utils.py
  sota-implementations/sac/utils.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/tensordict_module/actors.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/multiagent_competitive_ddpg.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
Labels: CLA Signed, quality

#2268 Fix "Run in Colab" and "Download Notebook" links in tutorials
  docs/source/_static/js/theme.js
  docs/source/_static/js/torchrl_theme.js
  docs/source/_templates/layout.html
Labels: CLA Signed

#2259 [Doc] Add Custom Options for VideoRecorder
  docs/source/reference/knowledge_base.rst
  knowledge_base/VIDEO_CUSTOMISATION.md
  torchrl/record/loggers/csv.py
  tutorials/sphinx-tutorials/getting-started-4.py
Labels: documentation, CLA Signed

#2274 [CI] Fix wheels
  .github/workflows/build-wheels-linux.yml
  .github/workflows/build-wheels-windows.yml
  .github/workflows/wheels.yml
Labels: CLA Signed, CI

#2275 [BugFix] Fix tensordict private imports
  test/test_cost.py
  torchrl/envs/batched_envs.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#2276 Revert "[BugFix] Fix tensordict private imports"
  test/test_cost.py
  torchrl/envs/batched_envs.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#2278 [CI] Pin transformers version to < 4.42.0 to make vmap happy
  .github/unittest/linux_libs/scripts_rlhf/environment.yml
Labels: bug, CLA Signed

#2279 [CI] Fix nightly
  .github/workflows/nightly_build.yml
Labels: CLA Signed, CI

#2281 [CI] python 3.12 nightlies
  .github/workflows/nightly_build.yml
Labels: CLA Signed, CI

#2249 [Algorithm] TD3+BC
  .github/unittest/linux_examples/scripts/run_test.sh
  README.md
  docs/source/reference/objectives.rst
  sota-check/run_td3bc.sh
  sota-check/submitit-release-check.sh
  sota-implementations/td3_bc/config.yaml
  sota-implementations/td3_bc/td3_bc.py
  sota-implementations/td3_bc/utils.py
  test/test_cost.py
  torchrl/objectives/__init__.py
  torchrl/objectives/td3_bc.py
Labels: CLA Signed, new algo

#2285 [Doc] Fix mistakes in docs for Trainer checkpointing backends
  docs/source/reference/trainers.rst
Labels: CLA Signed

#2033 [Algorithm] CrossQ
  .github/unittest/linux_examples/scripts/run_test.sh
  docs/source/reference/modules.rst
  docs/source/reference/objectives.rst
  sota-check/run_crossq.sh
  sota-implementations/crossq/config.yaml
  sota-implementations/crossq/crossq.py
  sota-implementations/crossq/utils.py
  test/test_cost.py
  test/test_modules.py
  torchrl/envs/batched_envs.py
  torchrl/modules/models/__init__.py
  torchrl/modules/models/batchrenorm.py
  torchrl/objectives/__init__.py
  torchrl/objectives/crossq.py
Labels: CLA Signed, new algo

#2286 [Refactor] tensordict._tensordict -> tensordict._C
  test/test_cost.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#2267 [Versioning] v0.5 bump
  .github/scripts/td_script.sh
  .github/unittest/linux_examples/scripts/run_test.sh
  .github/workflows/build-wheels-linux.yml
  .github/workflows/build-wheels-m1.yml
  .github/workflows/build-wheels-windows.yml
  setup.py
  sota-implementations/a2c/a2c_atari.py
  sota-implementations/a2c/a2c_mujoco.py
  sota-implementations/cql/cql_offline.py
  sota-implementations/cql/cql_online.py
  sota-implementations/cql/discrete_cql_online.py
  sota-implementations/ddpg/ddpg.py
  sota-implementations/decision_transformer/dt.py
  sota-implementations/decision_transformer/online_dt.py
  sota-implementations/decision_transformer/utils.py
  sota-implementations/discrete_sac/discrete_sac.py
  sota-implementations/dqn/dqn_atari.py
  sota-implementations/dqn/dqn_cartpole.py
  sota-implementations/dreamer/config.yaml
  sota-implementations/dreamer/dreamer.py
  sota-implementations/dreamer/dreamer_utils.py
  sota-implementations/impala/impala_multi_node_ray.py
  sota-implementations/impala/impala_multi_node_submitit.py
  sota-implementations/impala/impala_single_node.py
  sota-implementations/iql/discrete_iql.py
  sota-implementations/iql/iql_offline.py
  sota-implementations/iql/iql_online.py
  sota-implementations/multiagent/iql.py
  sota-implementations/multiagent/maddpg_iddpg.py
  sota-implementations/multiagent/mappo_ippo.py
  sota-implementations/multiagent/qmix_vdn.py
  sota-implementations/multiagent/sac.py
  sota-implementations/ppo/ppo_atari.py
  sota-implementations/ppo/ppo_mujoco.py
  sota-implementations/sac/sac.py
  sota-implementations/td3/td3.py
  test/test_env.py
  torchrl/collectors/collectors.py
  torchrl/data/tensor_specs.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/vmas.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/record/recorder.py
  version.txt
Labels: CLA Signed, versioning, Environments, Data

#2284 [BugFix] Fix another ctx test
  .github/unittest/linux_optdeps/scripts/environment.yml
  .github/unittest/linux_optdeps/scripts/run_test.sh
  test/test_env.py
Labels: CLA Signed, CI

#2287 [Tests] Fix VMAS tests
  test/test_libs.py
Labels: CLA Signed, Tests, Environments

#2288 [Refactor] Use td.transpose in multi-step transform
  test/test_transforms.py
  torchrl/data/postprocs/postprocs.py
Labels: CLA Signed, Refactoring

#2289 [Doc] Add documentation for masks in tensor specs
  torchrl/data/tensor_specs.py
Labels: documentation, CLA Signed

#2294 [BugFix] `EnvBase._complete_done` to complete "terminated" key properly
  test/test_env.py
  torchrl/envs/common.py
Labels: bug, CLA Signed

#2297 [Feature] Add `modules.OrnsteinUhlenbeckProcessModule`
  docs/source/reference/modules.rst
  test/test_exploration.py
  torchrl/modules/__init__.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/exploration.py
Labels: CLA Signed

#2296 [Feature] Add `modules.AdditiveGaussianModule`
  docs/source/reference/modules.rst
  test/test_exploration.py
  torchrl/modules/__init__.py
  torchrl/modules/tensordict_module/__init__.py
  torchrl/modules/tensordict_module/exploration.py
Labels: enhancement, CLA Signed

#2298 [Refactor] Update all instances of exploration `*Wrapper` to `*Module`
  sota-implementations/ddpg/ddpg.py
  sota-implementations/ddpg/utils.py
  sota-implementations/dreamer/dreamer.py
  sota-implementations/dreamer/dreamer_utils.py
  sota-implementations/multiagent/maddpg_iddpg.py
  sota-implementations/redq/redq.py
  sota-implementations/td3/td3.py
  sota-implementations/td3/utils.py
  sota-implementations/td3_bc/utils.py
  test/test_collector.py
  test/test_tensordictmodules.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/getting-started-1.py
  tutorials/sphinx-tutorials/multiagent_competitive_ddpg.py
Labels: CLA Signed, Refactoring

#2309 [Feature,Doc] `get_stateful_net` and document MARL initialization
  docs/source/reference/modules.rst
  test/test_modules.py
  torchrl/modules/__init__.py
  torchrl/modules/models/__init__.py
  torchrl/modules/models/multiagent.py
Labels: enhancement, CLA Signed

#2310 [Feature,Doc] `get_stateful_net` and document loss initialization
  docs/source/reference/objectives.rst
  test/test_cost.py
  torchrl/modules/models/multiagent.py
  torchrl/objectives/common.py
Labels: CLA Signed

#2320 [Doc] Fix algorithms references in tutos
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/getting-started-1.py
  tutorials/sphinx-tutorials/getting-started-2.py
  tutorials/sphinx-tutorials/getting-started-3.py
  tutorials/sphinx-tutorials/multiagent_competitive_ddpg.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: CLA Signed

#2321 [BugFix] Expose MARL modules
  torchrl/modules/models/multiagent.py
Labels: bug, CLA Signed

#2308 [Refactor] Deprecate NormalParamWrapper
  sota-implementations/redq/utils.py
  test/test_cost.py
  test/test_exploration.py
  test/test_tensordictmodules.py
  torchrl/modules/__init__.py
  torchrl/modules/distributions/__init__.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/modules/tensordict_module/sequence.py
  torchrl/objectives/a2c.py
  torchrl/objectives/cql.py
  torchrl/objectives/crossq.py
  torchrl/objectives/iql.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/td3_bc.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: CLA Signed, Refactoring

#2282 [Versioning] Add python 3.12 to setup.py
  .github/unittest/linux/scripts/environment.yml
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_distributed/scripts/environment.yml
  .github/unittest/linux_olddeps/scripts_gym_0_13/environment.yml
  .github/unittest/linux_optdeps/scripts/environment.yml
  .github/workflows/test-linux.yml
  setup.py
  test/_utils_internal.py
  test/test_transforms.py
Labels: CLA Signed, CI

#2324 [Doc] Better doc for make_tensordict_primer
  torchrl/modules/tensordict_module/rnn.py
Labels: documentation, CLA Signed

#2333 [BugFix] `done = done | truncated` in collector
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed, Collectors

#2330 [Docs] InitTracker cleanup
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#2335 [CI] Windows build fix
  .github/workflows/build-wheels-windows.yml
Labels: CLA Signed, CI

#2337 [CI, Tests] Fix windows tests
  .github/unittest/windows_optdepts/scripts/install.sh
  test/test_transforms.py
Labels: CLA Signed, Tests, CI

#2336 [Feature] Crop Transform
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#2339 [Versioning] windows build - add legacy back and .bat env-script
  .github/scripts/version_script.bat
  .github/workflows/build-wheels-windows.yml
  .github/workflows/wheels-legacy.yml
Labels: CLA Signed, versioning

#2343 [BugFix] Better dumps/loads
  torchrl/data/replay_buffers/checkpointers.py
  torchrl/data/replay_buffers/storages.py
Labels: bug, CLA Signed

#2332 [BugFix] TensorDictPrimer updates spec instead of overwriting
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed
