Repository pytorch/rl, pull requests merged in 2024-02, with the labels that each got.

#1860 [Versioning] v0.4.0
  .github/scripts/m1_script.sh
  .github/workflows/wheels.yml
  setup.py
  version.txt
Labels: CLA Signed

#1863 [Doc] Fix tutos
  docs/source/conf.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/dqn_with_rnn.py
  tutorials/sphinx-tutorials/multi_task.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
  tutorials/sphinx-tutorials/pendulum.py
  tutorials/sphinx-tutorials/pretrained_models.py
  tutorials/sphinx-tutorials/rb_tutorial.py
  tutorials/sphinx-tutorials/torchrl_demo.py
  tutorials/sphinx-tutorials/torchrl_envs.py
Labels: documentation, CLA Signed

#1869 [BugFix] Fix load_state_dict and is_empty td bugfix impact
  test/test_transforms.py
  torchrl/data/replay_buffers/storages.py
Labels: bug, CLA Signed

#1867 [BugFix] better device consistency in EGreedy
  torchrl/modules/tensordict_module/exploration.py
Labels: bug, CLA Signed

#1871 [Doc] Installation instructions in API ref
  docs/source/index.rst
Labels: documentation, CLA Signed

#1866 [BugFix] Fix update in serial / parallel env
  test/mocking_classes.py
  test/test_collector.py
  test/test_env.py
  test/test_tensordictmodules.py
  torchrl/collectors/collectors.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/rlhf/dataset.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/gym_like.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/trainers/trainers.py
Labels: bug, CLA Signed

#1872 [BugFix] check_env_specs seeding logic
  test/test_utils.py
  torchrl/_utils.py
  torchrl/envs/utils.py
Labels: bug, enhancement, CLA Signed

#1874 [BugFix] Fix a bug in SliceSampler, indexes outside sampler lengths were produced
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#1878 [BugFix] state typo in RNG control module
  torchrl/_utils.py
Labels: CLA Signed

#1879 [Refactor] Use filter_empty=True in apply
  test/test_cost.py
  torchrl/collectors/collectors.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/objectives/cql.py
Labels: CLA Signed, Refactoring

#1880 [BugFix] Fix _reset data passing in parallel env
  test/test_env.py
  torchrl/envs/batched_envs.py
Labels: bug, CLA Signed, Suitable for minor

#1882 [Refactor] Use filter_empty=False in apply for params
  torchrl/collectors/collectors.py
  torchrl/envs/transforms/rlhf.py
  torchrl/objectives/common.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/multiagent/qmixer.py
Labels: CLA Signed, Refactoring

#1881 [Doc] Improve PrioritizedSampler doc and get rid of np dependency as much as possible
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
Labels: documentation, CLA Signed, Refactoring, Suitable for minor

#1884 [BugFix] Use traj_terminated in SliceSampler
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed, Suitable for minor

#1875 [Feature] Add PrioritizedSliceSampler
  docs/source/reference/data.rst
  test/test_rb.py
  torchrl/data/replay_buffers/__init__.py
  torchrl/data/replay_buffers/samplers.py
Labels: enhancement, CLA Signed

#1886 [Doc] Getting started tutos
  README.md
  docs/source/index.rst
  docs/source/reference/collectors.rst
  docs/source/reference/data.rst
  docs/source/reference/envs.rst
  docs/source/reference/modules.rst
  docs/source/reference/objectives.rst
  docs/source/reference/trainers.rst
  torchrl/data/replay_buffers/samplers.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/tensordict_module/actors.py
  torchrl/objectives/dqn.py
  torchrl/objectives/utils.py
  torchrl/record/loggers/csv.py
  tutorials/sphinx-tutorials/README.rst
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/dqn_with_rnn.py
  tutorials/sphinx-tutorials/getting-started-0.py
  tutorials/sphinx-tutorials/getting-started-1.py
  tutorials/sphinx-tutorials/getting-started-2.py
  tutorials/sphinx-tutorials/getting-started-3.py
  tutorials/sphinx-tutorials/getting-started-4.py
  tutorials/sphinx-tutorials/getting-started-5.py
  tutorials/sphinx-tutorials/pendulum.py
  tutorials/sphinx-tutorials/rb_tutorial.py
  tutorials/sphinx-tutorials/torchrl_demo.py
  tutorials/sphinx-tutorials/torchrl_envs.py
Labels: documentation, CLA Signed

#1894 Update getting-started-5.py
  tutorials/sphinx-tutorials/getting-started-0.py
  tutorials/sphinx-tutorials/getting-started-1.py
  tutorials/sphinx-tutorials/getting-started-2.py
  tutorials/sphinx-tutorials/getting-started-3.py
  tutorials/sphinx-tutorials/getting-started-4.py
  tutorials/sphinx-tutorials/getting-started-5.py
Labels: CLA Signed

#1897 [BugFix] Solve recursion issue in losses hook
  torchrl/objectives/common.py
Labels: bug, CLA Signed, Suitable for minor

#1898 [BugFix] Fix exploration in losses
  test/test_cost.py
  test/test_exploration.py
  torchrl/objectives/common.py
Labels: bug, CLA Signed

#1901 [BugFix] Fix flaky rb tests
  test/test_rb.py
Labels: bug, CLA Signed, Tests, Suitable for minor

#1900 [BugFix] Adaptable non-blocking for mps and non cuda device in batched-envs
  torchrl/collectors/collectors.py
  torchrl/envs/batched_envs.py
Labels: bug, CLA Signed, Suitable for minor

#1870 [Feature] Replace RewardClipping with SignTransform in Atari examples
  examples/a2c/utils_atari.py
  examples/dqn/utils_atari.py
  examples/impala/utils.py
  examples/ppo/utils_atari.py
Labels: CLA Signed

#1902 [Minor] Remove warnings in test_cost
  test/conftest.py
  test/test_cost.py
  torchrl/objectives/a2c.py
  torchrl/objectives/decision_transformer.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
Labels: bug, CLA Signed, Tests

#1908 [BugFix] Fix Ray collector example error
  examples/distributed/collectors/multi_nodes/lol.py
  torchrl/collectors/distributed/ray.py
Labels: bug, CLA Signed

#1910 [BugFix] Use setdefault in _cache_values
  torchrl/objectives/utils.py
Labels: bug, CLA Signed, Suitable for minor

#1911 [BugFix] Non exclusive terminated and truncated
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed, Suitable for minor

#1909 [BugFix] Make sure ParallelEnv does not overflow mem when policy requires grad
  test/test_env.py
  torchrl/envs/batched_envs.py
Labels: bug, CLA Signed, Suitable for minor

#1913 [Feature] Allow non-sorted keys in CatFrames
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#1917 Fix onw typo
  tutorials/sphinx-tutorials/getting-started-0.py
  tutorials/sphinx-tutorials/getting-started-5.py
Labels: CLA Signed

#1922 [BugFix] Fix KLPENPPOLoss KL computation
  test/test_cost.py
  torchrl/objectives/ppo.py
Labels: bug, CLA Signed, Suitable for minor

#1924 [BugFix] Fix OOB TruncatedNormal LP
  test/test_distributions.py
  torchrl/modules/distributions/continuous.py
Labels: bug, Suitable for minor

#1930 [BugFix, Performance] Fewer imports at root
  torchrl/data/__init__.py
  torchrl/envs/libs/openml.py
  torchrl/envs/transforms/r3m.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/transforms/vip.py
  torchrl/record/recorder.py
Labels: bug, CLA Signed, performance, Suitable for minor

#1931 [BugFix] fix trunc normal device
  test/test_distributions.py
  torchrl/modules/distributions/continuous.py
  torchrl/modules/distributions/truncated_normal.py
Labels: bug, CLA Signed, Suitable for minor

#1927 [BugFix] No grad on collector reset
  torchrl/collectors/collectors.py
Labels: CLA Signed

#1937 [BugFix] Fix replay buffer extension with lists
  test/test_rb.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/writers.py
Labels: bug, CLA Signed, Suitable for minor

#1938 [Minor] Add env.shape attribute
  torchrl/envs/common.py
Labels: bug, documentation, CLA Signed, Suitable for minor

#1921 [Refactor] Faster and more generic multi-agent nets
  test/test_helpers.py
  test/test_modules.py
  torchrl/modules/models/multiagent.py
Labels: CLA Signed, Refactoring

#1940 [BugFix] Fix env.shape regex matches
  test/test_env.py
  test/test_transforms.py
Labels: bug, CLA Signed, Tests, Suitable for minor

#1941 [BugFix] Fix habitat
  .github/unittest/linux_libs/scripts_habitat/setup_env.sh
  test/test_env.py
  torchrl/envs/libs/habitat.py
Labels: bug, CLA Signed, CI, Suitable for minor

#1942 [BugFix] Vmap randomness for value estimator
  torchrl/objectives/value/advantages.py
Labels: bug, CLA Signed, Suitable for minor

#1936 [BugFix] Remove reset on last step of a rollout
  test/test_env.py
  torchrl/envs/common.py
Labels: bug, CLA Signed, Suitable for minor

#1945 [BugFix] Fix examples
  examples/multiagent/mappo_ippo.py
Labels: bug, CLA Signed, Suitable for minor

#1775 [Feature] batched trajectories - SliceSampler compatibility
  docs/source/reference/data.rst
  test/test_rb.py
  test/test_transforms.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/utils.py
  torchrl/data/replay_buffers/writers.py
  torchrl/envs/transforms/transforms.py
  tutorials/sphinx-tutorials/rb_tutorial.py
Labels: enhancement, CLA Signed

#1947 [Feature] Execute rollouts with regular nn.Module instances
  benchmarks/ecosystem/gym_env_throughput.py
  benchmarks/test_collectors_benchmark.py
  examples/distributed/collectors/multi_nodes/delayed_dist.py
  examples/distributed/collectors/multi_nodes/delayed_rpc.py
  examples/distributed/collectors/multi_nodes/generic.py
  examples/distributed/collectors/multi_nodes/rpc.py
  examples/distributed/collectors/multi_nodes/sync.py
  examples/distributed/collectors/single_machine/generic.py
  examples/distributed/collectors/single_machine/rpc.py
  examples/distributed/collectors/single_machine/sync.py
  test/test_collector.py
  test/test_distributed.py
  test/test_env.py
  test/test_libs.py
  torchrl/collectors/__init__.py
  torchrl/collectors/collectors.py
  torchrl/collectors/distributed/utils.py
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  tutorials/sphinx-tutorials/getting-started-3.py
  tutorials/sphinx-tutorials/rb_tutorial.py
Labels: enhancement, CLA Signed

#1946 [Feature] Add time_dim arg in value modules
  test/test_cost.py
  torchrl/objectives/value/advantages.py
Labels: enhancement, CLA Signed

#1951 [BugFix] Update cql docstring example
  torchrl/objectives/cql.py
Labels: bug, CLA Signed, Suitable for minor

#1950 [BugFix] Update iql docstring example
  torchrl/objectives/iql.py
Labels: bug, documentation, CLA Signed, Suitable for minor

#1955 [Refactor] Refactor split_trajectories
  test/test_collector.py
  test/test_postprocs.py
  torchrl/collectors/utils.py
Labels: bug, enhancement, CLA Signed

#1959 [BugFix] Fix batch-size expansion in functionalization
  torchrl/objectives/common.py
Labels: CLA Signed

#1961 [BugFix] Fix slice sampler compatibility with split_trajs and MultiStep
  test/test_rb.py
  torchrl/collectors/utils.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#1953 [BugFix] Fix offline CatFrames
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#1964 [BugFix] Fix offline CatFrames for pixels
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed, Suitable for minor

#1914 [BugFix] Fixed import for importlib
  .github/workflows/build-wheels-m1.yml
  test/smoke_test.py
  torchrl/_extension.py
Labels: bug, CLA Signed, ciflow/binaries/all, Suitable for minor

#1965 [Minor] Use the main branch for the M1 build wheels
  .github/workflows/build-wheels-m1.yml
Labels: CLA Signed

#1956 [Feature] Add reduction parameter to Off-Policy losses.
  test/test_cost.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dqn.py
  torchrl/objectives/redq.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
Labels: enhancement, CLA Signed

#1966 [Feature] Use non-default mp start method in ParallelEnv
  test/test_env.py
  torchrl/_utils.py
  torchrl/envs/batched_envs.py
Labels: enhancement, CLA Signed

#1973 [Refactor] Remove remnant legacy functional calls
  test/test_tensordictmodules.py
  torchrl/envs/utils.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: Refactoring, Suitable for minor

#1968 [BugFix] Refactor reductions
  test/test_cost.py
  torchrl/objectives/a2c.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/decision_transformer.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
Labels: bug, CLA Signed

#1974 [BugFix] Dedicated tests for on policy losses reduction parameter
  test/test_cost.py
  torchrl/objectives/a2c.py
  torchrl/objectives/ppo.py
  torchrl/objectives/reinforce.py
Labels: bug, CLA Signed

#1978 [CI] Install stable torch and tensordict for release tests
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_distributed/scripts/install.sh
  .github/unittest/linux_examples/scripts/run_all.sh
  .github/unittest/linux_libs/scripts_ataridqn/install.sh
  .github/unittest/linux_libs/scripts_brax/install.sh
  .github/unittest/linux_libs/scripts_d4rl/install.sh
  .github/unittest/linux_libs/scripts_envpool/install.sh
  .github/unittest/linux_libs/scripts_gen-dgrl/install.sh
  .github/unittest/linux_libs/scripts_gym/install.sh
  .github/unittest/linux_libs/scripts_habitat/install.sh
  .github/unittest/linux_libs/scripts_jumanji/install.sh
  .github/unittest/linux_libs/scripts_minari/install.sh
  .github/unittest/linux_libs/scripts_openx/install.sh
  .github/unittest/linux_libs/scripts_pettingzoo/install.sh
  .github/unittest/linux_libs/scripts_rlhf/install.sh
  .github/unittest/linux_libs/scripts_robohive/install_and_run_test.sh
  .github/unittest/linux_libs/scripts_roboset/install.sh
  .github/unittest/linux_libs/scripts_sklearn/install.sh
  .github/unittest/linux_libs/scripts_smacv2/install.sh
  .github/unittest/linux_libs/scripts_vd4rl/install.sh
  .github/unittest/linux_libs/scripts_vmas/install.sh
  .github/unittest/linux_olddeps/scripts_gym_0_13/install.sh
  .github/unittest/linux_optdeps/scripts/install.sh
  .github/unittest/windows_optdepts/scripts/install.sh
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .github/workflows/docs.yml
  .github/workflows/nightly_build.yml
  .github/workflows/test-linux-examples.yml
  .github/workflows/test-linux-habitat.yml
  .github/workflows/test-linux-libs.yml
  .github/workflows/test-linux-rlhf.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-macos-cpu.yml
  .github/workflows/test-windows-optdepts.yml
  sota-check/README.md
Labels: CLA Signed, CI, Environments, Data

#1983 [BugFix,CI] Fix Windows CI
  .github/unittest/windows_optdepts/scripts/install.sh
  .github/workflows/test-windows-optdepts.yml
  test/test_env.py
Labels: bug, CLA Signed, Tests, CI, Suitable for minor

#1981 [BugFix] Fix Atari DQN ensembling
  torchrl/data/datasets/atari_dqn.py
  torchrl/data/replay_buffers/samplers.py
Labels: CLA Signed, Data
