Repository pytorch/rl, pull requests merged in 2024-04, with the labels that each got.

#2050 [BugFix] Set default value for `normalize_advantage` to `False`.
  torchrl/objectives/ppo.py
Labels: CLA Signed

#2060 [Documentation] Correct MaskedEnv Example in ActionMask Transform Documentation
  torchrl/envs/transforms/transforms.py
Labels: documentation, CLA Signed

#2061 [BugFix] Fix MPS sync in device transform
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#2063 [CI] Install ffmpeg in Robohive tests
  .github/unittest/linux_libs/scripts_robohive/setup_env.sh
Labels: CLA Signed, CI

#2064 [BugFix] Fix jumanji
  torchrl/envs/libs/jumanji.py
Labels: bug, CLA Signed

#2066 [Minor] Remove duplicate if statement in storages
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed, quality

#2048 [Features] PettingZoo possibility to choose reset strategy
  .github/unittest/linux_libs/scripts_pettingzoo/environment.yml
  .github/unittest/linux_libs/scripts_smacv2/environment.yml
  .github/unittest/linux_libs/scripts_vmas/environment.yml
  test/test_libs.py
  torchrl/envs/libs/pettingzoo.py
Labels: CLA Signed, Environments

#2074 [BugFix] missing annotations import
  torchrl/record/recorder.py
Labels: bug, CLA Signed

#2076 [Feature] Passing lists of keyword arguments in ``reset`` for batched envs
  torchrl/envs/batched_envs.py
Labels: enhancement, CLA Signed

#2062 [BugFix] Fix RoboHiveEnv tests
  .github/unittest/linux_libs/scripts_robohive/environment.yml
  .github/unittest/linux_libs/scripts_robohive/setup_env.sh
  test/test_libs.py
  torchrl/envs/common.py
  torchrl/envs/libs/robohive.py
Labels: CLA Signed, bc breaking, Tests, Environments

#2080 [BugFix] Fix robohive
  test/test_libs.py
  torchrl/envs/libs/robohive.py
Labels: bug, CLA Signed

#2073 [Feature] Auto-resetting envs
  docs/source/reference/envs.rst
  test/mocking_classes.py
  test/test_env.py
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/common.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
Labels: enhancement, CLA Signed

#2084 [CI] Fix CI issues
  .github/unittest/linux_libs/scripts_habitat/setup_env.sh
  .github/workflows/test-linux-habitat.yml
  .github/workflows/test-linux-libs.yml
  test/test_env.py
  test/test_modules.py
  test/test_rb.py
  test/test_transforms.py
  torchrl/data/replay_buffers/samplers.py
Labels: CLA Signed, CI, Environments, Data

#2054 [Environment] Meltingpot
  .github/unittest/linux_libs/scripts_meltingpot/environment.yml
  .github/unittest/linux_libs/scripts_meltingpot/install.sh
  .github/unittest/linux_libs/scripts_meltingpot/post_process.sh
  .github/unittest/linux_libs/scripts_meltingpot/run-clang-format.py
  .github/unittest/linux_libs/scripts_meltingpot/run_test.sh
  .github/unittest/linux_libs/scripts_meltingpot/setup_env.sh
  .github/workflows/test-linux-libs.yml
  docs/source/reference/envs.rst
  setup.py
  test/test_libs.py
  torchrl/envs/__init__.py
  torchrl/envs/libs/__init__.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/meltingpot.py
  torchrl/envs/libs/vmas.py
Labels: enhancement, CLA Signed, Environments

#2087 [BugFix] Fix reward2go for nd tensors
  test/test_cost.py
  torchrl/objectives/value/functional.py
Labels: bug, CLA Signed

#2089 [BugFix] Fix R2Go once more
  test/test_cost.py
  torchrl/objectives/value/functional.py
Labels: bug, CLA Signed

#2090 [BugFix] Fix prints of size error when no file is associated with memmap
  torchrl/data/replay_buffers/storages.py
Labels: bug, CLA Signed, quality

#2071 [Feature] Extend TensorDictPrimer default_value options
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
  torchrl/objectives/value/functional.py
Labels: enhancement, CLA Signed

#2092 [Quality] Capture errors in specs transforms
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, quality

#2091 [BugFix] Use same signature for append_transform in all cases
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#2088 [Quality] Make sure deprec warnings are displayed
  torchrl/_utils.py
Labels: CLA Signed, quality

#2093 Rename SOTA-IMPLEMENTATIONS.md to README.md
  sota-implementations/README.md
Labels: CLA Signed, Refactoring

#2045 [BugFix] to_observation_norm now works with keys which are not strings
  test/test_transforms.py
  torchrl/_utils.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#2058 [Feature] Return depth from RoboHiveEnv
  test/test_libs.py
  torchrl/envs/libs/robohive.py
Labels: enhancement, CLA Signed, Environments

#2094 [BugFix] Remove `split_trajectories`'s reference to `("next", "done")`.
  torchrl/collectors/utils.py
Labels: bug, CLA Signed

#2096 [Minor] Lint
  test/test_libs.py
Labels: CLA Signed

#1918 [BugFix,Refactor] Dreamer refactor
  .github/unittest/linux_examples/scripts/run_test.sh
  docs/source/reference/envs.rst
  sota-implementations/dreamer/config.yaml
  sota-implementations/dreamer/dreamer.py
  sota-implementations/dreamer/dreamer_utils.py
  torchrl/_utils.py
  torchrl/data/replay_buffers/storages.py
  torchrl/envs/__init__.py
  torchrl/envs/common.py
  torchrl/envs/model_based/__init__.py
  torchrl/envs/model_based/common.py
  torchrl/envs/model_based/dreamer.py
  torchrl/envs/transforms/transforms.py
  torchrl/envs/utils.py
  torchrl/modules/__init__.py
  torchrl/modules/models/__init__.py
  torchrl/modules/models/model_based.py
  torchrl/objectives/dreamer.py
  torchrl/record/loggers/csv.py
Labels: bug, CLA Signed

#2099 [Feature] A PixelRenderTransform
  docs/source/reference/data.rst
  docs/source/reference/envs.rst
  docs/source/reference/trainers.rst
  test/test_loggers.py
  test/test_specs.py
  torchrl/data/__init__.py
  torchrl/data/tensor_specs.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/utils.py
  torchrl/record/__init__.py
  torchrl/record/recorder.py
Labels: enhancement, CLA Signed

#2070 [Feature] Video recording in SOTA examples
  .github/unittest/linux_examples/scripts/run_test.sh
  sota-implementations/a2c/a2c_atari.py
  sota-implementations/a2c/a2c_mujoco.py
  sota-implementations/a2c/config_atari.yaml
  sota-implementations/a2c/config_mujoco.yaml
  sota-implementations/a2c/utils_atari.py
  sota-implementations/a2c/utils_mujoco.py
  sota-implementations/cql/cql_offline.py
  sota-implementations/cql/cql_online.py
  sota-implementations/cql/discrete_cql_config.yaml
  sota-implementations/cql/discrete_cql_online.py
  sota-implementations/cql/offline_config.yaml
  sota-implementations/cql/online_config.yaml
  sota-implementations/cql/utils.py
  sota-implementations/ddpg/config.yaml
  sota-implementations/ddpg/ddpg.py
  sota-implementations/ddpg/utils.py
  sota-implementations/decision_transformer/dt.py
  sota-implementations/decision_transformer/dt_config.yaml
  sota-implementations/decision_transformer/odt_config.yaml
  sota-implementations/decision_transformer/online_dt.py
  sota-implementations/decision_transformer/utils.py
  sota-implementations/discrete_sac/config.yaml
  sota-implementations/discrete_sac/discrete_sac.py
  sota-implementations/discrete_sac/utils.py
  sota-implementations/dqn/config_atari.yaml
  sota-implementations/dqn/config_cartpole.yaml
  sota-implementations/dqn/dqn_atari.py
  sota-implementations/dqn/dqn_cartpole.py
  sota-implementations/dqn/utils_atari.py
  sota-implementations/dqn/utils_cartpole.py
  sota-implementations/iql/discrete_iql.py
  sota-implementations/iql/discrete_iql.yaml
  sota-implementations/iql/iql_offline.py
  sota-implementations/iql/iql_online.py
  sota-implementations/iql/offline_config.yaml
  sota-implementations/iql/online_config.yaml
  sota-implementations/iql/utils.py
  sota-implementations/ppo/config_atari.yaml
  sota-implementations/ppo/config_mujoco.yaml
  sota-implementations/ppo/ppo_atari.py
  sota-implementations/ppo/ppo_mujoco.py
  sota-implementations/ppo/utils_atari.py
  sota-implementations/ppo/utils_mujoco.py
  sota-implementations/redq/config.yaml
  sota-implementations/redq/redq.py
  sota-implementations/redq/utils.py
  sota-implementations/sac/config.yaml
  sota-implementations/sac/sac.py
  sota-implementations/sac/utils.py
  sota-implementations/td3/config.yaml
  sota-implementations/td3/td3.py
  sota-implementations/td3/utils.py
  torchrl/envs/transforms/transforms.py
  torchrl/record/loggers/csv.py
  torchrl/record/loggers/utils.py
Labels: enhancement, CLA Signed

#2102 [BugFix] Fix unwanted lazy stacks
  .github/unittest/linux_examples/scripts/run_test.sh
  sota-implementations/redq/redq.py
  test/test_env.py
  test/test_exploration.py
  test/test_tensordictmodules.py
  test/test_transforms.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/storages.py
  torchrl/data/tensor_specs.py
  torchrl/envs/gym_like.py
  torchrl/envs/utils.py
Labels: bug, CLA Signed

#2105 [BugFix] Fix vmas stacks
  test/test_libs.py
  test/test_loggers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/envs/libs/vmas.py
Labels: bug, CLA Signed, Environments, Data

#2106 [CI] Fix Doc CI
  docs/requirements.txt
Labels: CLA Signed

#2107 [Feature] Span slice indices on the left and on the right
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: enhancement, CLA Signed

#2112 [CI] Remove x86 OSX jobs
  .github/workflows/test-macos-cpu.yml
Labels: CLA Signed, CI

#2111 [Feature] invert transforms appended to a RB
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/transforms.py
  torchrl/envs/transforms/transforms.py
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: enhancement, CLA Signed

#2108 [Doc] Per-release doc
  .github/workflows/docs.yml
  docs/source/reference/collectors.rst
  docs/source/reference/envs.rst
  docs/source/reference/trainers.rst
  torchrl/data/__init__.py
  torchrl/data/rlhf/__init__.py
  torchrl/envs/batched_envs.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/transforms/transforms.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/dqn_with_rnn.py
  tutorials/sphinx-tutorials/getting-started-1.py
  tutorials/sphinx-tutorials/getting-started-5.py
  tutorials/sphinx-tutorials/multi_task.py
  tutorials/sphinx-tutorials/multiagent_competitive_ddpg.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
  tutorials/sphinx-tutorials/rb_tutorial.py
  tutorials/sphinx-tutorials/torchrl_demo.py
  tutorials/sphinx-tutorials/torchrl_envs.py
Labels: documentation, CLA Signed, ciflow/docs

#2110 [Versioning] New torch version
  setup.py
Labels: CLA Signed, versioning

#2114 [CI] Schedule workflows for releases
  .github/workflows/docs.yml
  .github/workflows/wheels.yml
Labels: CLA Signed, CI

#2113 [BugFix] Fix colab in tutos
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/coding_ppo.py
  tutorials/sphinx-tutorials/dqn_with_rnn.py
  tutorials/sphinx-tutorials/getting-started-0.py
  tutorials/sphinx-tutorials/getting-started-1.py
  tutorials/sphinx-tutorials/getting-started-2.py
  tutorials/sphinx-tutorials/getting-started-3.py
  tutorials/sphinx-tutorials/getting-started-4.py
  tutorials/sphinx-tutorials/getting-started-5.py
  tutorials/sphinx-tutorials/multi_task.py
  tutorials/sphinx-tutorials/multiagent_competitive_ddpg.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
  tutorials/sphinx-tutorials/pendulum.py
  tutorials/sphinx-tutorials/pretrained_models.py
  tutorials/sphinx-tutorials/rb_tutorial.py
  tutorials/sphinx-tutorials/torchrl_demo.py
  tutorials/sphinx-tutorials/torchrl_envs.py
Labels: bug, documentation, CLA Signed, ciflow/docs

#2072 [BugFix] Fix Isaac
  test/test_libs.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/isaacgym.py
  torchrl/envs/libs/jumanji.py
Labels: bug, CLA Signed, Environments

#2116 [CI] Doc on release tag
  .github/workflows/docs.yml
Labels: CLA Signed

#2117 [CI] Remove all macos x86 jobs
  .github/workflows/nightly_build.yml
  .github/workflows/wheels.yml
Labels: CI

#2118 Revert "[BugFix] Fix Isaac"
  test/test_libs.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/isaacgym.py
  torchrl/envs/libs/jumanji.py
Labels: CLA Signed

#2120 [CI,Doc] Sanitize version
  .github/workflows/docs.yml
  docs/source/conf.py
Labels: documentation, CLA Signed, CI, ciflow/docs

#2121 [CI] Remove mac from wheels
  .github/workflows/wheels.yml
Labels: CLA Signed

#2125 [BugFix] missing deprecated kwargs
  torchrl/data/tensor_specs.py
Labels: CLA Signed

#2130 [Versioning] Allow any torch version for local builds
  .github/scripts/m1_script.sh
  .github/workflows/wheels.yml
  setup.py
Labels: CLA Signed, versioning

#2140 [Minor] Code quality improvements
  examples/envs/gym-async-info-reader.py
  torchrl/envs/libs/gym.py
Labels: CLA Signed, quality

#2129 [Feature] Jumanji from_pixels=True
  .github/unittest/linux_libs/scripts_jumanji/install.sh
  .github/unittest/linux_libs/scripts_jumanji/run_test.sh
  test/test_libs.py
  torchrl/data/tensor_specs.py
  torchrl/envs/libs/jumanji.py
  torchrl/record/recorder.py
Labels: enhancement, CLA Signed, Environments

#2144 [BugFix] Fix async gym when all reset
  examples/envs/gym-async-info-reader.py
  torchrl/collectors/collectors.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed, Environments
