Repository pytorch/rl, pull requests merged in 2024-09, with the labels that each got.

#2409 [Doc] Fix links to tutos
  tutorials/README.md
Labels: documentation, CLA Signed

#2411 [BugFix] pin-mem all rb outputs
  torchrl/data/replay_buffers/replay_buffers.py
Labels: bug, CLA Signed

#2407 [Performance] Faster `CatFrames.unfolding` with `padding="same"`
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed, performance

#2345 [Feature] Add `OpenSpielWrapper` and `OpenSpielEnv`
  .github/unittest/linux_libs/scripts_open_spiel/environment.yml
  .github/unittest/linux_libs/scripts_open_spiel/install.sh
  .github/unittest/linux_libs/scripts_open_spiel/post_process.sh
  .github/unittest/linux_libs/scripts_open_spiel/run-clang-format.py
  .github/unittest/linux_libs/scripts_open_spiel/run_test.sh
  .github/unittest/linux_libs/scripts_open_spiel/setup_env.sh
  .github/workflows/test-linux-libs.yml
  README.md
  docs/source/reference/envs.rst
  setup.py
  test/test_libs.py
  torchrl/envs/__init__.py
  torchrl/envs/libs/__init__.py
  torchrl/envs/libs/openspiel.py
Labels: CLA Signed, Environments

#2413 [CI] Run docs on all PRs
  .github/workflows/docs.yml
Labels: CLA Signed

#2412 [CI] Remove 3.8 jobs
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .github/workflows/docs.yml
  .github/workflows/nightly_build.yml
  .github/workflows/test-linux.yml
  .github/workflows/wheels-legacy.yml
Labels: CLA Signed, CI

#2416 [BugFix] Fix support for MiniGrid envs
  .github/unittest/linux_libs/scripts_gym/environment.yml
  test/test_libs.py
  torchrl/envs/gym_like.py
  torchrl/envs/libs/gym.py
Labels: CLA Signed, Environments

#2417 [BugFix] Fix tictactoeenv.py
  torchrl/envs/custom/tictactoeenv.py
Labels: bug, CLA Signed

#2415 [Feature] Dict specs in vmas
  torchrl/envs/libs/vmas.py
Labels: enhancement, CLA Signed, Environments

#2421 [BugFix] Fix invalid CUDA ID error when loading Bounded variables across devices
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#2423 [Performance] Faster `SliceSampler._tensor_slices_from_startend`
  torchrl/data/replay_buffers/samplers.py
Labels: CLA Signed, performance

#2429 [Doc] Fix policy in getting started
  torchrl/objectives/dqn.py
  tutorials/sphinx-tutorials/getting-started-5.py
Labels: documentation, CLA Signed

#2428 [CI] Fix broken workflows
  .github/unittest/linux_libs/scripts_gym/batch_scripts.sh
  .github/unittest/linux_libs/scripts_gym/environment.yml
  .github/unittest/linux_libs/scripts_gym/install.sh
  .github/unittest/linux_libs/scripts_habitat/setup_env.sh
  .github/unittest/linux_olddeps/scripts_gym_0_13/install.sh
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed, Tests, CI, Environments, Data

#2433 [Performance] Faster `PrioritizedSliceSampler._padded_indices`
  torchrl/data/replay_buffers/samplers.py
Labels: CLA Signed

#2434 [CI] Add aarch64-linux wheels
  .github/workflows/build-wheels-aarch64-linux.yml
Labels: CLA Signed

#2435 [BugFix] compatibility to new Composite dist log_prob/entropy APIs
  test/test_cost.py
  torchrl/objectives/a2c.py
  torchrl/objectives/ppo.py
Labels: bug, CLA Signed

#2438 [Feature] Prevent loading existing mmap files in storages if they already exist
  test/test_rb.py
  torchrl/data/replay_buffers/storages.py
Labels: enhancement, CLA Signed

#2419 [CI] Fix Minari tests
  .github/unittest/linux_libs/scripts_minari/environment.yml
  test/test_libs.py
Labels: CLA Signed, Environments, Data

#2408 [Doc] Document losses in README.md
  README.md
Labels: documentation, CLA Signed

#2440 [Feature] Deterministic sample for Masked one-hot
  torchrl/modules/distributions/discrete.py
Labels: CLA Signed

#2453 [BugFix] Extend RB with lazy stack
  .github/workflows/build-wheels-windows.yml
  .github/workflows/wheels-legacy.yml
  test/test_rb.py
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed

#2454 [BugFix] Extend RB with lazy stack (revamp)
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed

#2456 [BugFix] Fix displaying of tensor sizes in buffers
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed

#2455 [Refactor] Use empty_like in storage construction
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed

#2443 [Doc] Minor fixes to comments and docstrings
  sota-implementations/impala/utils.py
  torchrl/envs/common.py
  torchrl/envs/libs/gym.py
  torchrl/envs/utils.py
  torchrl/modules/distributions/continuous.py
  torchrl/objectives/value/functional.py
  tutorials/sphinx-tutorials/pendulum.py
  tutorials/sphinx-tutorials/torchrl_envs.py
Labels: documentation, CLA Signed, ciflow/docs
