Repository pytorch/rl, pull requests merged in 2024-10, with the labels that each got.

#2460 [BugFix] Fix listing of updated keys in collectors
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed

#2463 [BugFix] Fix Compose input spec transform
  test/test_transforms.py
  torchrl/collectors/collectors.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#2466 [Feature] Ensure transformation keys have the same number of elements
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#2471 [BugFix] Fix DeviceCastTransform
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed

#2475 [BugFix] torch 2.0 compatibility fix
  torchrl/__init__.py
  torchrl/modules/distributions/continuous.py
  torchrl/objectives/utils.py
Labels: CLA Signed

#2476 [Doc] Fix tutorials for release
  tutorials/sphinx-tutorials/torchrl_demo.py
Labels: CLA Signed

#2465 [Feature] Check number of kwargs matches num_workers
  test/test_env.py
  torchrl/envs/batched_envs.py
Labels: enhancement, CLA Signed

#2469 [Feature] Add env wrapper for Unity MLAgents
  .github/unittest/linux_libs/scripts_unity_mlagents/environment.yml
  .github/unittest/linux_libs/scripts_unity_mlagents/install.sh
  .github/unittest/linux_libs/scripts_unity_mlagents/post_process.sh
  .github/unittest/linux_libs/scripts_unity_mlagents/run-clang-format.py
  .github/unittest/linux_libs/scripts_unity_mlagents/run_test.sh
  .github/unittest/linux_libs/scripts_unity_mlagents/setup_env.sh
  .github/workflows/test-linux-libs.yml
  docs/source/reference/envs.rst
  pytest.ini
  test/conftest.py
  test/test_libs.py
  torchrl/envs/__init__.py
  torchrl/envs/libs/__init__.py
  torchrl/envs/libs/unity_mlagents.py
Labels: CLA Signed, Environments

#2489 [CI, BugFix] Fix CI
  test/test_utils.py
  torchrl/objectives/common.py
Labels: CLA Signed

#2023 [Documentation] README rewrite and broken links
  README.md
Labels: documentation, CLA Signed

#2046 [Performance] Faster target update using foreach
  torchrl/objectives/utils.py
Labels: CLA Signed, performance

#2447 [Feature] SAC compatibility with composite distributions.
  test/test_cost.py
  torchrl/objectives/sac.py
Labels: enhancement, CLA Signed

#2492 [Minor] Fix typos in `advantages.py`
  torchrl/objectives/value/advantages.py
Labels: documentation, CLA Signed

#1912 [BugFix] Make sure keys are exclusive in envs
  torchrl/envs/common.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed, Suitable for minor

#2485 [BugFix] Add `MultiCategorical` support in PettingZoo action masks
  .github/unittest/linux_libs/scripts_pettingzoo/environment.yml
  torchrl/envs/libs/pettingzoo.py
Labels: bug, CLA Signed, Environments

#2493 [Minor] Fix test_compose_action_spec
  test/test_transforms.py
Labels: CLA Signed, Tests, Data

#2491 [Feature] Add `group_map` support to MLAgents wrappers
  test/test_libs.py
  torchrl/envs/libs/unity_mlagents.py
Labels: CLA Signed, Environments

#2306 [Feature] TensorDictMap
  docs/source/reference/data.rst
  torchrl/data/replay_buffers/storages.py
  torchrl/objectives/cql.py
  torchrl/objectives/crossq.py
  torchrl/objectives/iql.py
  torchrl/objectives/sac.py
Labels: enhancement, CLA Signed

#2498 [Feature] inline `hold_out_net`
  torchrl/objectives/utils.py
Labels: enhancement, CLA Signed

#2499 [Feature] inline `hold_out_net`
  torchrl/objectives/utils.py
Labels: CLA Signed

#2502 [Doc] Fix wrong default value for flatten_tensordicts in ReplayBufferTrainer
  torchrl/trainers/trainers.py
Labels: documentation, CLA Signed

#2496 [BugFix] Avoid `reshape(-1)` for inputs to `DreamerActorLoss`
  sota-implementations/dreamer/dreamer.py
  test/test_cost.py
  torchrl/objectives/dreamer.py
Labels: CLA Signed, Objectives

#2506 [BugFix] Fix dumps for SamplerWithoutReplacement
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#2510 [CI] Disable compile tests on windows
  test/test_collector.py
Labels: CLA Signed

#2508 [CI] Fix GPU benchmark upload
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
Labels: CLA Signed, CI

#2509 [Versioning] Versions for 0.6
  .github/scripts/td_script.sh
  .github/scripts/version_script.bat
  .github/workflows/wheels-legacy.yml
  setup.py
  version.txt
Labels: CLA Signed, versioning, Environments, Data

#2514 [Benchmark] Add benchmark for compiled `ReplayBuffer.extend/sample`
  benchmarks/test_replaybuffer_benchmark.py
Labels: CLA Signed, Benchmarks

#2517 [Minor] Make fbcode happy with imports
  test/smoke_test_deps.py
  test/test_actors.py
  test/test_collector.py
  test/test_cost.py
  test/test_distributions.py
  test/test_env.py
  test/test_exploration.py
  test/test_helpers.py
  test/test_libs.py
  test/test_modules.py
  test/test_postprocs.py
  test/test_rb.py
  test/test_rlhf.py
  test/test_specs.py
  test/test_trainer.py
  test/test_transforms.py
  test/test_utils.py
Labels: CLA Signed, Tests, Suitable for minor

#2525 [BugFix] Rename RayCollector example file to avoid ImportError
  examples/distributed/collectors/multi_nodes/ray_collect.py
Labels: CLA Signed, Examples

#2519 [Doc] MADDPG bug fix of buffer device and improve explaination
  torchrl/data/replay_buffers/storages.py
  tutorials/sphinx-tutorials/multiagent_competitive_ddpg.py
Labels: documentation, CLA Signed

#2526 [Minor] Fix fbcode imports of mocking classes
  test/test_actors.py
  test/test_collector.py
  test/test_cost.py
  test/test_distributed.py
  test/test_env.py
  test/test_exploration.py
  test/test_helpers.py
  test/test_modules.py
  test/test_rb.py
  test/test_tensordictmodules.py
  test/test_transforms.py
Labels: CLA Signed, Suitable for minor

#2527 [Feature] Send info dict to the storage device in RBs
  torchrl/data/replay_buffers/replay_buffers.py
Labels: enhancement, CLA Signed

#2516 [BugFix] Fix pendulum device
  test/test_env.py
  torchrl/envs/custom/pendulum.py
Labels: bug, CLA Signed

#2531 [Doc] Fix modules doc
  docs/source/reference/modules.rst
  torchrl/modules/tensordict_module/probabilistic.py
Labels: documentation, CLA Signed
