Repository pytorch/rl, pull requests merged in 2025-02, with the labels that each got.

#2738 [Test] Add tests for Tree
  test/test_storage_map.py
Labels: CLA Signed, Tests

#2744 [Test] Skip tokenizer tests if transformers is not in workspace
  .github/unittest/linux_libs/scripts_chess/setup_env.sh
Labels: CLA Signed

#2754 [Doc] Add Tokenizer and auto-reset doc link
  docs/source/reference/envs.rst
  torchrl/envs/common.py
Labels: CLA Signed

#2756 [BugFix] adapt log-prob TD batch-size to advantage shape in PPO
  docs/source/reference/data.rst
  docs/source/reference/objectives.rst
  examples/agents/composite_ppo.py
  test/test_cost.py
  torchrl/objectives/ppo.py
  torchrl/objectives/utils.py
  tutorials/sphinx-tutorials/multiagent_ppo.py
Labels: bug, CLA Signed

#2760 [CI] Fix windows build
  .github/scripts/version_script.bat
  .github/unittest/windows_optdepts/scripts/post_process.sh
  .github/unittest/windows_optdepts/scripts/run_test.sh
  .github/unittest/windows_optdepts/scripts/setup_env.sh
  .github/unittest/windows_optdepts/scripts/unittest.sh
  .github/workflows/build-wheels-m1.yml
  .github/workflows/test-windows-optdepts.yml
  .github/workflows/wheels-legacy.yml
  packaging/wheel/relocate.py
  setup.cfg
Labels: CLA Signed, ciflow/binaries/all

#2761 [CI] Install stable torch/tv in docs when on release branch
  .github/workflows/docs.yml
Labels: CLA Signed

#2764 [CI] Upgrade cu121 to cu124
  .github/unittest/linux_libs/scripts_ataridqn/install.sh
  .github/unittest/linux_libs/scripts_brax/install.sh
  .github/unittest/linux_libs/scripts_chess/install.sh
  .github/unittest/linux_libs/scripts_d4rl/install.sh
  .github/unittest/linux_libs/scripts_envpool/install.sh
  .github/unittest/linux_libs/scripts_gen-dgrl/install.sh
  .github/unittest/linux_libs/scripts_habitat/install.sh
  .github/unittest/linux_libs/scripts_jumanji/install.sh
  .github/unittest/linux_libs/scripts_meltingpot/install.sh
  .github/unittest/linux_libs/scripts_minari/install.sh
  .github/unittest/linux_libs/scripts_open_spiel/install.sh
  .github/unittest/linux_libs/scripts_openx/install.sh
  .github/unittest/linux_libs/scripts_pettingzoo/install.sh
  .github/unittest/linux_libs/scripts_rlhf/install.sh
  .github/unittest/linux_libs/scripts_robohive/install_and_run_test.sh
  .github/unittest/linux_libs/scripts_roboset/install.sh
  .github/unittest/linux_libs/scripts_sklearn/install.sh
  .github/unittest/linux_libs/scripts_smacv2/install.sh
  .github/unittest/linux_libs/scripts_unity_mlagents/install.sh
  .github/unittest/linux_libs/scripts_vd4rl/install.sh
  .github/unittest/linux_libs/scripts_vmas/install.sh
Labels: CLA Signed

#2765 [CI] Longer timeout for windows
  .github/workflows/test-windows-optdepts.yml
Labels: CLA Signed

#2766 [Feature] Add `include_hash_inv` arg to `ChessEnv`
  test/test_env.py
  torchrl/envs/custom/chess.py
Labels: CLA Signed

#2762 Limit warning filter to torchrl
  torchrl/_utils.py
Labels: CLA Signed, Suitable for minor

#2769 [BugFix] Use brackets to get non-tensor data in gym envs
  torchrl/envs/gym_like.py
Labels: bug, CLA Signed, Suitable for minor

#2775 [BE] Make better logits in cost tests
  test/test_env.py
Labels: CLA Signed, Suitable for minor, BE

#2772 [Doc] Fix tutos
  .github/workflows/docs.yml
  docs/source/conf.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
Labels: documentation, CLA Signed, ciflow/docs

#2778 [BugFix] Fix composite setitem
  torchrl/data/tensor_specs.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#2785 [Doc] Fix (and deactivate) tutorials
  .github/workflows/docs.yml
  docs/requirements.txt
  docs/source/conf.py
  docs/source/content_generation.py
  tutorials/sphinx-tutorials/coding_ddpg.py
  tutorials/sphinx-tutorials/coding_dqn.py
  tutorials/sphinx-tutorials/dqn_with_rnn.py
  tutorials/sphinx-tutorials/getting-started-3.py
  tutorials/sphinx-tutorials/multiagent_competitive_ddpg.py
  tutorials/sphinx-tutorials/pretrained_models.py
  tutorials/sphinx-tutorials/rb_tutorial.py
Labels: CLA Signed

#2787 [BugFix] Apply inverse transform to input of `TransformedEnv._reset`
  test/test_env.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#2790 [BE] Ensure abstractmethods are implemented for specs
  torchrl/data/tensor_specs.py
Labels: CLA Signed

#2791 [BugFix] PPOs with composite distribution
  torchrl/objectives/ppo.py
Labels: bug, CLA Signed

#2789 [BugFix] Fix MultiAction reset
  torchrl/data/map/query.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#2792 [Feature] ParallelEnv.consolidate
  test/test_transforms.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/libs/pettingzoo.py
  torchrl/envs/libs/smacv2.py
  torchrl/envs/libs/unity_mlagents.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#2798 [BugFix] Fix calls to _reset_env_preprocess
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#2801 [BugFix] correct dim for resolving dtype in _split_and_pad_sequence
  torchrl/objectives/value/utils.py
Labels: bug, CLA Signed

#2802 [BugFix] Refactor _skip_tensordict to avoid update calls
  torchrl/envs/common.py
Labels: bug, CLA Signed

#2806 [Feature] Timer transform
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#2807 [Feature] reset_time in Timer
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#2808 [BugFix] Fix forced batch-size in _skip_tensordict
  torchrl/envs/common.py
Labels: CLA Signed

#2795 [Doc] Add docstring for `MCTSForest.extend`
  torchrl/data/map/tree.py
Labels: documentation, CLA Signed

#2800 [CI] Fix libs workflows
  .github/unittest/linux_libs/scripts_ataridqn/install.sh
  .github/unittest/linux_libs/scripts_ataridqn/setup_env.sh
  .github/unittest/linux_libs/scripts_brax/run_all.sh
  .github/unittest/linux_libs/scripts_brax/setup_env.sh
  .github/unittest/linux_libs/scripts_chess/install.sh
  .github/unittest/linux_libs/scripts_chess/setup_env.sh
  .github/unittest/linux_libs/scripts_d4rl/install.sh
  .github/unittest/linux_libs/scripts_d4rl/setup_env.sh
  .github/unittest/linux_libs/scripts_envpool/setup_env.sh
  .github/unittest/linux_libs/scripts_gen-dgrl/install.sh
  .github/unittest/linux_libs/scripts_gen-dgrl/setup_env.sh
  .github/unittest/linux_libs/scripts_jumanji/environment.yml
  .github/unittest/linux_libs/scripts_jumanji/setup_env.sh
  .github/unittest/linux_libs/scripts_meltingpot/setup_env.sh
  .github/unittest/linux_libs/scripts_minari/install.sh
  .github/unittest/linux_libs/scripts_minari/setup_env.sh
  .github/unittest/linux_libs/scripts_open_spiel/setup_env.sh
  .github/unittest/linux_libs/scripts_openx/install.sh
  .github/unittest/linux_libs/scripts_openx/setup_env.sh
  .github/unittest/linux_libs/scripts_pettingzoo/setup_env.sh
  .github/unittest/linux_libs/scripts_rlhf/install.sh
  .github/unittest/linux_libs/scripts_rlhf/setup_env.sh
  .github/unittest/linux_libs/scripts_roboset/install.sh
  .github/unittest/linux_libs/scripts_roboset/setup_env.sh
  .github/unittest/linux_libs/scripts_sklearn/install.sh
  .github/unittest/linux_libs/scripts_sklearn/setup_env.sh
  .github/unittest/linux_libs/scripts_smacv2/setup_env.sh
  .github/unittest/linux_libs/scripts_unity_mlagents/setup_env.sh
  .github/unittest/linux_libs/scripts_vd4rl/install.sh
  .github/unittest/linux_libs/scripts_vd4rl/setup_env.sh
  .github/unittest/linux_libs/scripts_vmas/setup_env.sh
  .github/workflows/test-linux-libs.yml
  .github/workflows/test-linux.yml
  knowledge_base/MUJOCO_INSTALLATION.md
  test/test_env.py
  torchrl/envs/common.py
Labels: CLA Signed, CI, Environments, Data

#2820 [CI] Upgrade to cuda 12.8
  .github/unittest/linux_libs/scripts_ataridqn/install.sh
  .github/unittest/linux_libs/scripts_brax/install.sh
  .github/unittest/linux_libs/scripts_chess/install.sh
  .github/unittest/linux_libs/scripts_d4rl/install.sh
  .github/unittest/linux_libs/scripts_envpool/install.sh
  .github/unittest/linux_libs/scripts_gen-dgrl/install.sh
  .github/unittest/linux_libs/scripts_habitat/install.sh
  .github/unittest/linux_libs/scripts_jumanji/install.sh
  .github/unittest/linux_libs/scripts_meltingpot/install.sh
  .github/unittest/linux_libs/scripts_minari/install.sh
  .github/unittest/linux_libs/scripts_open_spiel/install.sh
  .github/unittest/linux_libs/scripts_openx/install.sh
  .github/unittest/linux_libs/scripts_pettingzoo/install.sh
  .github/unittest/linux_libs/scripts_rlhf/install.sh
  .github/unittest/linux_libs/scripts_robohive/install_and_run_test.sh
  .github/unittest/linux_libs/scripts_roboset/install.sh
  .github/unittest/linux_libs/scripts_sklearn/install.sh
  .github/unittest/linux_libs/scripts_smacv2/install.sh
  .github/unittest/linux_libs/scripts_unity_mlagents/install.sh
  .github/unittest/linux_libs/scripts_vd4rl/install.sh
  .github/unittest/linux_libs/scripts_vmas/install.sh
  .github/workflows/benchmarks.yml
  .github/workflows/benchmarks_pr.yml
  .github/workflows/docs.yml
  .github/workflows/test-linux-habitat.yml
  .github/workflows/test-linux-libs.yml
  .github/workflows/test-linux-rlhf.yml
  .github/workflows/test-linux-sota.yml
  .github/workflows/test-linux.yml
Labels: CLA Signed, CI
