Repository pytorch/rl, pull requests merged in 2025-06, with the labels that each got.

#2972 [Feature] Adds per-head entropy coefficients to PPOLoss
  test/test_cost.py
  torchrl/objectives/ppo.py
Labels: enhancement, CLA Signed

#2981 [BugFix] Fixes the Categorical is_in with non-long integer
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#2987 [Doc] Update documentation for _AcceptedKeys in a2c.py
  torchrl/objectives/a2c.py
Labels: CLA Signed

#2988 [Feature] PythonInterpreter transform
  .gitignore
  docs/source/reference/llms.rst
  test/llm/test_envs.py
  torchrl/collectors/collectors.py
  torchrl/data/datasets/d4rl.py
  torchrl/data/datasets/gen_dgrl.py
  torchrl/data/datasets/openx.py
  torchrl/data/llm/chat.py
  torchrl/data/llm/dataset.py
  torchrl/data/llm/utils.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/data/replay_buffers/samplers.py
  torchrl/data/replay_buffers/utils.py
  torchrl/data/tensor_specs.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/libs/isaacgym.py
  torchrl/envs/libs/meltingpot.py
  torchrl/envs/llm/__init__.py
  torchrl/envs/llm/chat.py
  torchrl/envs/llm/reward/ifeval/_instructions.py
  torchrl/envs/llm/transforms/__init__.py
  torchrl/envs/llm/transforms/tools.py
  torchrl/envs/transforms/transforms.py
  torchrl/modules/llm/backends/vllm.py
  torchrl/modules/models/exploration.py
  torchrl/modules/tensordict_module/rnn.py
  torchrl/objectives/a2c.py
  torchrl/objectives/cql.py
  torchrl/objectives/crossq.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/decision_transformer.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dqn.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/iql.py
  torchrl/objectives/llm/grpo.py
  torchrl/objectives/multiagent/qmixer.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/utils.py
  torchrl/objectives/value/functional.py
  torchrl/record/loggers/common.py
  torchrl/record/loggers/csv.py
  torchrl/record/loggers/tensorboard.py
  torchrl/record/recorder.py
  torchrl/trainers/trainers.py
Labels: enhancement, CLA Signed

#2991 [Doc] Document the LLM env and transform API
  docs/source/reference/llms.rst
  torchrl/envs/llm/chat.py
Labels: documentation, CLA Signed

#2993 [Feature] MCPToolTransform
  docs/source/index.rst
  docs/source/reference/llms.rst
  setup.py
  test/llm/test_envs.py
  torchrl/envs/async_envs.py
  torchrl/envs/common.py
  torchrl/envs/llm/__init__.py
  torchrl/envs/llm/chat.py
  torchrl/envs/llm/reward/gsm8k.py
  torchrl/envs/llm/transforms/__init__.py
  torchrl/envs/llm/transforms/browser.py
  torchrl/envs/llm/transforms/tools.py
  tutorials/sphinx-tutorials/llm_browser.py
Labels: enhancement, CLA Signed

#2994 [BugFix] Fix various test failures
  sota-implementations/grpo/grpo_utils.py
  test/test_cost.py
  torchrl/data/llm/chat.py
  torchrl/envs/common.py
  torchrl/envs/llm/transforms/browser.py
  torchrl/envs/llm/transforms/tools.py
  tutorials/sphinx-tutorials/llm_browser.py
Labels: documentation, CLA Signed, Tests, CI, Environments, Data, Environments/Isaac

#3007 [Doc] WeightUpdaterBase docs update after renaming
  torchrl/collectors/weight_update.py
Labels: documentation, CLA Signed

#3012 [BugFix] Fix IFEval GRPO runs
  sota-implementations/grpo/README.md
  sota-implementations/grpo/config/grpo_gsm8k.yaml
  sota-implementations/grpo/config/grpo_ifeval.yaml
  sota-implementations/grpo/config/mode/async.yaml
  sota-implementations/grpo/config/mode/sync.yaml
  torchrl/envs/llm/reward/ifeval/_scorer.py
  torchrl/modules/distributions/discrete.py
  torchrl/objectives/llm/grpo.py
Labels: bug, CLA Signed

#3014 [Feature] return_assistant_tokens_mask for SFT
  test/llm/test_data.py
  torchrl/data/llm/chat.py
Labels: enhancement, CLA Signed

#3015 [Feature] RayLLMCollector.sync_iter
  sota-implementations/grpo/README.md
  sota-implementations/grpo/config/mode/async.yaml
  sota-implementations/grpo/config/mode/sync.yaml
  sota-implementations/grpo/grpo-async.py
  sota-implementations/grpo/grpo-sync.py
  torchrl/collectors/llm/ray_collector.py
Labels: enhancement, CLA Signed

#3016 [BugFix] Fix cuda cache empty in GRPO scripts
  sota-implementations/grpo/grpo-async.py
  sota-implementations/grpo/grpo-sync.py
  torchrl/collectors/llm/ray_collector.py
Labels: CLA Signed

#3020 [Feature] Enabling worker level control on `frames_per_batch`
  test/test_collector.py
  torchrl/collectors/collectors.py
  torchrl/data/llm/chat.py
Labels: enhancement, CLA Signed

#3010 [Feature] Add optional Explained Variance logging
  torchrl/objectives/ppo.py
Labels: enhancement, CLA Signed

#3026 [Feature] Compose.pop
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
  torchrl/objectives/ppo.py
Labels: enhancement, CLA Signed

#3027 [Feature] AddThinkingPrompt transform
  test/llm/test_envs.py
  torchrl/envs/llm/__init__.py
  torchrl/envs/llm/chat.py
  torchrl/envs/llm/datasets/gsm8k.py
  torchrl/envs/llm/datasets/ifeval.py
  torchrl/envs/llm/reward/gsm8k.py
  torchrl/envs/llm/transforms/__init__.py
  torchrl/envs/llm/transforms/dataloading.py
  torchrl/envs/llm/transforms/reason.py
Labels: enhancement, CLA Signed
