Repository pytorch/rl, pull requests merged in 2025-08, with the labels that each got.

#3107 [Feature] Common kwargs for generate across vLLM and Transformers
  test/llm/test_wrapper.py
  torchrl/modules/llm/policies/common.py
  torchrl/modules/llm/policies/transformers_wrapper.py
  torchrl/modules/llm/policies/vllm_wrapper.py
Labels: enhancement, CLA Signed, llm/api

#3102 [BE] Catching common errors in env.rollout and rb.add
  test/mocking_classes.py
  test/test_env.py
  test/test_rb.py
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/envs/common.py
  torchrl/envs/utils.py
Labels: CLA Signed, BE

#3114 [BugFix] Fix parameter conflict resolution and validation tests in Wrappers
  test/llm/test_wrapper.py
  torchrl/modules/llm/policies/common.py
Labels: bug, CLA Signed

#3138 [Doc] fix LSTM example import in rnn.LSTMModule
  torchrl/modules/tensordict_module/rnn.py
Labels: CLA Signed
