Repository pytorch/rl, pull requests merged in 2025-01, with the labels that each got.

#2684 [BugFix] Fix missing min/max alpha clamps in losses
  torchrl/objectives/cql.py
  torchrl/objectives/crossq.py
  torchrl/objectives/decision_transformer.py
  torchrl/objectives/sac.py
Labels: bug, CLA Signed

#2681 [Feature] Linearise reward transform
  docs/source/reference/envs.rst
  test/test_transforms.py
  torchrl/data/__init__.py
  torchrl/envs/__init__.py
  torchrl/envs/transforms/__init__.py
  torchrl/envs/transforms/transforms.py
Labels: enhancement, CLA Signed

#2694 [BugFix, BE] Document and fix fps passing in recorder and loggers
  torchrl/record/loggers/csv.py
  torchrl/record/loggers/mlflow.py
  torchrl/record/loggers/wandb.py
  torchrl/record/recorder.py
Labels: CLA Signed

#2692 [BugFix] PettingZoo dict action spaces
  torchrl/envs/libs/pettingzoo.py
Labels: bug, CLA Signed

#2677 [Feature] multiagent data standardization: PPO advantages
  test/test_cost.py
  torchrl/_utils.py
  torchrl/objectives/ppo.py
Labels: enhancement, CLA Signed

#2696 [BE] Add type annotation for tensor_keys to facilitate auto-complete
  torchrl/objectives/a2c.py
  torchrl/objectives/common.py
  torchrl/objectives/cql.py
  torchrl/objectives/crossq.py
  torchrl/objectives/ddpg.py
  torchrl/objectives/decision_transformer.py
  torchrl/objectives/deprecated.py
  torchrl/objectives/dqn.py
  torchrl/objectives/dreamer.py
  torchrl/objectives/gail.py
  torchrl/objectives/iql.py
  torchrl/objectives/multiagent/qmixer.py
  torchrl/objectives/ppo.py
  torchrl/objectives/redq.py
  torchrl/objectives/reinforce.py
  torchrl/objectives/sac.py
  torchrl/objectives/td3.py
  torchrl/objectives/td3_bc.py
  torchrl/objectives/value/advantages.py
Labels: CLA Signed

#2695 [BugFix,Doc] Fix BATCHED_PIPE_TIMEOUT refs and doc
  torchrl/envs/batched_envs.py
Labels: CLA Signed

#2689 [Doc] Add `Stack` transform link in docs
  docs/source/reference/envs.rst
Labels: documentation, CLA Signed

#2703 [BugFix] Fix partial device transfers in collector
  test/test_collector.py
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed

#2704 [BugFix] Fix device transfer for collectors with init_random_frames mixed devices
  torchrl/collectors/collectors.py
Labels: bug, CLA Signed

#2705 [Example] Using Collector's device args
  examples/collectors/collector_device.py
Labels: CLA Signed, Examples

#2706 [CI] workflow permissions
  .github/workflows/benchmarks.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/nightly_build.yml
  .github/workflows/test-linux-habitat.yml
  .github/workflows/test-linux-libs.yml
  .github/workflows/test-linux-rlhf.yml
  .github/workflows/test-linux-sota.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-windows-optdepts.yml
  .github/workflows/wheels-legacy.yml
Labels: CLA Signed, CI, Environments, Data

#2714 [Test] Add tests for CatFrames with PermuteTransform
  test/test_transforms.py
Labels: CLA Signed

#2715 [Test] Add tests for CatFrames with PermuteTransform
  test/test_transforms.py
Labels: CLA Signed

#2707 [Feature] Log each entropy for composite distributions in PPO
  test/test_cost.py
  torchrl/objectives/ppo.py
Labels: enhancement, CLA Signed

#2718 [BugFix] Account for composite actions in gym
  test/test_libs.py
  torchrl/envs/gym_like.py
Labels: bug, CLA Signed

#2717 [Feature] Ensure out-place policy compatibility in rollout and collectors
  test/test_collector.py
  test/test_env.py
  torchrl/envs/common.py
Labels: CLA Signed

#2708 [Feature] Add deterministic_sample to masked categorical
  torchrl/envs/custom/chess.py
Labels: enhancement, CLA Signed

#2719 [CI] Remove gym import in test_libs.py
  test/test_libs.py
Labels: bug, CLA Signed, CI, Environments, Data

#2720 [CI] Local import of PIL
  test/test_libs.py
  torchrl/envs/custom/chess.py
Labels: CLA Signed, CI, Environments, Data

#2721 [BugFix,Test] test chess rendering
  .github/unittest/linux_libs/scripts_chess/environment.yml
  .github/unittest/linux_libs/scripts_chess/install.sh
  test/test_env.py
  torchrl/envs/custom/chess.py
Labels: CLA Signed

#2722 [CI] minari[hf]
  .github/unittest/linux_libs/scripts_minari/environment.yml
Labels: CLA Signed

#2733 [CI] Cuda 12.4
  .github/workflows/docs.yml
  .github/workflows/test-linux-habitat.yml
  .github/workflows/test-linux-libs.yml
  .github/workflows/test-linux-rlhf.yml
  .github/workflows/test-linux-sota.yml
  .github/workflows/test-linux.yml
Labels: CLA Signed, CI
