Repository pytorch/rl, pull requests merged in 2025-05, with the labels that each got.

#2936 [Quality] Local dtype maps
  torchrl/_utils.py
  torchrl/data/replay_buffers/checkpointers.py
  torchrl/data/replay_buffers/writers.py
Labels: CLA Signed

#2938 Fix typo in "Multi-Agent Reinforcement Learning (PPO) with TorchRL Tutorial" docs
  tutorials/sphinx-tutorials/multiagent_ppo.py
Labels: CLA Signed

#2940 [BugFix] Multiagent PPO tutorial
  tutorials/sphinx-tutorials/multiagent_ppo.py
Labels: bug, CLA Signed, Suitable for minor, tutorials

#2942 [BugFix] Fix single action pass to gym when action key is not "action"
  torchrl/envs/gym_like.py
Labels: CLA Signed

#2943 [BugFix] Fix encode overrides
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: CLA Signed

#2944 [BugFix] NonTensor.encode must return a NonTensorData
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#2949 [Example] RayReplayBuffer usage
  .gitignore
  examples/distributed/replay_buffers/ray_buffer.py
  torchrl/collectors/distributed/ray.py
Labels: CLA Signed

#2954 [Minor] gitignore ipynb
  .gitignore
Labels: CLA Signed

#2960 [BugFix] Remove to(device) for clip_value usage as it's a buffer already
  torchrl/objectives/ppo.py
Labels: CLA Signed

#2953 [Environment] Complete `PettingZooWrapper` state support
  test/test_libs.py
  torchrl/envs/libs/pettingzoo.py
Labels: CLA Signed, Environments

#2962 [BugFix] Enable ndim done states in GAE with shifted=True
  test/test_cost.py
  torchrl/objectives/value/advantages.py
Labels: bug, CLA Signed

#2963 [BugFix] Fix PRB serialization
  test/test_rb.py
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#2964 [Quality] Warning composite mismatch when we should
  torchrl/objectives/ppo.py
Labels: CLA Signed

#2967 [Feature] Colored logger
  torchrl/_utils.py
Labels: CLA Signed

#2969 [BugFix] device in args of PPO losses
  torchrl/objectives/llm/grpo.py
  torchrl/objectives/ppo.py
Labels: CLA Signed

#2971 [Test] Fix device in PPO tests
  test/test_cost.py
  torchrl/objectives/ppo.py
Labels: CLA Signed

#2979 [BugFix] Binary can have empty shape
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#2977 [Performance] Hold a single copy of low/high in bounded specs
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: CLA Signed, performance

#2978 [CI] Fix SDL install
  .github/unittest/linux/scripts/run_all.sh
  .github/unittest/linux_olddeps/scripts_gym_0_13/run_test.sh
  test/test_specs.py
  test/test_transforms.py
  torchrl/data/tensor_specs.py
  torchrl/envs/transforms/llm.py
Labels: CLA Signed, CI

#2982 [Test] Fix error catches
  test/test_actors.py
  test/test_exploration.py
  torchrl/modules/tensordict_module/actors.py
Labels: CLA Signed, Tests
