Repository pytorch/rl, pull requests merged in 2025-07, with the labels that each got.

#3033 [Test] Fix failing test
  test/test_cost.py
  torchrl/envs/llm/transforms/reason.py
Labels: CLA Signed, Tests

#3038 Minor fix: remove unused variables in GRPO scripts
  sota-implementations/grpo/grpo-async.py
  sota-implementations/grpo/grpo-sync.py
Labels: CLA Signed, quality

#3039 [Feature] Make dialog_turns_per_batch optional when yield_completed_trajectories=True
  torchrl/collectors/llm/base.py
Labels: enhancement, CLA Signed

#3046 Disable unrunnable benchmarks cpu test
  .github/workflows/benchmarks_pr.yml
Labels: CLA Signed

#3047 [BugFix] RB.add unsqueezes tds when applying the transform
  test/test_transforms.py
  torchrl/data/replay_buffers/replay_buffers.py
Labels: bug, CLA Signed

#3040 [Feature] Multi-node Ray support for GRPO sota-implementation
  sota-implementations/grpo/README.md
  sota-implementations/grpo/grpo-async-multi-node.sbatch
  sota-implementations/grpo/grpo-async.py
  sota-implementations/grpo/grpo-sync-multi-node.sbatch
  sota-implementations/grpo/grpo-sync.py
  sota-implementations/grpo/run_in_ray_cluster.sh
Labels: enhancement, CLA Signed

#3050 [BugFix] remove update from `add` when transform is not in-place to keep new metadata
  torchrl/data/replay_buffers/replay_buffers.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#3028 [CI] Fix win CI
  .github/unittest/windows_optdepts/scripts/unittest.sh
  test/test_transforms.py
  torchrl/envs/transforms/transforms.py
Labels: bug, CLA Signed, CI

#3057 [BugFix] Load on empty PRB
  torchrl/data/replay_buffers/samplers.py
Labels: bug, CLA Signed

#3077 [BugFix] Fix Binary clone() ops
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed, Suitable for minor

#3080 [BugFix] Fix cross-entropy log-prob for batched input
  test/test_distributions.py
  torchrl/modules/distributions/discrete.py
Labels: bug, CLA Signed

#3070 [BugFix] More robust handling of unbatched data in llm wrappers
  test/llm/test_wrapper.py
  torchrl/modules/llm/policies/common.py
  torchrl/modules/llm/policies/transformers_wrapper.py
  torchrl/modules/llm/policies/vllm_wrapper.py
Labels: bug, CLA Signed

#3083 [Doc] Add missing docstrings in History
  torchrl/data/llm/history.py
Labels: documentation, CLA Signed

#3084 [BugFix] Fix Binary reshaping
  test/test_specs.py
  torchrl/data/tensor_specs.py
Labels: bug, CLA Signed

#3085 [Feature] public methods for SAC
  torchrl/objectives/sac.py
Labels: CLA Signed

#3090 [BugFix] remove storage from ray init params
  torchrl/collectors/distributed/ray.py
Labels: bug, CLA Signed

#3095 [Examples, Docs] Compressed rb nvcomp examples
  .github/unittest/linux/scripts/environment.yml
  benchmarks/test_compressed_storage_benchmark.py
  docs/source/reference/data.rst
  examples/replay-buffers/compressed_replay_buffer.py
  setup.cfg
  test/opengl_rendering.py
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed

#3091 [BugFix] Patching not applied to NonTensorData observations, like Atari's
  torchrl/data/datasets/minari_data.py
Labels: bug, CLA Signed, Environments, Data

#3060 [Feature] Packing
  benchmarks/test_llm.py
  test/llm/test_wrapper.py
  torchrl/data/llm/history.py
  torchrl/modules/llm/policies/common.py
  torchrl/modules/llm/policies/transformers_wrapper.py
  torchrl/modules/llm/policies/vllm_wrapper.py
Labels: enhancement, CLA Signed

#3089 [Versioning] Better usage of pyproject.toml
  .github/workflows/nightly_build.yml
  MANIFEST.in
  README.md
  benchmarks/test_compressed_storage_benchmark.py
  build_nightly.sh
  packaging/build_wheels.sh
  packaging/prepare_nightly_build.py
  packaging/verify_nightly_version.py
  pyproject.toml
  setup.cfg
  setup.py
  torchrl/__init__.py
Labels: CLA Signed, CI, versioning

#3103 [Feature] batching for vllm and transformers wrappers
  test/llm/test_wrapper.py
  torchrl/modules/llm/policies/common.py
  torchrl/modules/llm/policies/transformers_wrapper.py
  torchrl/modules/llm/policies/vllm_wrapper.py
Labels: enhancement, CLA Signed, llm/perf, llm/api

#3104 [Feature] Better batching in LLM Wrappers
  pyproject.toml
  test/llm/test_wrapper.py
  torchrl/modules/llm/policies/common.py
  torchrl/modules/llm/policies/transformers_wrapper.py
  torchrl/modules/llm/policies/vllm_wrapper.py
Labels: enhancement, CLA Signed
