Repository pytorch/rl, pull requests merged in 2025-03, with the labels that each got.

#2829 [Feature] Dynamic specs for make_composite_from_td
  test/test_env.py
  torchrl/envs/utils.py
Labels: CLA Signed

#2838 [BugFix] GAE warning when gamma/lmbda are tensors
  torchrl/objectives/value/advantages.py
Labels: bug, CLA Signed

#2836 [Setup] Remove `distutils` imports
  torchrl/_utils.py
Labels: CLA Signed, setup

#2839 [BugFix] Tree make node fix
  test/test_storage_map.py
  torchrl/data/llm/__init__.py
  torchrl/data/llm/utils.py
  torchrl/data/map/tree.py
Labels: bug, CLA Signed

#2827 Fixed VideoRecorder crash when passing fps
  test/test_transforms.py
  torchrl/record/recorder.py
Labels: bug, CLA Signed

#2850 [Doc] Update discrete.py
  torchrl/modules/distributions/discrete.py
Labels: documentation, CLA Signed

#2862 [BugFix] Fix gc import
  docs/source/_static/js/torchrl_theme.js
  docs/source/_templates/layout.html
  tutorials/sphinx-tutorials/rb_tutorial.py
Labels: bug, documentation, CLA Signed

#2854 [BugFix] Right log-prob size in transformer wrapper
  docs/source/_static/js/torchrl_theme.js
  docs/source/_templates/layout.html
  tutorials/sphinx-tutorials/rb_tutorial.py
Labels: bug, CLA Signed

#2868 [Doc] Fix `EnvCreator`'s doc
  torchrl/envs/env_creator.py
Labels: documentation, CLA Signed

#2869 [BugFix] Fix property getter in RayReplayBuffer
  torchrl/data/replay_buffers/ray_buffer.py
  torchrl/data/replay_buffers/replay_buffers.py
Labels: bug, CLA Signed

#2870 [Refactor] vLLMWrapper class
  test/test_actors.py
  torchrl/modules/__init__.py
  torchrl/modules/llm/__init__.py
  torchrl/modules/llm/common.py
  torchrl/modules/llm/transformers_policy.py
  torchrl/modules/llm/vllm_wrapper.py
Labels: CLA Signed, Refactoring

#2873 [BugFix] Keep original class in LazyStackStorage through lazy_stack
  torchrl/data/replay_buffers/storages.py
Labels: CLA Signed

#2877 [Refactor] Remove from_vllm and from_hf_transformers
  torchrl/modules/llm/transformers_policy.py
  torchrl/modules/llm/vllm_policy.py
Labels: CLA Signed

#2878 [Feature] Allow vLLMWrapper to generate multiple samples
  test/test_actors.py
  torchrl/modules/llm/vllm_wrapper.py
Labels: CLA Signed

#2880 [BugFix] Fix lazy-stack in RBs
  torchrl/data/replay_buffers/storages.py
  torchrl/data/replay_buffers/utils.py
Labels: CLA Signed
