Repository pytorch/rl, pull requests merged in 2025-04, with the labels that each got.

#2882 [Refactor] MaskedCategorical cross_entropy usage for faster loss
  test/test_distributions.py
  torchrl/modules/__init__.py
  torchrl/modules/distributions/discrete.py
  torchrl/modules/llm/common.py
Labels: CLA Signed

#2885 [BugFix] Fix .item() warning on tensors that require grad
  test/test_cost.py
  torchrl/objectives/common.py
Labels: CLA Signed

#2886 [Test] Fix warnings in tests
  test/test_cost.py
  torchrl/envs/custom/chess.py
  torchrl/objectives/ppo.py
Labels: CLA Signed

#2889 [BugFix] Fix compile compatibility of PPO losses
  torchrl/objectives/ppo.py
Labels: bug, CLA Signed

#2879 [Feature] LLM collector
  docs/source/reference/collectors.rst
  test/test_collector.py
  test/test_cost.py
  torchrl/collectors/llm_collector.py
Labels: enhancement, CLA Signed

#2849 [Test] Improve coverage of `ChessEnv.all_actions`
  test/test_env.py
Labels: CLA Signed, Tests

#2851 [Feature] Add option for auto-resetting envs in GAE
  torchrl/objectives/value/advantages.py
Labels: enhancement, CLA Signed

#2903 [BE] `_set_seed` returns `None` + type annotations
  docs/source/reference/envs.rst
  test/mocking_classes.py
  test/test_collector.py
  test/test_cost.py
  test/test_env.py
  test/test_libs.py
  test/test_transforms.py
  torchrl/envs/async_envs.py
  torchrl/envs/batched_envs.py
  torchrl/envs/common.py
  torchrl/envs/custom/chess.py
  torchrl/envs/custom/llm.py
  torchrl/envs/custom/pendulum.py
  torchrl/envs/custom/tictactoeenv.py
  torchrl/envs/libs/brax.py
  torchrl/envs/libs/dm_control.py
  torchrl/envs/libs/envpool.py
  torchrl/envs/libs/gym.py
  torchrl/envs/libs/isaacgym.py
  torchrl/envs/libs/jumanji.py
  torchrl/envs/libs/meltingpot.py
  torchrl/envs/libs/openml.py
  torchrl/envs/libs/openspiel.py
  torchrl/envs/libs/pettingzoo.py
  torchrl/envs/libs/smacv2.py
  torchrl/envs/libs/unity_mlagents.py
  torchrl/envs/libs/vmas.py
  torchrl/envs/model_based/common.py
  torchrl/envs/transforms/transforms.py
  tutorials/sphinx-tutorials/pendulum.py
Labels: CLA Signed, formatting, BE

#2908 [BugFix] Fix KL penalty
  torchrl/envs/transforms/llm.py
Labels: CLA Signed

#2918 [CI] Fix LLM tests
  test/test_env.py
Labels: CLA Signed, CI

#2922 [Docs] Fix doc setup
  sota-implementations/a2c/utils_atari.py
Labels: bug, documentation, CLA Signed

#2925 [Quality] Remove redundant return
  torchrl/data/replay_buffers/samplers.py
Labels: CLA Signed, quality

#2926 [BugFix] Fix slow and flaky non-tensor parallel env test
  test/test_env.py
  torchrl/envs/batched_envs.py
Labels: CLA Signed

#2929 [Environment] Fix lib CI failures
  .github/scripts/td_script.sh
  .github/unittest/linux_libs/scripts_gym/batch_scripts.sh
  .github/unittest/linux_libs/scripts_gym/install.sh
  .github/unittest/linux_libs/scripts_gym/run_test.sh
  .github/unittest/linux_libs/scripts_gym/setup_env.sh
  .github/unittest/linux_olddeps/scripts_gym_0_13/setup_env.sh
  .github/workflows/test-linux-libs.yml
  sota-implementations/a2c/utils_atari.py
  torchrl/data/datasets/atari_dqn.py
  torchrl/envs/libs/smacv2.py
  torchrl/envs/transforms/transforms.py
Labels: CLA Signed

#2931 [Minor] Quick edits to .md files
  CONTRIBUTING.md
  README.md
Labels: CLA Signed

#2934 [CI] Build wheels on osx 15
  .github/workflows/build-wheels-m1.yml
Labels: CLA Signed
